@model PTT_NGROUR.Models.ViewModel.ModelJsonResult<PTT_NGROUR.Models.ViewModel.ModelOmIndex>
@using System.Globalization

@{
    int month = Model.Result.Month.Equals(0) ? 12 : Model.Result.Month;
    string monthName = new DateTime(Model.Result.Year, month, 1).ToString("MMMM", CultureInfo.InvariantCulture);
    var summary = Model.Result.Month.Equals(0) ? Model.Result.Pipeline.Summary.Accumulate : Model.Result.Pipeline.Summary.Current;
}

<h2 class="text-center">
    PM IA Monitoring Results Summary
    @if (!Model.Result.Month.Equals(0))
    {
        @("@ ") @monthName @Model.Result.Year
    }
</h2>

<div id="Summary" class="panel-collapse collapse in">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table-blue table table-bordered table-striped">
                <thead>
                    <tr>
                        <th rowspan="2" colspan="2" class="bg-blue header-title">Pipeline</th>
                        @if (!Model.Result.Month.Equals(0))
                        {
                            <th colspan="5" class="bg-blue text-center">
                                @monthName @Model.Result.Year
                            </th>
                        }
                        <th colspan="5" class="bg-blue text-center" ">
                            January - @monthName @Model.Result.Year (Accumulate)
                        </th>
                    </tr>
                    <tr>
                        @if (!Model.Result.Month.Equals(0))
                        {
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>% Completion</th>
                            <th>% Major<br />% Minor</th>
                            <th>% Overall</th>
                        }
                        <th>Plan</th>
                        <th>Actual</th>
                        <th>% Completion</th>
                        <th>% Major<br />% Minor</th>
                        <th>% Overall</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var type in summary.Select((value, i) => new { i, value }))
                    {
                        foreach (var item in type.value.Activities.Select((value, i) => new { i, value }))
                        {
                            <tr>
                                @if (item.i.Equals(0))
                                {
                                    <td rowspan="@type.value.Activities.Count()" class="text-center text-middle">
                                        <strong class="text-vertical">
                                            @type.value.PM_TYPE
                                        </strong>
                                    </td>
                                }
                                <td class="text-left text-white pm-name text-white"
                                    style="background-color: @Model.Result.PipelineActivity.FirstOrDefault(x => x.PM_ID.Equals(item.value.PM_ID)).PIPELINE_HEX">
                                    @item.value.PM_NAME
                                </td>
                                @if (Model.Result.Month != 0)
                                {
                                    <td><span>@item.value.PLAN.ToString("N0")</span></td>
                                    <td><span>@item.value.ACTUAL.ToString("N0")</span></td>
                                    <td><span>@item.value.PERCENTAGE.ToString("N0")%</span></td>
                                    if (item.i.Equals(0))
                                    {
                                        <td rowspan="@type.value.Activities.Count()" class="text-center text-middle">
                                            <h4>
                                                <strong>@type.value.Percentage.ToString("N0")%</strong>
                                            </h4>
                                        </td>
                                    }
                                    if (type.i.Equals(0) && item.i.Equals(0))
                                    {
                                        <td rowspan="@summary.Sum(x => x.Activities.Count())" class="text-center text-middle">
                                            <h3>
                                                <strong>
                                                    @Model.Result.Pipeline.Summary.CurrentOrverallPercentage.ToString("N0")%
                                                </strong>
                                            </h3>
                                        </td>
                                    }
                                }

                                <td><span>@Model.Result.Pipeline.Summary.Accumulate[type.i].Activities[item.i].PLAN.ToString("N0")</span></td>
                                <td><span>@Model.Result.Pipeline.Summary.Accumulate[type.i].Activities[item.i].ACTUAL.ToString("N0")</span></td>
                                <td><span>@Model.Result.Pipeline.Summary.Accumulate[type.i].Activities[item.i].PERCENTAGE.ToString("N0")</span></td>
                                @if (item.i.Equals(0))
                                {
                                    <td rowspan="@type.value.Activities.Count()" class="text-center text-middle">
                                        <h4>
                                            <strong>
                                                @Model.Result.Pipeline.Summary.Accumulate[type.i].Percentage.ToString("N0")%
                                            </strong>
                                        </h4>
                                    </td>
                                }
                                @if (type.i.Equals(0) && item.i.Equals(0))
                                {
                                    <td rowspan="@summary.Sum(x => x.Activities.Count())" class="text-center text-middle">
                                        <h3>
                                            <strong>
                                                @Model.Result.Pipeline.Summary.AccumulateOrverallPercentage.ToString("N0")%
                                            </strong>
                                        </h3>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />

        <!-- Summary Gatestation Table-->
        <div class="table-responsive">
            <table class="table-blue table table-bordered table-striped">
                <thead>
                    <tr>
                        <th rowspan="2" class="bg-blue header-title">Equipment<br />(Gate & BV & Reducing St.)</th>
                        <th colspan="4" class="bg-blue text-center" ">Month</th>
                        <th colspan="4" class="bg-blue text-center" ">Month - Month Year (Accumulate)</th>
                    </tr>
                    <tr>

                        <th>Plan</th>
                        <th>Actual</th>
                        <th>% completion</th>
                        <th>% Overall</th>
                        <th>Plan</th>
                        <th>Actual</th>
                        <th>% completion</th>
                        <th>% Overall</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="text-left">ML 1 : (Visual Inspection) (จำนวนสถานีฯ)</td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td rowspan="3"><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td rowspan="3"><span></span></td>


                    </tr>
                    <tr>
                        <td class="text-left"><span>ML 2 : (Calibration, Testing) (จำนวนสถานีฯ)</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>

                    </tr>
                    <tr>
                        <td class="text-left"><span>ML 3 : (Overhual, Replacement) (จำนวนสถานีฯ)</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>

                    </tr>

                </tbody>
            </table>
        </div>
        <br />

        <!-- Summary Metering Table-->
        <div class="table-responsive">
            <table class="table-blue table table-bordered table-striped">
                <thead>
                    <tr>
                        <th rowspan="2" class="bg-blue header-title">Equipment<br />(M/R St.)</th>
                        <th colspan="4" class="bg-blue text-center">Month</th>
                        <th colspan="4" class="bg-blue text-center">Month - Month Year (Accumulate)</th>
                    </tr>
                    <tr>

                        <th>Plan</th>
                        <th>Actual</th>
                        <th>% completion</th>
                        <th>% Overall</th>
                        <th>Plan</th>
                        <th>Actual</th>
                        <th>% completion</th>
                        <th>% Overall</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="text-left">ML 1 : (Visual Inspection) (จำนวนสถานีฯ)</td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td rowspan="3"><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td rowspan="3"><span></span></td>


                    </tr>
                    <tr>
                        <td class="text-left"><span>ML 2 : (Calibration, Testing) (จำนวนสถานีฯ)</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>

                    </tr>
                    <tr>
                        <td class="text-left"><span>ML 3 : (Overhual, Replacement) (จำนวนสถานีฯ)</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>