<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>@ViewBag.Title - NGROUR</title>
    @*  <script src="~/Scripts/chart.js"></script>*@
    
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

    @*  @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>*@

    @{
        PTT_NGROUR.Models.User userrole = new PTT_NGROUR.Models.User();
    }

   @*<script src="~/Scripts/bootstrap.min.js"></script>*@


    <link href="~/Style/create.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
    @*<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>*@
    @RenderSection("style", false)
    <style>
        .nav > li > a:hover,.nav > li > a:focus {
            background-color: rgba(0,0,0,.2);
        }
        .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
            background-color: rgba(0,0,0,.2);
        }
        
    </style>
    <script type="text/javascript">
        (function (document, navigator, standalone) {
            // prevents links from apps from oppening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location = document.location, stop = /^(a|html)$/i;
                document.addEventListener('click', function (e) {
                    curnode = e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode = curnode.parentNode;
                    }
                    // Condidions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if ('href' in curnode && (curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host))) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                }, false);
            }
        })(document, window.navigator, 'standalone');
    </script>
</head>
<body>
    <link rel="shortcut icon" href="#" />

    <div id="container" class="bg-grey-100">
        <!--   <div class="cover bg-center" style="background-image:url(http://localhost:13788/Content/Images/bg3.jpg);">-->

        <div id="header">
            <nav class="navbar bg-blue5 hidden-xs hidden-sm  white" style="margin-bottom:0rem;border-radius:0px;padding:0rem 2rem 0rem 2rem">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("MenuWeb", "Home")" class=" navbar-brand">
                            <img id="logo" width="58" style="margin-top:-.5rem;" src="~/Content/logo/ngrwhite.png" />
                        </a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        @{Html.RenderAction("MenuBar", "Authorize");}
                        <ul class="nav navbar-nav navbar-right">
                            
@if (Request.IsAuthenticated)
                                {<li class="dropdown">
                                <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="white">@Html.Encode(User.Identity.Name) <span class="caret"></span></span></a>
                                <ul class="dropdown-menu ">
                                    <li><a href="@Url.Action("ResetPassword", "User", new { id = userrole.Username , IsExpired = false  }, null)">
                                            <i class="fa fa-user text-grey" aria-hidden="true"></i>
                                            <span class="text-grey txt-normal h6">&nbsp;Change Password</span></a></li>
                                 <li><a href="@Url.Action("Logout", "User")">
                                         <i class=" fa fa-power-off text-grey" aria-hidden="true">
    </i>
    <span class="text-grey txt-normal h6">&nbsp;Sign Out</span>
</a>
                                    </li>
                                </ul>   </li>}
                           
                            

                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>





            <!--        Mobile version     -->
            <div class="bg-blue5 shadow-2 hidden-lg hidden-md" style="padding: 1rem 1rem; display: table;width:100%">
                
                    <div class=" w-nav-menu col-sm-4" style=" float: left; margin-top: 0.8rem; padding-left: 0rem">
                        <a class="white no-underline form-inline pointer" href="javascript:void(0);" onclick="javascript:history.go(-1);" style=" float: left; line-height: 3px;" >

                            <i class="fa fa-angle-left fa-lg v-mid cl" aria-hidden="true"></i>
                            <span class=" h5  "> Back</span>
                        </a>
                    </div>
                
               
                    <div class="w-nav-menu col-sm-4 v-mid" style=" float: left">
                        <center><img id="logo" width="60" src="~/Content/logo/ngrwhite.png" /></center>
                    </div>
                
                <div class="w-nav-menu col-sm-4 " style="float:right">

                </div>


            </div>
            <div style="float:none"></div>

        </div>


        <!--    Body    -->
        <!--<div id="body" class="bg-gray3 pb3-ns pb3-m">-->
        
        <div class=" w-100 mb1  hidden-xs hidden-sm bg-white shadow-bottom">
            <div class="container-fluid ">
                <div class=" lato pull-left" style="padding-left: 2rem; padding-top: 1rem; padding-bottom: 1rem;"> @ViewBag.Title</div>
                <div class=" lato pull-right" style="padding-right: 2rem; padding-top: 1rem; padding-bottom: 1rem"> @Html.MvcSiteMap().SiteMapPath()</div>
            </div>
        </div>
        <div id="body" class="bg-grey-100 ">

           


            @RenderBody()
            <br />
        </div>


        <!--<div class="f7 hidden-lg">
            <div class="f8 gray6 mt3" id="footer">
                <center class="nt-footer">Copyright &copy; @DateTime.Now.Year PTT DIGITAL Solutions Co.ltd.</center>
            </div>




            <div class="dt fl  w-100 h-menu-footer no-underline  bg-white ph0 bt bb b--black-05 " id="footer-fix">
                <a href="@Url.Action("Index", "Dashboard")" class="no-underline dtc v-mid tc w-20 menu_hover">
                    <i class="fa fa-tachometer fa-lg gray7" aria-hidden="true" id="dashboard"></i>
                    <div class="gray6 f-menu-footer pt1" id="t_dashboard">Dashboard</div>
                </a>
                <a href="@Url.Action("Index", "Utilization")" class="no-underline dtc v-mid tc w-20 menu_hover">
                    <div class="dib">
                        <i class="fa fa-map-marker fa-lg gray7" aria-hidden="true" id="utilization"></i>
                        <div class="gray6 f-menu-footer pt1" id="t_utilization">Utilization</div>
                    </div>
                </a>
                <div class="dtc v-mid tc w-20 menu_hover">
                    <div class="dib">
                        <i class="fa fa-cogs fa-lg gray7" aria-hidden="true" id="o_and_m"></i>
                        <div class="gray6 f-menu-footer pt1" id="text_o_and_m">O & M</div>
                    </div>
                </div>
                <div class="dtc v-mid tc w-20 menu_hover">
                    <div class="dib ">
                        <i class="fa fa-exclamation-triangle fa-lg gray7" aria-hidden="true" id="risk_manage"></i>
                        <div class="gray6 f-menu-footer pt1" id="t_risk_manage">Risk Manageent</div>
                    </div>
                </div>
                <div class="dtc v-mid tc w-20 menu_hover">
                    <a class="tc" href="@Url.Action("MenuMobile", "User")">
                        <div class="dib">
                            <i class="fa fa-bars fa-lg gray7" aria-hidden="true" id="user"></i>
                            <div class="gray6 f-menu-footer pt1">Menu</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>-->


        <div class="pt3 hidden-sm hidden-md hidden-xs">
            <div class="f8 black" id="footer">
                <center class="h6" style="margin-top:0;margin-bottom:0">Copyright &copy; @DateTime.Now.Year PTT DIGITAL Solutions Co.ltd. PTT Group, All rights reserved. Terms of Use Privacy Policy . VERSION PRODUCTION 1</center>
            </div>
        </div>
    </div>
    <footer class="hidden-lg hidden-md">
        <div class="bg-white navbar-fixed-bottom ">


            <div class="navbar-collapse" id="footer-body">
                <center>
                    <div class="nav navbar-nav w-100 ">
                        <center>
                            <a href="@Url.Action("Index", "Dashboard")" class="no-underline dtc v-mid tc w-20 menu_hover" style="float:left;">

                                <i class="fa fa-tachometer fa-lg gray7" aria-hidden="true" id="dashboard"></i>
                                <div class="gray6 f-menu-footer pt1" id="t_dashboard">Dashboard</div>
                            </a>
                        </center>
                        <center>
                            <a href="@Url.Action("Index", "Utilization")" class="no-underline dtc v-mid tc w-20 menu_hover" style="float:left;">

                                <i class="fa fa-map-marker fa-lg gray7" aria-hidden="true" id="utilization"></i>
                                <div class="gray6 f-menu-footer pt1" id="t_utilization">Utilization</div>

                            </a>
                        </center>
                        <center>
                            <div class="dtc v-mid tc w-20 menu_hover" style="float:left;">

                                <i class="fa fa-cogs fa-lg gray7" aria-hidden="true" id="o_and_m"></i>
                                <div class="gray6 f-menu-footer pt1" id="text_o_and_m">O & M</div>

                            </div>
                        </center>
                        <center>
                            <div class="dtc v-mid tc w-20 menu_hover" style="float:left;">

                                <div class="dib ">
                                    <i class="fa fa-exclamation-triangle fa-lg gray7" aria-hidden="true" id="risk_manage"></i>
                                    <div class="gray6 f-menu-footer pt1" id="t_risk_manage">Risk Management</div>
                                </div>

                            </div>
                        </center>
                        <center>
                            <div class="dtc v-mid tc w-20 menu_hover" style="float:left;">

                                <a class="tc no-underline" href="@Url.Action("MenuMobile", "Home")">
                                    <i class="fa fa-bars fa-lg gray7" aria-hidden="true" id="user"></i>
                                    <div class="gray6 f-menu-footer pt1">Menu</div>
                                </a>

                            </div>
                        </center>




                    </div>
                </center>
            </div> <div style="float:none"></div>


        </div>

    </footer>

    <script>
        var viewbag = '@(ViewBag.Title)';
        if (viewbag == "DashBoard") {
            document.getElementById("dashboard").style.color = "#258fe5";
            document.getElementById("t_dashboard").style.color = "#258fe5";

        }

        if (viewbag == "Utilization") {
            document.getElementById("utilization").style.color = "#258fe5";
            document.getElementById("t_utilization").style.color = "#258fe5";
        }

        if (viewbag == "OAndM") {
            document.getElementById("o_and_m").style.color = "#258fe5";
            document.getElementById("t_o_and_m").style.color = "#258fe5";
        }



        /*    function openNav() {
                document.getElementById("mySidenav").style.width = "100%";

    }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            } */




    </script>

    <!--   </div>-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
   @RenderSection("scripts", required: false) 
</body>


</html>

