@model PTT_NGROUR.Models.UserManagement
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/DataTables/datatables.min.css" rel="stylesheet" />
    <div class="container-fluid">
        <br /><br />
        <div class="panel panel-default">
            <div id="panel" class="panel-heading">
                <div class="panel-title h4">
                    User
                    <button class="b btn btn-primary btn-xs pull-right" id="btnCreate" data-toggle="modal" data-target="#myModalCreate"><span class="fa fa-pencil-square-o"></span> Create</button>
                </div>

            </div>
            <div id="panelcontent" class="panel-body">
                <div class="w-100" style="padding-left:-10px;border:1px">
                    <div class="table-responsive">
                        <table class="table h6 table-striped table-bordered" id="UserDatailTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>E-Mail</th>
                                    <th>Group Name</th>
                                    <th>Role Name</th>
                                    <th>Create Date</th>
                                    <th>Create By</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.ModelUsersAuth)
                                {
                                    <tr>
                                        <td>@user.EMPLOYEE_ID</td>
                                        <td>@user.FIRSTNAME  @user.LASTNAME</td>
                                        <td>@user.EMAIL</td>
                                        <td>@user.GROUP_NAME</td>
                                        <td>@user.ROLE_NAME</td>
                                        <td>@user.CREATE_DATE</td>
                                        <td>@user.CREATE_BY</td>

                                        <td>
                                            <center> <a class=" dib fa fa-pencil-square-o fa-lg no-underline gray " id="Edit" name="btnOpenEdit" onclick="EDITUSER(@user.EMPLOYEE_ID)" data-toggle="modal" data-target="#myModalEdit" aria-hidden="true"></a></center> 
                                        </td>

                                        <td>
                                            <center> <button class="btn btn-link" onclick="ConfirmDel(@user.EMPLOYEE_ID)"><span class="fa fa-trash-o" aria-hidden="true"></span></button></center> 
</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


       

    </div>
    <!--Modal Create -->

    <div id="myModalCreate" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="panel-title">Create User</label>
                    <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <br />
                <div class="mh3 mv3">
                    <div style="max-height:200px;overflow:auto; padding-left:30px; padding-right:30px" id="SearchAD">
                        <center>  @{Html.RenderAction("SearchbyAD", "Admin");} </center>
                    </div>

                    <div class="modal-body">
                        <div class="container">



                            <label for="name" class="f6 b db mb3 ">User Detail</label>
                            <table id="CreateUserTable">
                                <tr>
                                    <td class="">EMPLOYEE ID : &nbsp;</td>
                                    <td class="">
                                        <input id="txtEmployeeIDCreate" class=" form-control " type="text" aria-describedby="name-desc"><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td>FIRST NAME : &nbsp;</td>
                                    <td>
                                        <input id="txtFirstNameCreate" class="  form-control " type="text" aria-describedby="name-desc" /><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td>LAST NAME : &nbsp;</td>
                                    <td>
                                        <input id="txtLastNameCreate" class=" form-control " type="text" aria-describedby="name-desc" /><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td>PASSWORD : &nbsp;</td>
                                    <td>
                                        <input id="PassWordCreate" class=" form-control " type="text" aria-describedby="name-desc"><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td>E-MAIL : &nbsp;</td>
                                    <td>
                                        <input id="txtMailCreate" class=" form-control" type="text" aria-describedby="name-desc"><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td>ROLE : &nbsp;</td>
                                    <td>
                                        <select class=" form-control" id="selectRoleCreate">
                                            <option value="2" class="drop_role " selected>Viewer</option>
                                            <option value="1" class="drop_role ">Admin</option>
                                        </select><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Group : &nbsp;</td>
                                    <td>
                                        <input id="IsADCreate" class=" form-control" type="text" disabled value="Non PTT" aria-describedby="name-desc"><br />
                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" id="btnCreateUser" value="Save" onclick="myFunction()">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                   <!-- <a type="button" class="btn btn-default cancleCreate" href="#0" id="btnCancle">Cancel</a>-->
                </div>


            </div>
        </div>
    </div>
    <!--Modal Edit -->

    <div id="myModalEdit" class="modal modalEdit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="panel-title">EDIT USER</label>
                    <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>

                @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
                {

                    <div class="mh3 mv3">
                        <div class="  black-80 center">
                            <div class="measure center">
                                <label for="name" class="b">EMPLOYEE ID</label>
                                @Html.TextBox("txtEmployeeIDEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                <!--  <input id="txtEmployeeIDEdit" class=" ba b--black-20 pa1 mb2 db w-100 f7 form-control" type="text" disabled aria-describedby="name-desc">-->

                            </div>
                            <div class="measure center w-100">
                                <div class="dib w-50">
                                    <label for="name" class="f7 b db mb2 ">FIRST NAME</label>
                                    @Html.TextBox("txtFirstNameEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    <!-- <input id="txt_NameEdite" class="input-reset ba b--black-20 pa2 mb2 db f6 w-90" type="text" aria-describedby="name-desc" />-->
                                </div>
                                <div class="dib fr w-50 pl3">
                                    <label for="name" class="f7 b db mb2">LAST NAME</label>
                                    @Html.TextBox("txtLastNameEdit", null, new { @class = "form-control  input-sm", @readonly = "readonly" })
                                    <!-- <input id="txt_LastNamEdite" class="input-reset ba b--black-20 pa2 mb2 db  f6 w-100" type="text" aria-describedby="name-desc" />-->
                                </div><div class="cr"></div>
                            </div>

                            <div class="measure center">
                                <label for="name" class="f7 b db mb2">E-Mail</label>
                                @Html.TextBox("txtMailEdit", null, new { @class = "form-control ba b--black-20 pa2 mb2 db w-100 f6" })
                                <!-- <input id="txt_editEmail" class="input-reset ba b--black-20 pa2 mb2 db w-100 f6" type="text" aria-describedby="name-desc"> -->
                            </div>

                            <div class=" center">
                                <label for="name" class="f7 b db mb2 ">ROLE</label>

                                <select class="form-control input" style="height: 30px" id="seRoleEdit" name="seRoleEdit">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelUsersRole mr in Model.ModelUsersRole)
                                    {

                                        <option value="@mr.ROLE_ID" >@mr.ROLE_NAME</option>
                                    }
                                </select>
                                <!--  <select class="form-control" id="seRoleEdit">
                                    <option value="2" selected>Viewer</option>
                                    <option value="1">Admin</option>
                                </select>-->

                            </div>

                            <div class="measure center">
                                <label for="name" class="f7 b db mb2">GROUP</label>
                                <!--<select class="ba b--black-20 pa2 mb2 db w-100" id="seGroupEdit">
                                    <option value="1" class="drop_role"  id="edit_roleUser">PTT</option>
                                    <option value="2" class="drop_role" id="edit_roleAdmin">Non PTT</option>
                                </select>-->
                                @Html.TextBox("seGroupEdit", null, new { @class = "form-control ba b--black-20 pa2 mb2 db f6 w-100 no-drop", @readonly = "readonly",@name="seGroupEdit"})
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">Edit User</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>


                }

            </div>
        </div>
    </div>
@section scripts{
<script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#UserDatailTable').dataTable();

              //  $('#myModalCreate').on('hidden.bs.modal', function () {
                   // $(this).find("input,textarea").val('').end();

               // });

               
            });
            var modalCreate = document.getElementById('myModalCreate');
            var btnCreate = document.getElementById("btnCreate");
            var closeCreate = document.getElementsByClassName("close_create")[0];
            var cancleCreate = document.getElementsByClassName("cancleCreate")[0];

           // $('#myModalCreate').appendTo("body").modal('show');



            function EDITUSER(id) {
                //modalEdit.style.display = "block";

                @foreach (var user in Model.ModelUsersAuth)
        {

            <text>


                if (id == '@user.EMPLOYEE_ID') {
                    $("#txtEmployeeIDEdit").val('@user.EMPLOYEE_ID');
                    $("#txtFirstNameEdit").val('@user.FIRSTNAME');
                    $("#txtLastNameEdit").val('@user.LASTNAME');
                    $("#IsADEdit").val('@user.IS_AD');
                    $("#txtMailEdit").val('@user.EMAIL');
                    $("#seGroupEdit").val('@user.GROUP_NAME');
                    $("#seRoleEdit").val('@user.ROLE_ID');


                }
                </text>
        }

            };

        function myFunction() {
          
                //console.log($("#txtEmployeeIDCreate").val());
               // console.log($("#IsADCreate").val());
               // console.log("Hello World");
                var txtEmployeeIDCreate = document.getElementById("txtEmployeeIDCreate").value;
                var txtFirstNameCreate = document.getElementById("txtFirstNameCreate").value;
                var txtLastNameCreate = document.getElementById("txtLastNameCreate").value;
                var PassWordCreate = document.getElementById("PassWordCreate").value;
                var IsADCreate = document.getElementById("IsADCreate").value;
                var txtMailCreate = document.getElementById("txtMailCreate").value;
                var selectRoleCreate = document.getElementById("selectRoleCreate").value;
                // var serverpath = apppath.substring(0, apppath.length - 1);
               // console.log(PassWordCreate);

                if (IsADCreate == "PTT")
                { IsADCreate = 1; }
                else if (IsADCreate == "Non PTT")
                { IsADCreate = 0; }

                console.log(IsADCreate);

                if (txtMailCreate == "") {
                    alert("กรุณาระบุ E-mail");
                }
                else {

                    if (IsADCreate != "1") {
                        var IsADInsert = "Non PTT";
                        if (isNaN(txtEmployeeIDCreate)) {
                            alert("ID ต้องเป็นตัวเลขเท่านั้น");
                        }
                        else {
                            if (txtEmployeeIDCreate.length > 10) {
                                alert("ID ต้องมีจำนวนไม่เกิน 10 ตัว");
                            } else {

                                if (PassWordCreate == "") {
                                    alert("โปรดใส่ password");
                                }
                                else {
                                    if (!/^\w+$/.test(PassWordCreate)) {
                                        alert("password ไม่ถูกต้อง password ต้องไม่มีอักขระพิเศษ");
                                    }
                                    else {
                                        if (PassWordCreate.length < 8) {
                                            alert("password น้อยกว่า8ตัว โปรดใส่ password ใหม่");
                                        }
                                        else {
                                            if (!/[A-Z]/.test(PassWordCreate)) {
                                                alert("password ไม่ถูกต้อง ต้องมีอักษรพิมพ์ใหญ่อย่างน้อย1อักษร");
                                            }
                                            else {
                                                if (!/[a-z]/.test(PassWordCreate)) {
                                                    alert("password ไม่ถูกต้อง ต้องมีอักษรพิมพ์เล็กอย่างน้อย1อักษร");
                                                }
                                                else {

                                                    if (!/[0-9]/.test(PassWordCreate)) {
                                                        alert("password ไม่ถูกต้อง ต้องมีตัวเลขอย่างน้อย1ตัว");
                                                    }
                                                    else {

                                                        $.ajax({
                                                            async: true,
                                                            cache: false,
                                                            url: '@Url.Action("CreateUser")',

                                                            type: 'POST',
                                                            data: { txtEMPID: txtEmployeeIDCreate, txtFNC: txtFirstNameCreate, txtLNC: txtLastNameCreate, PWC: PassWordCreate, IsADCreate: IsADCreate, txtMailCreate: txtMailCreate, selectRoleCreate: selectRoleCreate },
                                                            success: function (response) {
                                                                alert(response);
                                                                if (response == "เพิ่มข้อมูลเรียบร้อย") {
                                                                    //$("#myModalCreate").style.display = "none";
                                                                    window.location.reload();
                                                                }
                                                            }
                                                        });
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                    else {
                        var IsADInsert = "PTT";
                        $.ajax({
                            async: true,
                            cache: false,
                            url: '@Url.Action("CreateUser")',
                            type: 'POST',
                            data: { txtEMPID: txtEmployeeIDCreate, txtFNC: txtFirstNameCreate, txtLNC: txtLastNameCreate, PWC: PassWordCreate, IsADCreate: IsADCreate, txtMailCreate: txtMailCreate, selectRoleCreate: selectRoleCreate },
                            success: function (response) {
                                alert(response);
                                if (response == "เพิ่มข้อมูลเรียบร้อย") {
                                    //$("#myModalCreate").style.display = "none";
                                    window.location.reload();
                                }
                            }
                        });

                    }
                }
            };

    </script>

    <script>

            function ConfirmDel(id) {
                var employeeid = id;
                var Ok = confirm('Are you sure want to DELETE ?');
                if (Ok) {
                    // var serverpath = apppath.substring(0, apppath.length - 1);
                    $.ajax({
                        url: '@Url.Action("DeleteUser")',
                        type: 'POST',
                        data: { Id: employeeid },
                        success: function () {
                            alert("success");
                            window.location.reload();
                        }
                    });
                    //$("#Confirm").load('~/Views/Admin/UserManagement');
                    // return true;
                    // window.location.reload();
                }
                else {
                    return false;
                }
            };

    </script>
}
