@{
    ViewBag.Title = "MenuMobile";
    Layout = null;
}
@{
    PTT_NGROUR.Models.User userrole = new PTT_NGROUR.Models.User();
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style/create.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
</head>

<body>
    <div id="container" class="w-100">

        <div class="pl4 pr3">
           
            <center>  <img width="140" class="pv3" src="~/Content/logo/ngr1.png" /></center>
               
                    <center>
                      

                            <div class=" f5 mt1 black gray6">Employee ID : @Html.Encode(User.Identity.Name)</div>
                        <div class=" f5 mt1 black gray6"> Name : @userrole.FirstName  &nbsp;  @userrole.LastName</div>

                    </center>
               
            
            <br /><hr class="style" />
            <!--<div class="b--solid b--gray3 bw-menu w-100 bg-gray5 "> </div>--><br />

            <nav>
                <ul class="nav">
                    <li style="width:100%"><a href="@Url.Action("MenuWeb", "Home")"><i class="fa fa-home fa-lg gray7" aria-hidden="true" style="width:9%"> </i>Home</a></li>
                    <li style="width:100%"><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-tachometer fa-lg gray7" aria-hidden="true" style="width:9%"> </i>Dashboard</a></li>
                    <li style="width:100%">
                        <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
                            <i class="fa fa-map-marker fa-lg gray7" aria-hidden="true" style="width:9%"></i>Utilization
                            <i class="glyphicon glyphicon-menu-down pull-right"></i>
                        </a>
                        <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                            <li style="width:100%"><a href="@Url.Action("Index", "Utilization")"><span style="padding-left: 50px">Utilization</span></a></li>
                            <li style="width:100%"><a href="@Url.Action("Customer", "Utilization")"><span style="padding-left:50px">Customer</span></a></li>
                           
                            <li style="display:@ViewData["Threshold_page"];width:100%;"><a href="@Url.Action("ThresholdSetting", "Utilization")"><span style="padding-left:50px">Threshold Setting</span></a></li>
                            <li style="width: 100%;"><a href="@Url.Action("Report", "Utilization")"><span style="padding-left:50px">Report</span></a></li>
                        </ul>
                    </li>
                    <li style="width:100%"><a href="#"><i class="fa fa-cogs fa-lg gray7" aria-hidden="true" style="width:9%"> </i><span class="gray7">O & M</span></a></li>
                    <li style="width:100%"><a href="#"><i class="fa fa-exclamation-triangle fa-lg gray7" aria-hidden="true" style="width:9%"> </i><span class="gray7">Risk Management</span></a></li>
                    <li style="width:100%">
                        <a href="#" id="btn-1" data-toggle="collapse" data-target="#Admin" aria-expanded="false" style="display:@ViewData["Admin_page"]">
                            <i class="fa fa-user fa-lg gray7" aria-hidden="true" style="width:9%"> </i>Admin<i class="glyphicon glyphicon-menu-down pull-right"></i>
                        </a>
                        <ul class="nav collapse" id="Admin" role="menu" aria-labelledby="btn-1">
                            <li><a href="@Url.Action("UserManagement", "Admin")"><span style="padding-left:50px">User Management</span></a></li>

                        </ul>
                    </li>
                    <li style="width:100%"><a href="@Url.Action("ResetPassword", "User", new { id = userrole.Username , IsExpired = false  }, null)"><i class="fa fa-exclamation-triangle fa-lg gray7" aria-hidden="true" style="width:9%"> </i>Change Password</a></li>
                    <li style="width:100%"><a href="@Url.Action("Logout", "User")"><i class="fa fa-tachometer fa-lg gray7" aria-hidden="true" style="width:9%"> </i>Sign Out</a></li>

                </ul>
            </nav>


            <footer class="hidden-lg hidden-md">
                <div class="bg-white navbar-fixed-bottom ">


                    <div class="navbar-collapse" id="footer-body">
                        <center>
                            <div class="nav navbar-nav w-100 ">
                                <center>
                                    <a href="@Url.Action("Index", "Dashboard")" class="no-underline dtc v-mid tc w-20 menu_hover" style="float:left;">

                                        <i class="fa fa-tachometer fa-lg gray7" aria-hidden="true" id="dashboard"></i>
                                        <div class="gray6 f-menu-footer pt1" id="t_dashboard">Dashboard</div>
                                    </a>
                                </center>
                                <center>
                                    <a href="@Url.Action("Index", "Utilization")" class="no-underline dtc v-mid tc w-20 menu_hover" style="float:left;">

                                        <i class="fa fa-map-marker fa-lg gray7" aria-hidden="true" id="utilization"></i>
                                        <div class="gray6 f-menu-footer pt1" id="t_utilization">Utilization</div>

                                    </a>
                                </center>
                                <center>
                                    <div class="dtc v-mid tc w-20 menu_hover no-underline" style="float:left;">

                                        <i class="fa fa-cogs fa-lg gray7" aria-hidden="true" id="o_and_m"></i>
                                        <div class="gray6 f-menu-footer pt1 " id="text_o_and_m">O & M</div>

                                    </div>
                                </center>
                                <center>
                                    <div class="dtc v-mid tc w-20 menu_hover no-underline" style="float:left;">

                                        <div class="dib ">
                                            <i class="fa fa-exclamation-triangle fa-lg gray7" aria-hidden="true" id="risk_manage"></i>
                                            <div class="gray6 f-menu-footer pt1" id="t_risk_manage">Risk Management</div>
                                        </div>

                                    </div>
                                </center>
                                <center>
                                    <div class="dtc v-mid tc w-20 menu_hover no-underline" style="float:left;">

                                        <a class="tc" href="@Url.Action("MenuMobile", "Home")">
                                            <i class="fa fa-bars fa-lg gray7" aria-hidden="true" id="user"></i>
                                            <div class="gray6 f-menu-footer pt1">Menu</div>
                                        </a>

                                    </div>
                                </center>




                            </div>
                        </center>
                    </div> <div style="float:none"></div>


                </div>

            </footer>
        </div>
    </div>

   


</body>
</html>
<script>
    $(document).ready(function () {
        var empNo = '@Html.Encode(User.Identity.Name)';
        console.log(empNo);
        $.ajax({
            url: '@Url.Action("UserProfile")',
            type: 'POST',
            data: { UserNo: empNo},
      
            
        
        });
    });
</script>