@{
    ViewBag.Title = "MenuWeb";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
    PTT_NGROUR.Models.User userrole = new PTT_NGROUR.Models.User();
}

   
<body>

    <!--     Web Version      -->
    <div class="cover bg-left bg-center-l bg-img h-100 hidden-sm hidden-md" id="container" style="background-image: url(../Content/Images/wall.png); ">
        <!--   <div class="cover bg-left bg-center-l bg-img h-100 hidden-sm hidden-md bg-gray3" id="container">-->
        <div id="header">
            <div class="bg-blue5 hidden-sm hidden-md pv-5">
                <div class="topnav" id="myTopnav">
                    <div class="black-70">
                        <a href="@Url.Action("MenuWeb", "Home")">

                            <img id="logo" width="80" src="~/Content/logo/ngrwhite.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="v-mid ph3-l ph3-m ph5-ns pv6  hidden-sm border-box mt3">
            <div class="mx9 center cf ph2">
                <a class=" db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box " href="@Url.Action("Index", "Dashboard")">
                    <div class=" aspect-ratio aspect-ratio--4x3 va bg-white shadow-3">
                        <div class="dt aspect-ratio--object lazyload">

                            <div class="dtc v-mid ">
                                <center> <i class="fa fa-tachometer fa-3x blue5" aria-hidden="true"></i></center>
                                <p class="tc-ns measure-wide tc-ns f6-l f4-m f3-ns lh-copy tc">Dashboard</p>
                                <!--<img id="logo" class="w-40 nt3" src="~/Content/Images/icon_dashboard.png" />-->
                            </div>

                        </div>
                    </div>
                </a>

                <a class="db no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box" href="@Url.Action("Index","OM")">
                    <div class=" aspect-ratio aspect-ratio--4x3 va-m bg-white shadow-3">

                        <div class="dt aspect-ratio--object lazyload">

                            <div class="dtc v-mid pt3">
                                <center>  <i class="fa fa-cogs fa-3x blue5 " aria-hidden="true"></i></center>
                                <p class="tc-ns measure-wide tc-ns f4-m f6-l f3-ns lh-copy tc">Operation <br />& Maintenance</p>
                                <!-- <img id="logo" class="w-40 nt3" src="~/Content/Images/icon_o.png" />-->
                            </div>

                        </div>
                    </div>
                </a>

                <a class="db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box " href="@Url.Action("Index","Utilization")">
                    <div class=" aspect-ratio aspect-ratio--4x3 bg-white shadow-3">
                        <div class="dt aspect-ratio--object lazyload">

                            <div class="dtc v-mid">
                                <center><i class="fa fa-map-marker fa-3x blue5" aria-hidden="true"></i></center>
                                <p class="tc-ns measure-wide tc-ns f4-m f6-l f3-ns lh-copy tc">Utilization</p>
                            </div>

                        </div>
                    </div>

                </a>

                <a class="db no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box " href="@Url.Action("Index", "Risk")">
                    <div class=" aspect-ratio aspect-ratio--4x3 bg-white shadow-3">
                        <!-- <div class="aspect-ratio--object lazyload " style="background-repeat: no-repeat; background-position: center center; background-size: cover;">-->
                        <div class="dt aspect-ratio--object lazyload">
                            <div class="dtc v-mid ">
                                <center>  <i class="fa fa-exclamation-triangle fa-3x blue5" aria-hidden="true"></i></center>
                                <p class="tc-ns measure-wide  tc f6-l f4-m f3-ns lh-copy tc">Risk Management</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="db pointer no-underline grow  black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box " href="@Url.Action("UserManageMent", "Admin")" style="display:@ViewData["UserManage_page"];">
                    <div class=" aspect-ratio aspect-ratio--4x3 bg-white shadow-3">

                        <div class="dt aspect-ratio--object lazyload">

                            <div class="dtc v-mid">
                                <center><i class="fa fa fa-user fa-3x blue5" aria-hidden="true"></i></center>
                                <p class="tc-ns measure-wide tc f4-m f6-l f3-ns lh-copy tc">User Management</p>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
        </div>

        <center>
            <div class="hidden dib b--black-10 bg-white shadow-2 br3 mt3 pv1 ph3">

                <a class="dib tl pl3  c-gray mv0 pr3  f5  no-underline">
                    Welcome : @Html.Encode(User.Identity.Name)
                </a>|

                <a class="dib tr pl3   mv0 pr3 f5  no-underline c-gray" href="@Url.Action("Logout", "User")">
                    Sign Out
                </a>
            </div>
        </center>

        <div class="f7  white t-shadow1 " id="footer">
            <center>Copyright &copy; @DateTime.Now.Year PTT DIGITAL Solutions Co.ltd. PTT Group, All rights reserved. Terms of Use Privacy Policy . VERSION PRODUCTION 1</center>
        </div>
    </div>



    <!--Mobile Version-->


    <div class="hidden-lg bg-gray2" id="container">

        <center>
            <div id="header ">


                <nav class="dt w-100 bg-blue5 shadow-2 hidden-lg h4">



                    <div class="dtc v-mid pl3 pr3">
                        <!--   <img class=" v-mid o-80" id="logo" width="80" src="~/Content/Images/Logo_PTT.png" />
                        <a class="black-70 dib ml2 pv2-l ph5-l ph5-m ph2-ns f4 roboto">NAV Head </a>-->
                        <!--   <a class="dtc v-mid dib v-mid fl white dib f6">
                            UserName
                        </a>-->

                        <div class="dtc v-mid"> <img id="logo" width="150" src="~/Content/logo/ngrwhite.png" /></div>




                        <!--   <a class="dtc v-mid dib fr white f7 no-underline" href="#">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sign Out
                        </a>-->
                    </div>

                </nav>

            </div>
        </center>

        <div class=" hidden-lg bg-gray2" id="body">

            <a class="dt fl hidden dib   w-50 vh-22 no-underline bg-white br bb b-gray1 menu_hover" href="@Url.Action("Index", "Dashboard")">

                <div class="dtc v-mid tc">

                    <i class="fa fa-tachometer fa-3x blue5" aria-hidden="true"></i>
                    <div class="silver f4 pt3"> Dashboard</div>
                </div>
            </a>


            <a class="dt fr hidden  dib w-50 vh-22 no-underline  bg-white bb b-gray1 menu_hover" href="@Url.Action("Index", "OM")">
                <br />
                <div class="dtc v-mid tc">
                    <i class="fa fa-cogs fa-3x blue5" aria-hidden="true"></i>
                    <div class="silver f4 pt3">Operation & Maintenance</div>
                </div>
            </a>


            <center>
                <div class="cb">
                    <a class="dt fl hidden  dib w-50 vh-22 no-underline  bg-white br bb b-gray1 menu_hover " href="@Url.Action("MenuUtilization", "Utilization")">
                        <div class="dtc v-mid tc">
                            <i class="fa fa-map-marker fa-3x blue5" aria-hidden="true"></i>
                            <div class="silver f4 pt3">Utilization</div>
                        </div>
                    </a>

                    <a class="dt fr hidden  dib w-50 vh-22 no-underline  bg-white bb b-gray1 menu_hover" href="@Url.Action("Index", "Risk")">
                        <div class="dtc v-mid tc">
                            <i class="fa fa-exclamation-triangle fa-3x blue5" aria-hidden="true"></i>
                            <div class="silver tc f4 pt3">Risk Management</div>
                        </div>
                    </a>
                </div>
            </center>
            <center style="display:@ViewData["UserManage_page"];">
                <div class="cb">
                    <a class="dt fl hidden  dib w-50 vh-22 no-underline  bg-white ph0 br bb b-gray1 menu_hover" href="@Url.Action("UserManagement", "Admin")">
                        <div class="dtc v-mid tc">
                            <i class="fa fa-user fa-3x blue5" aria-hidden="true"></i>
                            <div class="silver f4 pt3">User Management</div>
                        </div>
                    </a>

                    <div class="dt fr hidden  dib w-50 vh-22 no-underline  bg-white ph0 bb b-gray1"></div>

                </div>
            </center>
        </div>

        <div class="f7 hidden-lg ">
            <div class="dt fl hidden  dib vh-5 no-underline  bg-white ph0 bt b-gray1 pv1" id="footer">
                <div class="dtc v-mid tc w-50">
                    <i class="fa fa-user-circle-o fa-3x gray7" aria-hidden="true"></i>
                    <div class="gray7 f4 pt2">@Html.Encode(User.Identity.Name)</div>
                </div>
               
                    <div class="dtc v-mid tc w-50">
                        <a href="@Url.Action("Logout", "User")">
                            <div class="dib">
                                <i class="fa fa-sign-out fa-3x gray7" aria-hidden="true"></i>
                                <div class="gray7 f4 pt2">Sing out</div>
                            </div>
                        </a>
                   </div>
              
            </div>


        </div>
    </div>



    <!-- <div class="f7 black mt3 hidden-lg" id="footer">
      <center class="">Copyright &copy; @DateTime.Now.Year PTT DIGITAL Solutions Co.ltd.</center>
    </div>-->





</body>
<script type="text/javascript">

    $(document).ready(function () {
        $(".btn1").hide();
        $(".btn2").hide();
        $(".btn3").hide();
        $("#btn1").click(function () {
            $(".btn1").toggle();
        });

        $("#btn2").click(function () {
            $(".btn2").toggle();
        });

        $("#btn3").click(function () {
            $(".btn3").toggle();
        });
    });




</script>
