@model PTT_NGROUR.Models.ViewModel.ModelOmIndex

@{
    List<PTT_NGROUR.Models.DataModel.ModelIntervalTypeResults> data = Model.Completion.Gate.Activity;
    PTT_NGROUR.Models.DataModel.ModelOMMaster.ModelOMMasterMaintenanceLevel _master = null;
}

<div class="table-responsive">
    @if (data.Count() > 0)
    {
        <table class="tableSum table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="@(data.Count() > 0 ? "2" : "0")" class="textheadSumT h4 b">PM Activity</th>
                    <th rowspan="@(data.Count() > 0 ? "2" : "0")" class="textheadSumT h4 b">Interval</th>
                    @if (data.Count() > 0)
                    {
                        foreach (var region in data.First().Activities.First().Activities.First().Regions)
                        {
                            <th colspan="2" class="region">
                                @region.REGION
                            </th>
                        }
                    }
                </tr>
                @if (data.Count() > 0)
                {
                    <tr>
                        @foreach (var region in data.First().Activities.First().Activities.First().Regions)
                        {
                            <th>Plan</th>
                            <th class="actual">Actual</th>
                        }
                    </tr>
                }
            </thead>
            <tbody>
                @foreach (var type in data)
                {
                    foreach (var activity in type.Activities.Select((value, i) => new { i, value }))
                    {
                        <tr>
                            @{
                                _master = Model.Master.MaintenanceLevel.SingleOrDefault(x => x.ML_ID.Equals(activity.value.PM_ID));
                            }
                            <td class="pm-name text-truncate text-left text-white" style="background-color: @(_master == null ? "" : _master.ML_HEX);">
                                @activity.value.PM_ID
                            </td>
                            @foreach (var intervals in activity.value.Activities)
                            {
                                <td rowspan="@intervals.Regions.Count()"><span>@intervals.INTERVAL</span></td>
                                foreach (var region in intervals.Regions)
                                {
                                    <td><span>@region.PLAN.ToString("N0")</span></td>
                                    <td class="actual"><span>@region.ACTUAL.ToString("N0")</span></td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center pv2">
            <h2>No data</h2>
        </div>
    }
</div>

@if (data.Count() > 0)
{
    <div class="chart-wrapper">
        <div id="chartCompletionGate" class="chart"></div>
    </div>
}
