@model PTT_NGROUR.Models.ViewModel.ModelOmIndex

@{
    List<PTT_NGROUR.Models.DataModel.ModelTypeResults> data = Model.Completion.Pipeline.Activity;
    PTT_NGROUR.Models.DataModel.ModelOMMaster.ModelOMMasterPipeline _master = null;
}

<div class="table-responsive">
    @if (data.Count() > 0)
    {
        <table class="tableSum table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2" colspan="2" class="textheadSumT h4 b">PM Activity</th>
                    <th rowspan="2" class="textheadSumT h4 b">Interval</th>
                    @if (data.Count() > 0)
                    {
                        foreach (var region in data.First().Activities.First().Regions)
                        {
                            <th colspan="2" class="region">
                                Region @region.REGION
                            </th>
                        }
                    }
                </tr>
                @if (data.Count() > 0)
                {
                    <tr>
                        @foreach (var region in data.First().Activities.First().Regions)
                        {
                            <th>Plan</th>
                            <th class="actual">Actual</th>
                        }
                    </tr>
                }
            </thead>
            <tbody>
                @foreach (var type in data)
                {
                    foreach (var activity in type.Activities.OrderBy(x => x.PM_ID).Select((value, i) => new { i, value }))
                    {
                        <tr>
                            @if (activity.i.Equals(0))
                            {
                                <td rowspan="@type.Activities.Count()" class="text-center text-middle">
                                    <span class="text-vertical">
                                        @type.PM_TYPE
                                    </span>
                                </td>
                            }
                            @{
                                _master = Model.Master.Pipeline.SingleOrDefault(x => x.PM_ID.Equals(activity.value.PM_ID));
                            }
                            <td class="pm-name text-truncate text-left text-white" style="background-color: @(_master == null ? "" : _master.PIPELINE_HEX);">
                                @_master.PM_NAME_ABV
                            </td>
                            <td><span>@(_master == null ? "-" : _master.INTERVAL)</span></td>
                            @foreach (var region in activity.value.Regions)
                            {
                                <td><span>@region.PLAN.ToString("N0")</span></td>
                                <td class="actual"><span>@region.ACTUAL.ToString("N0")</span></td>
                            }
                            @{
                                var max = data.Max(x => x.Activities.Max(o => o.Regions.Count()));
                                var total = activity.value.Regions.Count();
                            }
                            @for (int i = 0; i < max - total; i++)
                            {
                                <td></td>
                                <td></td>
                            }
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" class="text-left">
                        <div style="max-width: 500px;">
                            <span>
                                CP System : Anode ground bed, Bond Box, Pipe to soil potential survey,
                                <br />
                                Close Interval potential survey (CIPS), Coating Defect Survey (DCVG)
                            </span>
                        </div>
                    </td>
                    <td colspan="@(data.First().Activities.First().Regions.Count() * 2 + 1)"
                        class="text-center text-middle">
                        <strong>GTM will submit all reports to NGR Quarterly</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center pv2">
            <h2>No data</h2>
        </div>
    }
</div>


@if (data.Count() > 0)
{
<div id="chartWrapperCompletionPipeline" class="chart-wrapper">
    <div id="chartCompletionPipeline" class="chart"></div>
    <div id="divAreaChart"></div>
</div>
}