<!DOCTYPE html>


@model PTT_NGROUR.Models.ViewModel.Customer
@{
    ViewBag.Title = "Customer Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();


}

@section style{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <style>
        .pagination > .active > a {
            z-index: 0 !important;
        }

        .dropdown-menu {
            font-size: 11px !important;
        }

        .btn {
            font-size: 11px !important;
        }
        .clickable{ cursor:pointer;}

        .btn_pointer:hover {
            cursor: pointer;
            color:red;
        }
        .btn_pointer:focus {
            color: red;
        }
    </style>
}
<script type="text/javascript">
    $(document).ready(function () {
       
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
           
            localStorage.setItem('activeTab', $(e.target).attr('href'));
            console.log(e.target);
           

        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
           
            $('#tabsAll a[href="' + activeTab + '"]').tab('show');  
        }

    });
</script>

<div class="container-fluid ph2">
    <br />
    <div >
        <ul id="tabsAll" class="nav nav-tabs" style="border-color: rgba(0,0,0,.0625) !important">
            <li class="active" style="border-color: rgba(0,0,0,.0625) !important; "><a data-toggle="tab" href="#customer">Customer</a></li>

            <li style="border-color: rgba(0,0,0,.0625) !important; "><a data-toggle="tab" href="#metering">Metering</a></li>
        </ul>

        <div class="tab-content bg-white border-box-gray" style="border-top: none !important">
            <div id="customer" class="tab-pane fade in active">
                <div class="ph2 pv2 w-100">
                    <div class="" style="border:0px">
                        <table class="table table-striped table-bordered nowrap h6" style="width: 100%;z-index: 0 !important;" id="CustomerTable">
                            <thead>
                                <tr>

                                    <th>Customer Name</th>
                                    <th>Customer SName</th>
                                    <th>Ship To</th>
                                    <th>Sold To</th>
                                    <th>View</th>
                                    @if ((users.Roleid).Equals(1))
                                    {
                                        <th>Edit</th>

                                        <th>Map</th>}
                                    else { }

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (PTT_NGROUR.Models.DataModel.ModelVIEW_SHIPTO_SOLDTO cus in Model.ListViewShipToSoldTo)
                                {
                                    <tr>

                                        <td>@cus.SHIP_TO_NAME</td>
                                        <td>@cus.SHIP_TO_SNAME</td>
                                        <td>@cus.SHIP_TO</td>
                                        <td>@cus.SOLD_TO</td>

                                        <td><center> <i><a href="#" class="dib glyphicon glyphicon-zoom-in fa-lg no-underline gray pointer no-underline" id="ViewCust" name="btnOpenView" onclick="ViewCust('@cus.SHIP_TO')" data-toggle="modal" data-target="#ModalViewCust" aria-hidden="true"></a></i></center></td>
                                        @if ((users.Roleid).Equals(1))
                                        {
                                            <td>
                                                <center>
                                                    <i>
                                                        <a href="#" class="dib fa fa-pencil-square-o fa-lg no-underline gray pointer no-underline" id="EditCust" name="btnOpenEdit" onclick="EditCust('@cus.SHIP_TO')" data-toggle="modal" data-target="#ModalEditCust" aria-hidden="true">
                                                        </a>
                                                    </i>
                                                </center>
                                            </td>}
                                        else { }
                                        @if ((users.Roleid).Equals(1))
                                        {
                                            if (cus.SHIP_TO_FLAG_SHAPE == 0 || cus.SOLD_TO_FLAG_SHAPE == 0)
                                            {
                                                <td><center><i><a href="#" class="fa fa-globe fa-lg red btn_pointer no-underline" onclick="IfameCustomer( '@cus.SHIP_TO' , '@cus.SOLD_TO')" data-toggle="modal" aria-hidden="true" data-target="#ModalIfameCustomer"></a></i></center></td>}
                                            else
                                            {
                                                <td><center><i><a href="#" class="fa fa-globe fa-lg pointer gray no-underline" aria-hidden="true" onclick="IfameCustomer( '@cus.SHIP_TO' , '@cus.SOLD_TO')" data-toggle="modal" data-target="#ModalIfameCustomer"></a></i></center></td>}
                                        }
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



            <div id="metering" class="tab-pane fade">
                <div class="ph2 pv2">
                    @if ((users.Roleid).Equals(1))
                    {   <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-sm" id="btnModalCreateMeter" data-toggle="modal" data-target="#ModalCreateMeter" style=" border-radius:0">
                            <span class="glyphicon glyphicon-search"></span> Create Meter
                        </button><span class="cr"></span>

                    </div><br /><br />}
                    else
                    { <span></span>}

                    <div id="divMeterTable" style="border:0px">
                        <table class="table table-striped table-bordered nowrap h6" style="width:100%" id="MeterTable">
                            <thead>
                                <tr>

                                    <th>Customer Name</th>
                                    <th>License Code</th>
                                    <th>Station Name</th>
                                    <th>Station Number</th>
                                    <th>Station Type</th>
                                    <th>Region</th>
                                    <th>Ship-To</th>
                                    <th>Sold-To</th>
                                    <th>Sold-To Name</th>
                                    <th>Status</th>
                                    <th>View</th>
                                    @if ((users.Roleid).Equals(1))
                                    {
                                        <th>Edit</th>}
                                    else { }



                                </tr>
                            </thead>
                            <tbody>
                                @foreach (PTT_NGROUR.Models.DataModel.ModelVIEW_METER meter in Model.ListViewMeter)
                                {
                                    if (meter.STATUS_DETAIL == "INACTIVE")
                                    {
                                        <tr style="color:red">

                                            <td>@meter.CUST_NAME</td>
                                            <td>@meter.LICENSE_CODE</td>
                                            <td>@meter.METER_NAME</td>
                                            <td>@meter.METER_NUMBER</td>
                                            <td>@meter.METER_TYPE_NAME</td>
                                            <td>@meter.REGION_D</td>
                                            <td>@meter.SHIP_TO</td>
                                            <td>@meter.SOLD_TO</td>
                                            <td>@meter.SOLD_TO_NAME</td>
                                            <td>@meter.STATUS_DETAIL</td>

                                            <td><center><i><a href="#" class="clickable dib glyphicon glyphicon-zoom-in fa-lg no-underline gray pointer" id="ViewMeter" name="btnOpenView" onclick="ViewMeter('@meter.METER_NUMBER')" data-toggle="modal" data-target="#ModalViewMeter" aria-hidden="true"></a></i></center></td>
                                            @if ((users.Roleid).Equals(1))
                                            {
                                                <td>
                                                    <center><i><a href="#" class="clickable dib fa fa-pencil-square-o fa-lg no-underline gray pointer" id="EditMeter" name="btnOpenEdit" onclick="EditMeter('@meter.METER_NUMBER')" data-toggle="modal" data-target="#ModalEditMeter" aria-hidden="true"></a></i></center>
                                                </td>}

                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>

                                            <td>@meter.CUST_NAME</td>
                                            <td>@meter.LICENSE_CODE</td>
                                            <td>@meter.METER_NAME</td>
                                            <td>@meter.METER_NUMBER</td>
                                            <td>@meter.METER_TYPE_NAME</td>
                                            <td>@meter.REGION_D</td>
                                            <td>@meter.SHIP_TO</td>
                                            <td>@meter.SOLD_TO</td>
                                            <td>@meter.SOLD_TO_NAME</td>
                                            <td>@meter.STATUS_DETAIL</td>

                                            <td><center><i><a href="#" class="clickable dib glyphicon glyphicon-zoom-in fa-lg no-underline gray pointer" id="ViewMeter" name="btnOpenView" onclick="ViewMeter('@meter.METER_NUMBER')" data-toggle="modal" data-target="#ModalViewMeter" aria-hidden="true"></a></i></center></td>
                                            @if ((users.Roleid).Equals(1))
                                            {
                                                <td>
                                                    <center><i><a href="#" class="clickable dib fa fa-pencil-square-o fa-lg no-underline gray pointer" id="EditMeter" name="btnOpenEdit" onclick="EditMeter('@meter.METER_NUMBER')" data-toggle="modal" data-target="#ModalEditMeter" aria-hidden="true"></a></i></center>
                                                </td>}

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Edit Customer -->

<div id="ModalEditCust" class="modal modalEdit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="panel-title h5">Edit Customer</label>
                <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>

            @using (Html.BeginForm("EditCustomer", "Utilization", FormMethod.Post))
            {

                <div class="pv2 mv3">
                    <div class="  black-80 center">

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class=" b pull-right clear-right-xs">Customer Name :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtCustNameEdit", null, new { @class = "form-control input-sm ", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Customer Name English :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtCustNameENEdit", null, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Customer SName :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtCustSNameEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Ship-To :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtShipToEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Ship-To Address :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtShipToAddrEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Sale District :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtSaleEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Contract Type :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtContractEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">IE Name :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtIENameEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Region :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtRegionEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        @* <div class="row pb1">
                                <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                    <span class="col-lg-5 col-md-5">
                                        <label for="name" class="b">Udate By</label>
                                    </span>
                                    <div class="col-lg-6 col-md-7 ">
                                        @Html.TextBox("txtUpdateByEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                            <div class="row pb1">
                                <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                    <span class="col-lg-5 col-md-5">
                                        <label for="name" class="b">Update Date</label>
                                    </span>
                                    <div class="col-lg-6 col-md-7 ">
                                        @Html.TextBox("txtUpdateDateEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>  *@

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Object ID :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtObjectIDEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Sold-To :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtSoldToEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Sold-To Name :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtSoldToNameEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Sold-To Address :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtSoldToAddrEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <!--  <div class="row pb1">
                              <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                  <span class="col-lg-5 col-md-5">
                                      <label for="name" class="b pull-right">Status :</label>
                                  </span>
                                  <div class="col-lg-6 col-md-7 ">
                                      @Html.TextBox("txtStatusEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                  </div>
                              </div>
                          </div>-->

                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Edit Customer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>


            }

        </div>
    </div>
</div>

<!--Modal View Customer -->

<div id="ModalViewCust" class="modal modalView" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="panel-title h5">View Customer</label>
                <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>


            <div class="pv2 mv3">
                <div class="  black-80 center">

                    <div class="row ">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Customer Name :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtCustNameView"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs  h6">Customer Name English :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtCustNameENView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Customer SName :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtCustSNameView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Ship-To :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtShipToView"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Ship-To Address :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtShipToAddrView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Sale District :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtSaleView"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Contract Type :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtContractView"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">IE Name :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtIENameView"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Region :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtRegionView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5  col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Object ID :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtObjectIDView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Sold-To :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtSoldToView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Sold-To Name :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtSoldToNameView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Sold-To Address :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtSoldToAddrView"></p>
                            </div>

                        </div>
                    </div>

                    <!--  <div class="row">
                          <div class="measure center col-lg-12 col-md-12 col-sm-12">
                              <div class="col-lg-5 col-md-5">
                                  <p class=" b pull-right h6">Status :</p>
                              </div>
                              <div class="col-lg-6 col-md-7 pl-0">
                                  <p class="h6" id="txtStatusView"></p>
                              </div>

                          </div>
                      </div>-->


                </div>




            </div>
        </div>
    </div>
</div>


<!--Modal View Meter -->

<div id="ModalViewMeter" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="panel-title h5">View Station</label>
                <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>


            <div class="pv2 mv3">
                <div class="  black-80 center">

                    <div class="row ">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Customer Name :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtCustNameMView"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">License Code :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtLicenseCodeMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Station Name :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtMeterNameMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Station Number :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtMeterNumMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Station Type :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtMeterTypeMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Region :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtRegionMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Ship-To :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtShipToMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Sold-To :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtSoldToMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Sold-To Name :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtSoldToNameMView"></p>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Status :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtStatusMView"></p>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class=" b pull-right clear-right-xs h6">Comm Date :</p>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-7 pl-0">
                                <p class="h6" id="txtCommDateMView"></p>
                            </div>

                        </div>
                    </div>


                </div>
                <br />

            </div>
        </div>
    </div>
</div>

<!--Modal Edit Meter -->

<div id="ModalEditMeter" class="modal modalEdit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="panel-title h5">Edit Station</label>
                <button type="button" class="close close_create" data-dismiss="modal" onclick="CloseEditMeter()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>

            

                <div class="pv2 mv3">
                    <div class="  black-80 center">

                        <div class="row pb1" style="display:none">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class=" b pull-right clear-right-xs">Object ID :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtObjectIDMEdit", null, new { @class = "form-control input-sm ", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Station Number :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtMeterNumMEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Station Name :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtMeterNameMEdit", null, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Station Type :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <select class="form-control input-sm" id="seMeterTypeMEdit" name="seMeterTypeMEdit">
                                        @foreach (PTT_NGROUR.Models.DataModel.ModelMETER_TYPE typeM in Model.ListMeterType)
                                        {
                                            <option value="@typeM.ID_M">@typeM.METER_TYPE_M</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Ship-To :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtShipToMEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class=" b pull-right clear-right-xs">Customer Name :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtCustNameMEdit", null, new { @class = "form-control input-sm ", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Sold-To :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtSoldToMEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Sold-To Name :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtSoldToNameMEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">License Code :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <select class="form-control input-sm" id="seLicenseIDMEdit" name="seLicenseIDMEdit">
                                        @foreach (PTT_NGROUR.Models.DataModel.ModeLICENSE_MASTER license in Model.ListLicenseMaster)
                                        {
                                            <option value="@license.LICENSE_ID">@license.LICENSE_CODE</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Status :</label>
                                </span>

                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <select class="form-control input-sm" id="seStatusMEdit" name="seStatusMEdit">
                                        @foreach (PTT_NGROUR.Models.DataModel.ModelSTATUS status in Model.ListStatus)
                                        {
                                            <option value="@status.STATUS_ID">@status.STATUS_DETAIL</option>
                                        }
                                    </select>

                                </div>

                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Region :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    @Html.TextBox("txtRegionMEdit", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5">
                                    <label for="name" class="b pull-right clear-right-xs">Comm Date :</label>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <input type="text" class="form-control form-control-sm fz-12px" id="datepicCommdateMEdit" name="datepicCommdateMEdit" style="height: 30px !important" />

                                </div>
                            </div>
                        </div>

                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12">
                                <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <span class="checkbox">
                                        <label><input type="checkbox" value="" id="checkGisMapEdit" onfocus="CheckGisMapEdit();">GIS Map</label>
                                    </span>
                                </span>
                                <div class="col-lg-6 col-md-7 col-sm-7"></div>
                            </div>
                        </div>
                        <div class="row pb1">
                            <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12" id="mapEdit">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="  black-80 center" style="border: 1px solid #808080;">
                                        <iframe src="https://nonngr-our.pttplc.com/gis/post.aspx?m=customer" style="min-height: 300px !important; width: 100% !important; border-width: 0px" id="map_frame"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary btn-sm" id="btnCreateMeter" value="Edit Metering" onclick="SaveEditMeter()">
                  <!--  <button type="button" class="btn btn-primary btn-sm" onclick="SaveEditMeter()">Edit Metering</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseEditMeter()">Cancel</button>
                </div>


          

        </div>
    </div>
</div>

<!--Modal Create Meter -->

<div id="ModalCreateMeter" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="panel-title">Create Metering</label>
                <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <br />

            <div class="pv2 mv3">
                <div class="  black-80 center">

                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5 ">
                                <label for="name" class=" b pull-right clear-right-xs">Station Number <i class="h3 b red" aria-hidden="true">*</i>:</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6 ">
                                @Html.TextBox("txtMeterNumMCreate", null, new { @class = "form-control input-sm " })
                            </div>
                        </div>
                    </div>
                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5">
                                <label for="name" class=" b pull-right clear-right-xs">Station Name :</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBox("txtMeterNameMCreate", null, new { @class = "form-control input-sm " })
                            </div>
                        </div>
                    </div>

                    <div class="row pb1">
                        <!--public List<datamodel.modelmeter_type>
                        ListMeterType { get; set; }-->
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5">
                                <label for="name" class="b pull-right clear-right-xs">Station Type :</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <select class="form-control input-sm" id="seMeterTypeMCreate" name="seMeterTypeMCreate">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelMETER_TYPE typeM in Model.ListMeterType)
                                    {

                                        <option value="@typeM.ID_M">@typeM.METER_TYPE_M</option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5">
                                <label for="name" class="b pull-right clear-right-xs">Ship-To<i class="h3 b red" aria-hidden="true">*</i>:</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                <select class="form-control input-sm selectpicker" data-live-search="true" id="seShipToMCreate" name="seShipToMCreate" style="font-size: 12px !important">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModeVIEW_CUSTOMER shipto in Model.ListViewCustomer)
                                       {
                                   <option value="@shipto.SHIP_TO_VC" style="word-wrap: break-word; white-space: normal">@shipto.SHIP_TO_VC - @shipto.CUST_NAME_VC</option>
                                       }
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5">
                                <label for="name" class="b pull-right clear-right-xs">License Name :</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <select class="form-control input-sm selectpicker" data-live-search="true" id="seLicenseMCreate" name="seLicenseMCreate">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModeLICENSE_MASTER license in Model.ListLicenseMaster)
                                        {
                                            <option value="@license.LICENSE_ID" style="word-wrap: break-word; white-space: normal">@license.LICENSE_CODE - @license.LICENSE_NAME</option>
                                          }
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5">
                                <label for="name" class="b pull-right clear-right-xs">Status :</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <select class="form-control input-sm" id="seStatusMCreate" name="seStatusMCreate">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelSTATUS status in Model.ListStatus)
                                    {
                                        <option value="@status.STATUS_ID">@status.STATUS_DETAIL</option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>



                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-5 col-md-5 col-sm-5 ">
                                <label for="name" class="b pull-right clear-right-xs">Comm Date :</label>
                            </span>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="text" class="form-control form-control-sm fz-12px" id="datepicCommdateMCreate" name="datepicCommdateMCreate" style="height: 30px !important" />

                            </div>
                        </div>
                    </div>



                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12">
                            <span class="col-lg-5 col-md-5 col-sm-5">
                                <span class="checkbox">
                                    <label><input type="checkbox" value="" id="checkGisMapCreate" onfocus="javascript:CheckGisMapCreate();">GIS Map</label>
                                </span>
                            </span>
                            <div class="col-lg-6 col-md-7 "></div>
                        </div>
                    </div>
                    <div class="row pb1">
                        <div class="measure center col-lg-12 col-md-12 col-sm-12 col-xs-12" id="mapCreate">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="  black-80 center" style="border: 1px solid #808080;">
                                    <iframe src="https://nonngr-our.pttplc.com/gis/post.aspx?m=customer" style="min-height: 300px !important; width: 100% !important; border-width: 0px" id="map_frame2"></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-primary" id="btnCreateMeter" value="Save" onclick="CreateMeter()">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <!-- <a type="button" class="btn btn-default cancleCreate" href="#0" id="btnCancle">Cancel</a>-->
            </div>


        </div>
    </div>
</div>
<div id="ModalIfameCustomer" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 10px;">
            <div class="modal-header" style="padding: 0px !important; border-bottom: none !important; ">

                <button type="button" class="close close_create" data-dismiss="modal" id="closeMapCusModal" onfocus="CloseMapCusModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>



            <div class=" black-80 center">
                <iframe src=" https://nonngr-our.pttplc.com/gis/post.aspx?m=customer" style="min-height: 450px !important; width: 100% !important;" id="map_iframe_report"></iframe>

                <br />



            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/Responsive-2.2.2/js/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

    <script src="~/Scripts/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.js"></script>
    <script type="text/javascript">
     /* var  map_customer_json_show = {
            "menu": "utilization-customer",
            "type": "METERING",
            "command": "view",
            "parameter": {
                "SHIP_TO": "",
                "METER_NUMBER": ""
            }
        };
    
      
      map_frame2.contentWindow.postMessage(map_customer_json_show, '*');
        map_frame.contentWindow.postMessage(map_customer_json_show, '*'); */
     

           $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                   $($.fn.dataTable.tables(true)).DataTable()
                   .columns.adjust()

            });
                document.getElementById('mapCreate').style.display = 'none';
               document.getElementById('mapEdit').style.display = 'none';

                var tblOptionCus = $('#CustomerTable').DataTable({
                   
                    dom: 'lBfrtip',
                    responsive: true,
                    dom:
			"<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
			"<'row'<'col-sm-12'tr>>" +
			"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        "extend": 'copy',
                        "exportOptions": { columns: [0, 1, 2, 3] }
                    },
                    {
                        "extend": 'csv',
                        "exportOptions": { columns: [0, 1, 2, 3] }
                    },
                    {
                        "extend": 'excel',
                        "exportOptions": { columns: [0, 1, 2, 3] }
                    },
                   {
                        "extend": 'pdfHtml5',
                        "exportOptions": { columns: [0, 1, 2, 3] },
                        "text": 'PDF',
                        "pageSize": 'A4',
                        "customize": function (doc) {
                            doc.defaultStyle = {
                                font: 'THSarabun',
                                fontSize: 16,
                            };
                        }
                   },

                   {
                       "extend": 'print',
                       "exportOptions": { columns: [0, 1, 2, 3] }
                   }
                ]


                });
                

                var tblOptionMeter = $('#MeterTable').DataTable({
                    
                    dom: 'lBfrtip',
                    responsive: true,
                    dom:
			"<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
			"<'row'<'col-sm-12'tr>>" +
			"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    buttons: [
                        {
                            "extend": 'copy',
                            "exportOptions": { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
                        },
                        {
                            "extend": 'csv',
                            "exportOptions": { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
                        },
                        {
                            "extend": 'excel',
                            "exportOptions": { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
                        },
                       {
                           "extend": 'pdfHtml5',

                           "exportOptions": { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] },
                           "text": 'PDF',
                           orientation: 'landscape',
                           pageSize: 'LEGAL',
                           "customize": function (doc) {
                               doc.defaultStyle = {
                                   font: 'THSarabun',
                                   fontSize: 16,
                               };
                           }
                       },

                       {
                           "extend": 'print',
                           "exportOptions": { columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] },
                           orientation: 'landscape',
                           pageSize: 'LEGAL',
                       }
                    ]


                });
               

                pdfMake.fonts = {
                    THSarabun: {
                        normal: 'THSarabun.ttf',
                        bold: 'THSarabun-Bold.ttf',
                        italics: 'THSarabun-Italic.ttf',
                        bolditalics: 'THSarabun-BoldItalic.ttf'
                    }
                  
                }
        // File
      /*      var tblCustomerOption = {
                buttons: [
                   {
                       extend: 'excel',
                       text: 'Save current page',
                       exportOptions: {
                           modifier: {
                               page: 'current'
                           }
                       }
                   }
                ]
            };

            var tblCustomerOption2 = {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            };
            $('#CustomerTable').DataTable(tblCustomerOption2);*/
            //console.log(new Date().getFullYear());

                function SaveEditMeter() {
                   
                    var meterNum = document.getElementById("txtMeterNumMEdit").value;
                    var meterName = $('#txtMeterNameMEdit').val();
                    var meterType =  Number(document.getElementById("seMeterTypeMEdit").value);
                    var meterLicenseID = $('#seLicenseIDMEdit').val();
                    var meterStatus = Number(document.getElementById("seStatusMEdit").value);
                    var meterCommdate = $('#datepicCommdateMEdit').val();
                    
                    
                    console.log(meterNum);
                    console.log(meterName);
                    console.log(meterType);
                    console.log(meterLicenseID);
                    console.log(meterStatus);
                    console.log(meterCommdate);
                    $.ajax({
                        url: '@Url.Action("EditMeter")',
                        type: 'POST',
                        data: { datepicCommdateMEdit: meterCommdate, txtMeterNameMEdit: meterName, txtMeterNumMEdit: meterNum, seMeterTypeMEdit: meterType, seStatusMEdit: meterStatus, seLicenseCodeMEdit: meterLicenseID},
                        success: function (response) {
                          window.location.reload();
                          
                        }
                    });
                
               // $('#frmEditMeter').submit();
      
               
               // $("#metering").load(window.location.href + " #metering");
            }
        
        function CloseMapCusModal() {
            window.location.reload();
        }
            function CloseEditMeter() {
                document.getElementById('checkGisMapEdit').checked = false;
                document.getElementById('mapEdit').style.display = 'none';
            }

            function CheckGisMapCreate() {
               
                if (document.getElementById('checkGisMapCreate').checked == true && document.getElementById("txtMeterNumMCreate").value !="") {

                    map_customer_json = {
                        "menu": "utilization-customer",
                        "type": "METERING",
                        "command": "view",
                        "parameter": {
                            "SHIP_TO": $("#seShipToMCreate").val(),
                            "METER_NUMBER": $("#txtMeterNumMCreate").val()
                        }
                    };
                    //console.log("save map");
                    // console.log(map_customer_json);
                    map_frame2 = document.getElementById('map_frame2');
                    map_frame2.contentWindow.postMessage(map_customer_json, '*');
                    document.getElementById('mapCreate').style.display = 'block';
                    document.getElementById('txtMeterNumMCreate').readOnly = true;
                    document.getElementById('txtMeterNameMCreate').readOnly = true;
                    document.getElementById('seMeterTypeMCreate').disabled = true;
                    //document.getElementById('seShipToMCreate').selectpicker.disabled = true; 
                    
                    //document.getElementById('seLicenseMCreate').disabled = true;
                    document.getElementById('seStatusMCreate').disabled = true;
                    document.getElementById('datepicCommdateMCreate').disabled = true;
                    $('#seShipToMCreate').prop('disabled', true);
                    $('#seShipToMCreate').selectpicker('refresh');
                    $('#seLicenseMCreate').prop('disabled', true);
                    $('#seLicenseMCreate').selectpicker('refresh');
                 
                }
                else if (document.getElementById('checkGisMapCreate').checked == true && document.getElementById("txtMeterNumMCreate").value == "") {
                    alert("Please enter the Station number");
                    document.getElementById('mapCreate').style.display = 'none';
                    document.getElementById('checkGisMapCreate').checked = false;
                }
                else {
                    document.getElementById('mapCreate').style.display = 'none';
                    document.getElementById('txtMeterNumMCreate').readonly = 'readonly';
                    document.getElementById('txtMeterNumMCreate').readOnly = false;
                    document.getElementById('txtMeterNameMCreate').readOnly = false;
                    document.getElementById('seMeterTypeMCreate').disabled = false;
                   
                    //document.getElementById('seLicenseMCreate').disabled = false;
                    document.getElementById('seStatusMCreate').disabled = false;
                    document.getElementById('datepicCommdateMCreate').disabled = false;
                   // document.getElementById('datepicCommdateMCreate').disabled = false;
                    $('#seShipToMCreate').prop('disabled', false);
                    $('#seShipToMCreate').selectpicker('refresh');
                    $('#seLicenseMCreate').prop('disabled', false);
                    $('#seLicenseMCreate').selectpicker('refresh');
                }

            }

            function CheckGisMapEdit() {

                if (document.getElementById('checkGisMapEdit').checked == true) {
                    console.log($("#txtMeterNumMEdit").val());
                    console.log($("#txtShipToMEdit").val());
                    var map_meter_json = {
                        "menu": "utilization-customer",
                        "type": "METERING",
                        "command": "view",
                        "parameter": {
                            "METER_NUMBER": $("#txtMeterNumMEdit").val(),
                            "SHIP_TO": $("#txtShipToMEdit").val()
                        }
                    }
                    map_frame = document.getElementById('map_frame');
                    map_frame.contentWindow.postMessage(map_meter_json, '*');
                    //  console.log(map_meter_json);
                    document.getElementById('mapEdit').style.display = 'block';

                }
                else {
                    document.getElementById('mapEdit').style.display = 'none';
                }

            }
            $(function () {

            $('#datepicCommdateMEdit').datepicker({
                endDate: new Date(),
                format: "dd/mm/yyyy",
                autoclose: true
            });
           // var datenow = new Date(new Date().getDate() , new Date().getMonth() , new Date().getFullYear());
           // console.log(datenow);
            $('#datepicCommdateMCreate').datepicker({
                endDate: new Date(),
                format: "dd/mm/yyyy",
                minViewMode: "days",
                autoclose: true
            })


        });

            function EditCust(cust) {
                //modalEdit.style.display = "block";

                @foreach (var cusAll in Model.ListCustAll)
        {
            <text>
               // console.log(cust);
                if (cust == '@cusAll.SHIP_TO') {
                    $("#txtCustNameEdit").val('@cusAll.CUST_NAME');
                    $("#txtCustSNameEdit").val('@cusAll.CUST_SNAME');
                    $("#txtShipToEdit").val('@cusAll.SHIP_TO');
                    $("#txtCustNameENEdit").val('@cusAll.CUST_NAME_EN');
                    $("#txtShipToAddrEdit").val('@cusAll.SHIP_TO_ADDRESS');
                    $("#txtPlantNameEdit").val('@cusAll.PLANT_NAME');
                    $("#txtSaleEdit").val('@cusAll.SALES_DISTRICT');
                    $("#txtContractEdit").val('@cusAll.CONTRACT_TYPE');
                    $("#txtIENameEdit").val('@cusAll.IE_NAME');
                    $("#txtRegionEdit").val('@cusAll.REGION');
                    $("#txtUpdateByEdit").val('@cusAll.UPDATED_BY');
                    $("#txtUpdateDateEdit").val('@cusAll.UPDATED_DATE');
                    $("#txtObjectIDEdit").val('@cusAll.OBJECTID');
                    $("#txtSoldToEdit").val('@cusAll.SOLD_TO');
                    $("#txtFlagShapeEdit").val('@cusAll.FLAG_SHAPE');
                    $("#txtFlagShapeEdit").val('@cusAll.FLAG_SHAPE');
                    $("#txtSoldToNameEdit").val('@cusAll.SOLD_TO_NAME');
                    $("#txtSoldToAddrEdit").val('@cusAll.SOLD_TO_ADDRESS');
                    $("#txtStatusEdit").val('@cusAll.STATUS');
                   // console.log('@cusAll.CUST_NAME');

                }
                </text>
        }
            };

            function ViewCust(cust) {
                //modalEdit.style.display = "block";

                @foreach (var cusAll in Model.ListCustAll)
            {
                <text>
               // console.log(cust);
                if (cust == '@cusAll.SHIP_TO') {
                    $("#txtCustNameView").text('@cusAll.CUST_NAME');
                    $("#txtCustSNameView").text('@cusAll.CUST_SNAME');
                    $("#txtShipToView").text('@cusAll.SHIP_TO');
                    $("#txtCustNameENView").text('@cusAll.CUST_NAME_EN');
                    $("#txtShipToAddrView").text('@cusAll.SHIP_TO_ADDRESS');
                    $("#txtPlantNameView").text('@cusAll.PLANT_NAME');
                    $("#txtSaleView").text('@cusAll.SALES_DISTRICT');
                    $("#txtContractView").text('@cusAll.CONTRACT_TYPE');
                    $("#txtIENameView").text('@cusAll.IE_NAME');
                    $("#txtRegionView").text('@cusAll.REGION');
                    $("#txtUpdateByView").text('@cusAll.UPDATED_BY');
                    $("#txtUpdateDateView").text('@cusAll.UPDATED_DATE');
                    $("#txtObjectIDView").text('@cusAll.OBJECTID');
                    $("#txtSoldToView").text('@cusAll.SOLD_TO');
                    $("#txtFlagShapeView").text('@cusAll.FLAG_SHAPE');
                    $("#txtFlagShapeView").text('@cusAll.FLAG_SHAPE');
                    $("#txtSoldToNameView").text('@cusAll.SOLD_TO_NAME');
                    $("#txtSoldToAddrView").text('@cusAll.SOLD_TO_ADDRESS');
                    $("#txtStatusView").text('@cusAll.STATUS');
                //    console.log('@cusAll.CUST_NAME');

                }
                </text>
            }
            };


            function ViewMeter(meter) {
                //modalEdit.style.display = "block";

                @foreach (var cusMeterV in Model.ListMeter)
                {
                    <text>
               // console.log(meter);
                if (meter == '@cusMeterV.METER_NUMBER_T') {
                    $("#txtCustNameMView").text('@cusMeterV.CUST_NAME_T');
                    $("#txtLicenseCodeMView").text('@cusMeterV.LICENSE_CODE_T');
                    $("#txtMeterNameMView").text('@cusMeterV.METER_NAME_T');
                    $("#txtMeterNumMView").text('@cusMeterV.METER_NUMBER_T');
                    $("#txtMeterTypeMView").text('@cusMeterV.METER_TYPE_T');
                    $("#txtRegionMView").text('@cusMeterV.REGION_NAME_T');
                    $("#txtShipToMView").text('@cusMeterV.SHIP_TO_T');
                    $("#txtSoldToMView").text('@cusMeterV.SOLD_TO_T');
                    $("#txtSoldToNameMView").text('@cusMeterV.SOLD_TO_NAME_T');
                    $("#txtStatusMView").text('@cusMeterV.STATUS_DETAIL_T');
                    $("#txtCommDateMView").text('@cusMeterV.COMMDATE_T_S');

                    }
                    </text>
                }
            };


            function EditMeter(meterE) {
                //modalEdit.style.display = "block";
               
                //console.log(meterE);
                @foreach (var cusMeterE in Model.ListMeter)
                {
                    <text>
                   
                if (meterE == '@cusMeterE.METER_NUMBER_T') {
                    $("#txtObjectIDMEdit").val('@cusMeterE.METER_NUMBER');
                    $("#txtCustNameMEdit").val('@cusMeterE.CUST_NAME_T');
                    $("#seLicenseIDMEdit").val('@cusMeterE.LICENSE_ID_T');
                    $("#txtMeterNameMEdit").val('@cusMeterE.METER_NAME_T');
                    $("#txtMeterNumMEdit").val('@cusMeterE.METER_NUMBER_T');
                    $("#seMeterTypeMEdit").val('@cusMeterE.METER_TYPE_ID_T');
                    $("#txtRegionMEdit").val('@cusMeterE.REGION_NAME_T');
                    $("#txtShipToMEdit").val('@cusMeterE.SHIP_TO_T');
                    $("#txtSoldToMEdit").val('@cusMeterE.SOLD_TO_T');
                    $("#txtSoldToNameMEdit").val('@cusMeterE.SOLD_TO_NAME_T');
                    $("#seStatusMEdit").val('@cusMeterE.STATUS_T');
                    $("#datepicCommdateMEdit").val('@cusMeterE.COMMDATE_T_S');

                   
                }
                    </text>
                }
            };

        function CreateMeter() {
            // console.log("Hello Worldaaaa");
            $("#datepicCommdateMCreate").datepicker({ format: "dd/mm/yyyy" });
           var txtMeterNumMCreate = document.getElementById("txtMeterNumMCreate").value;
            var txtMeterNameMCreate = document.getElementById("txtMeterNameMCreate").value;
            var seMeterTypeMCreate = document.getElementById("seMeterTypeMCreate").value;
            var seShipToMCreate = document.getElementById("seShipToMCreate").value;
            var seLicenseMCreate = document.getElementById("seLicenseMCreate").value;
            var seStatusMCreate = Number(document.getElementById("seStatusMCreate").value);
            var datepicCommdateMCreate = $('#datepicCommdateMCreate').val();
           
            if (txtMeterNumMCreate == "" ) {
                alert("โปรดกรอกช่อง Station Number");
            }

            else{
            $.ajax({
                url: '@Url.Action("CreateMeter")',
                type: 'POST',
                data: { txtMeterNum: txtMeterNumMCreate, txtMeterName: txtMeterNameMCreate, seMeterType: seMeterTypeMCreate, seShipTo: seShipToMCreate, seLicense: seLicenseMCreate, seStatus: seStatusMCreate, datepicCommdate: datepicCommdateMCreate },
                success: function (response) {
                    alert(response);
                    window.location.reload();
                    //if (response == "เพิ่มข้อมูลเรียบร้อย") {
                    //    var js = {
                    //        "menu": "utilization-customer",
                    //        "type": "METERING",
                    //        "command": "Save",
                    //        "parameter": {
                    //            "METER_NUMBER": txtMeterNumMCreate,
                    //            "SHIP_TO": seShipToMCreate
                    //        }
                    //    }
                    //    map_frame.contentWindow.postMessage(map_customer_json, '*');
                    //    //$("#myModalCreate").style.display = "none";
                    //    window.location.reload();
                    //}
                }
            });
            }
        }

        function IfameCustomer(SHIP_TO, SOLD_TO) {
            map_customer_json = {
                "menu": "utilization-customer",
                "type": "CUSTOMER",
                "command": "view",
                "parameter": {
                    "SHIP_TO": SHIP_TO,
                    "SOLD_TO": SOLD_TO
                }
            }
           // console.log("test Map");
            // console.log(map_customer_json);
            map_iframe_report = document.getElementById('map_iframe_report');
            map_iframe_report.contentWindow.postMessage(map_customer_json, '*');
           // $("#ModalIfameCustomer").modal("show");
        }
    </script>
}
