@model PTT_NGROUR.Models.ViewModel.ModelUtilization

@{
    ViewBag.Title = "Utilization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>

<style>
    #scollbar::-webkit-scrollbar-track {
        border: 1px solid #f5f5f5;
        background-color: white;
    }

    #scollbar::-webkit-scrollbar {
        width: 8px;
        background-color: #808080;
    }

    #scollbar::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }
    /* .dotg {
        height: 15px;
        width: 15px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }*/

  
    
    
</style>

    
   

<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <span style="float:right">
        <a class="f6 link dim  w-5  blue5 pr2 form-inline " href="@Url.Action("importexcel", "Utilization")" id="btnImExcel">Import&nbsp;Excel</a>|<a class="f6 link dim w-5 pl1 blue5" href="@Url.Action("ThresholdSetting", "Utilization")" id="btn_imExcel">Threshold&nbsp;Setting</a>
    </span> <span style="float:none"></span>
    <br />
    <!--Search Bar Web-->
    <div class=" p-3 mb-2 well well-sm text-dark well-white">
        <div class="form-inline " style="padding-bottom:.5rem;">
            <div class="form-inline">
                <label class=" ml-5 lato" style="padding-right:6px">
                    <input type="radio" name="radio" id="radioRegion" checked="checked" onclick="javascript:Check();">
                    <span class="checkmark h6 b">Region</span>
                </label>
                <label class="lato d-none ">
                    <input type="radio" name="radio" id="radioLicense" onclick="javascript:Check();">
                    <span class="checkmark h6 b"> License</span>
                </label>
                <span id="seRegion">
                    <select class="selectpicker fz-12px" name="MultiRegion" id="MultiRegion" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true">
                        @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                        {
                            <option value="@ml.REGION_ID" class="text-grey" style="word-wrap:break-word;font-size:15px">@ml.REGION_NAME</option>
                        }
                    </select>
                </span>



                <span id="seLicense">
                    <select class="selectpicker  " data-size="8" name="MultiLicense" id="MultiLicense" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true">
                        @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                        {
                            <option class="hidden-sm hidden-xs" value="@ml.LICENSE_ID" style="word-wrap: break-word">@ml.LICENSE</option>
                            <option class="hidden-lg hidden-md" value="@ml.LICENSE_ID" style="word-wrap: break-word;white-space:normal">@ml.LICENSE</option>
                        }
                    </select>
                </span>
                <button type="button" class="btn btn-primary " id="btnSearch" onclick="Search()">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>






    </div>


    <!-- <div class="col-container">
         <div class="bg-white hidden-sm hidden-xs col-sm-12 border-gray">
             <i class="fa fa-circle fa-lg green" aria-hidden="true"></i> <label class="f7 ">Gate Station < 80 % , Pipeline < 55 ft/s </label>
             <i class="fa fa-circle fa-lg yellow" aria-hidden="true"></i> <label class="f7 ">Gate Station > 80 %  , Pipeline > 55 ft/s </label>
             <i class="fa fa-circle fa-lg red" aria-hidden="true"></i> <label class="f7 ">Gate Station > 87.5 % , Pipeline > 60 ft/s </label>
         </div>
     </div>-->


    <div class="col-container col-container-white col-sm-12 ">
        <div class="col col-sm-8 pt-15px pb-15px  pl-0 ">
            <canvas></canvas>
        </div>
        <!-- <div class="pl2 pr2 border-left"></div>-->
        <div class="col col-sm-4 pt-15px pb-15px pr-0 pl-0-xs pl-0-sm border-left-md border-left-lg ">
            <div class="form-inline">

                <div class="input-group" style="width: 100% ">
                    <div class="input-group-btn" style="width: 20% !important">
                        <!--<button class="btn btn-default btn-sm btn-block" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="type-filter">
                            <li><a id="seAll"  class="fz-12px drop_role">All</a></li>
                            <li><a id="sePipeline" class="fz-12px drop_role" href="#">Pipeline</a></li>
                            <li><a id="seGate" class="fz-12px drop_role" href="#">Gate Station</a></li>
                            <li><a id="seMetering" class="fz-12px  drop_role" href="#">Metering Station</a></li>

                        </ul>-->
                        <select class="form-control form-control-sm fz-12px" id="type-filter" style="height: 30px !important;">
                            <option id="seAll" class="fz-12px drop_role" value="all">All</option>
                            <option id="sePipeline" class="fz-12px drop_role" value="PIPELINE">Pipeline</option>
                            <option id="seGate" class="fz-12px drop_role" value="GATESTATION">Gate Station</option>
                            <option id="seMetering" class="fz-12px drop_role" value="METERING">Metering</option>
                        </select>

                    </div>


                    <input id="txtSearch" class="form-control input-sm " type="text" aria-describedby="name-desc" style="width: 100% !important" onkeyup="myFunction()">

                    <div class="input-group-btn" style="width:30%">
                        <!--   <button class="btn btn-default btn-sm btn-block" data-toggle="dropdown">
                              Threshold <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                              <li><a id="seAllThres" class="fz-12px drop_role" href="#">All Threshold</a></li>
                              <li><a id="seGree" class="fz-12px drop_role" href="#">Green</a></li>
                              <li><a id="seYello" class="fz-12px drop_role" href="#">Yellow</a></li>
                              <li><a id="seRed" class="fz-12px drop_role" href="#">Red</a></li>
                          </ul>-->

                        <select class="form-control form-control-sm fz-12px" id="threshold-filter" style="height: 30px !important;">
                            <option id="seAllThres" class="fz-12px drop_role" value="all">All Threshold</option>
                            <option id="seGree" class="fz-12px drop_role" value="green">Green</option>
                            <option id="seYello" class="fz-12px drop_role" value="yellow">Yellow</option>
                            <option id="seRed" class="fz-12px drop_role" value="red">Red</option>
                        </select>

                    </div>



                    <!--  <a type="button" class="btn btn-primary btn-xs" href="#">
                        <span class="fa fa-search dib gray6 white" aria-hidden="true"></span>
                    </a>-->

                    <div class="cr"></div>
                </div>
            </div>
            <br />
            <div class="table-responsive scrollable-height scrollable-height-lg" id="TableValue">
                <table class="table table-striped table-hover" id="utilTbl">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>








    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('seLicense').style.display = 'none';

        });

        function Check() {

            if (document.getElementById('radioRegion').checked) {
                document.getElementById('seRegion').style.display = 'inline-block';
                document.getElementById('seLicense').style.display = 'none';

            }
            else if (document.getElementById('radioLicense').checked) {
                document.getElementById('seLicense').style.display = 'inline-block';
                document.getElementById('seRegion').style.display = 'none';
            }
        }


        var region;
        $('#MultiRegion').change(function () {
            SeRegion = $(this).val();
            // console.log(region);

        })
        $('#MultiLicense').change(function () {
            SeLicense = $(this).val();
            // console.log(region);

        })
        
        function Search() {
            let url;
            let multidata;
            if (document.getElementById('radioRegion').checked) {
                url = '@Url.Action("SearchRegion")';
                multidata = SeRegion;
            }
            else if (document.getElementById('radioLicense').checked) {
                url = '@Url.Action("SearchLicense")';
                multidata = SeLicense;
            }
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(multidata),
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    success: function (data) {
                        $('#utilTbl').find('tbody tr').each(function () {
                            this.remove();
                        });
                        for (let i in data) {
                            if (data[i].COLOR == 'Green') {
                                data[i].COLOR = '<span class="fa fa-circle " style="color:#16a085"></span>'
                                color1 = "green"
                                console.log(color1);
                            } else if (data[i].COLOR == 'Yellow') {
                                data[i].COLOR = '<span class="fa fa-circle " style="color:#f1c40f"></span>'
                                color1 = "yellow"
                                console.log(color1);
                            } else if (data[i].COLOR == 'Red') {
                                data[i].COLOR = '<span class="fa fa-circle " style="color:#e74c3c"></span>'
                                color1 = "red"
                            } else {
                                data[i].COLOR = "";
                                color1 = "no"
                            }
                            console.log('color1' + color1);
                            console.log('data' + data[i].NO);
                            
                            $('#utilTbl > tbody:last-child').append('<tr id="' + data[i].NO + '" class="rowfil" data-color="' + color1 + '" data-type="' + data[i].TYPE + '"><td><h6 class="margin-lr0">' + data[i].COLOR + '</h6></td><td><h6 class="margin-lr0">' + data[i].NAME + '</h6></td><td><h6 class="margin-lr0">' + data[i].TYPE + '</h6></td></tr>');
                        }
                    },
                    error: function (result) {
                        alert('Fail ');
                    }
                });
            
            
        }//function searcch
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("txtSearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("utilTbl");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        //////////////////////

        //$("#threshold-filter").change(function () {
        //    console.clear();
        //    var filterValue = $(this).val();
        //    var row = $('.rowfil');

        //    row.each(function (i, el) {
        //        if ($(el).attr('data-color') == filterValue) {
        //            row.hide()
        //            $(el).show();
        //        }
        //    });
        //    // In Addition to Wlin's Answer (For "All" value)
        //    if ("all" == filterValue) {
        //        row.show();
        //    }

        //});

        var
  filters = {
      color: null,
  };

        function updateFilters() {
            $('.rowfil').hide().filter(function () {
                var
                  self = $(this),
                  result = true; // not guilty until proven guilty

                Object.keys(filters).forEach(function (filter) {
                    if (filters[filter] && (filters[filter] != 'all') && (filters[filter] != 'Any')) {
                        result = result && filters[filter] === self.data(filter);
                    }
                });

                return result;
            }).show();
        }

        function changeFilter(filterName) {
            filters[filterName] = this.value;
            updateFilters();
        }

        // Threshold Dropdown Filter
        $('#threshold-filter').on('change', function () {
            changeFilter.call(this, 'color');
        });

        // Type Dropdown Filter
        $('#type-filter').on('change', function () {
            changeFilter.call(this, 'type');
        });

       

        //////////////////////

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</div>







