<!DOCTYPE html>
@model PTT_NGROUR.Models.ViewModel.ModelUtilization


@{
    ViewBag.Title = "Utilization";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

@section style{
<link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<style>
    /* .dotg {
        height: 15px;
        width: 15px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }*/
    .tableFixHead {
        overflow-y: auto;
        height: 380px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background: white;
    }
</style>

}
@{
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">

    <!--Search Bar -->
    <div class="ph2 ph0-xs">
        <div class=" p-3 mb-2 col-container col-container-white text-dark ">
            <div style="padding-bottom:.5rem;padding-top:.5rem">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-3 col-md-3 col-sm-3"></span>
                        <div class="col-lg-5 col-md-5  col-sm-5 col-xs-7" id="seRegion" style="padding-bottom: 0rem !important">
                            <div class="form-group" style="margin-bottom:5px;">

                                <select class="selectpicker fz-12px form-control" name="MultiRegion" id="MultiRegion" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                                    {
                                        <option value="@ml.REGION_ID" class="text-grey" style="word-wrap:break-word;font-size:15px">@ml.REGION_NAME</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-7" id="seLicense" style="padding-bottom: 0rem !important">
                            <div class="form-group" style="margin-bottom:5px;">
                                <select class="selectpicker fz-12px form-control" name="MultiLicense" id="MultiLicense" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                                    {
                                        <option class="hidden-sm hidden-xs" value="@ml.LICENSE_ID" style="word-wrap: break-word">@ml.LICENSE</option>
                                        <option class="hidden-lg hidden-md" value="@ml.LICENSE_ID" style="word-wrap: break-word;white-space:normal">@ml.LICENSE</option>
                                    }
                                </select>
                            </div>
                        </div>



                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button type="button" class="btn btn-primary" id="btnSearch" onclick="Search()" style="border-radius:0">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </span>

                        <span class="col-lg-3 col-md-3 col-sm-3 col-xs-1"></span>
                    </div>
                </div>
                <div class="row" style="margin-top:-4rem;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-3 col-md-3 col-sm-3 "></span>
                        <span class="col-lg-2 col-md-2 col-sm-3 col-xs-7">
                            <label class=" ml-5 lato" style="padding-right:6px">
                                <input type="radio" name="radio" id="radioRegion" checked="checked" onclick="javascript:Check();">
                                <span class="checkmark h6 b">Region</span>
                            </label>
                            <label class="d-none ">
                                <input type="radio" name="radio" id="radioLicense" onclick="javascript:Check();">
                                <span class="checkmark h6 b"> License</span>
                            </label>
                        </span>
                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></span>

                       @if ((users.Roleid).Equals(1))
                                    {
                         <span class="col-lg-2 col-md-2 col-sm-2 col-xs-1" >
                            <span class="pull-right" style="padding-top:0.3rem">
                                <a class="link h5 blue5 form-inline hidden-sm hidden-xs" href="@Url.Action("importexcel", "Utilization")" id="btnImExcel">Import&nbsp;Excel</a><span class="h5 hidden-sm hidden-xs">&nbsp;|&nbsp;</span><a class=" link  blue5 h5" href="@Url.Action("ThresholdSetting", "Utilization")" id="btn_imExcel">Threshold&nbsp;Setting</a>
                            </span>
                        </span> <span style="float:none"></span>}
                        <span class="col-lg-4 col-md-4 col-sm-1 col-xs-2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- <div class="col-container">
         <div class="bg-white hidden-sm hidden-xs col-sm-12 border-gray">
             <i class="fa fa-circle fa-lg green" aria-hidden="true"></i> <label class="f7 ">Gate Station < 80 % , Pipeline < 55 ft/s </label>
             <i class="fa fa-circle fa-lg yellow" aria-hidden="true"></i> <label class="f7 ">Gate Station > 80 %  , Pipeline > 55 ft/s </label>
             <i class="fa fa-circle fa-lg red" aria-hidden="true"></i> <label class="f7 ">Gate Station > 87.5 % , Pipeline > 60 ft/s </label>
         </div>
     </div>-->

    <div class="ph2 ph0-xs">
        <div class="col-container col-container-white col-sm-12 col-xs-12">
            <div class=" col-sm-8 pt-15px pb-15px  pl-0 pr-0-xs pr-0-sm" style="min-height:100% !important">
                <iframe src="@System.Web.Configuration.WebConfigurationManager.AppSettings["UtiliztionMap"]" style="min-height: 430px !important; width: 100% !important;" id="map_frame"></iframe>
            </div>
            <!-- <div class="pl2 pr2 border-left"></div>-->
            <div class="col-sm-4 pt-15px pb-15px pr-0 pl-0-xs pl-0-sm border-left-md border-left-lg ">
                <div class="form-inline">

                    <div class="input-group" style="width: 100% ">
                        <div class="input-group-btn" style="width: 20% !important">
                            <!--<button class="btn btn-default btn-sm btn-block" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="type-filter">
                                <li><a id="seAll"  class="fz-12px drop_role">All</a></li>
                                <li><a id="sePipeline" class="fz-12px drop_role" href="#">Pipeline</a></li>
                                <li><a id="seGate" class="fz-12px drop_role" href="#">Gate Station</a></li>
                                <li><a id="seMetering" class="fz-12px  drop_role" href="#">Metering Station</a></li>

                            </ul>-->
                            <select class="form-control form-control-sm fz-12px" id="type-filter" style="height: 30px !important;">
                                <option id="seAll" class="fz-12px drop_role" value="all">All</option>
                                <option id="sePipeline" class="fz-12px drop_role" value="PIPELINE">Pipeline</option>
                                <option id="seGate" class="fz-12px drop_role" value="GATESTATION">Gate Station</option>
                                <option id="seMetering" class="fz-12px drop_role" value="METERING">Metering</option>
                            </select>

                        </div>


                        <input id="txtSearch" class="form-control input-sm " type="text" aria-describedby="name-desc" style="width: 100% !important" onkeyup="myFunction()">

                        <div class="input-group-btn" style="width:30%">
                            <!--   <button class="btn btn-default btn-sm btn-block" data-toggle="dropdown">
                                Threshold <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a id="seAllThres" class="fz-12px drop_role" href="#">All Threshold</a></li>
                                <li><a id="seGree" class="fz-12px drop_role" href="#">Green</a></li>
                                <li><a id="seYello" class="fz-12px drop_role" href="#">Yellow</a></li>
                                <li><a id="seRed" class="fz-12px drop_role" href="#">Red</a></li>
                            </ul>-->

                            <select class="form-control form-control-sm fz-12px" id="threshold-filter" style="height: 30px !important;">
                                <option id="seAllThres" class="fz-12px drop_role" value="all">All Threshold</option>
                                <option id="seGree" class="fz-12px drop_role" value="OK">OK</option>
                                <option id="seYello" class="fz-12px drop_role" value="Warning">Warning</option>
                                <option id="seRed" class="fz-12px drop_role" value="Alert">Alert</option>
                                <option id="seFlag" class="fz-12px drop_role" value="Flag">Flag</option>
                            </select>

                        </div>



                        <!--  <a type="button" class="btn btn-primary btn-xs" href="#">
                            <span class="fa fa-search dib gray6 white" aria-hidden="true"></span>
                        </a>-->

                        <div class="cr"></div>
                    </div>
                </div>
                <br />
                <div class="table-responsive " >
                    <div class="tableFixHead" id="utbt">
                        <table class="table table-striped table-hover" id="utilTbl">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th class="pointer " id="headValueU"><span class="glyphicon glyphicon-sort " style="font-size: 6px;"></span>&nbsp;Value</th>
                                    <th>Unit</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>





    @section scripts{
        <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>

        <script type="text/javascript">
            $('#MultiRegion').selectpicker();
            document.getElementById('seLicense').style.display = 'none';
            //$(document).ready(function () {
            //    $('tr').each(function (a, b) {


            //    });
            //});
            $('.tableFixHead').on('scroll', function () {
                $('thead', this).css('transform', 'translateY(' + this.scrollTop + 'px)');
            });
            function Check() {

                if (document.getElementById('radioRegion').checked) {
                    document.getElementById('seRegion').style.display = 'inline-block';
                    document.getElementById('seLicense').style.display = 'none';

                }
                else if (document.getElementById('radioLicense').checked) {
                    document.getElementById('seLicense').style.display = 'inline-block';
                    document.getElementById('seRegion').style.display = 'none';
                }
            }
            //Sort Table Value//
            $('#headValueU').click(function () {
                var table = $(this).parents('table').eq(0)
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                if (!this.asc) {

                    rows = rows.reverse()


                }


                // console.log(rows.length);
                for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
            })
            function comparer(index) {
                return function (a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index)
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)

                }
            }
            function getCellValue(row, index) { return $(row).children('td').eq(index).text() }

            var map_info_json;
            var region;
            $('#MultiRegion').change(function () {
                SeRegion = $(this).val();
                

            })
            $('#MultiLicense').change(function () {
                SeLicense = $(this).val();
                // console.log(region);

            })

            function Search() {
                let url;
                let multidata;
                if (document.getElementById('radioRegion').checked) {
                    url = '@Url.Action("SearchRegion")';
                    multidata = SeRegion;
                }
                else if (document.getElementById('radioLicense').checked) {
                    url = '@Url.Action("SearchLicense")';
                    multidata = SeLicense;
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(multidata),
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    success: function (data) {
                        initMapTable(data);
                    },
                    error: function (result) {
                        alert('Please select the data ');
                    }
                });

                map_info_json_byregion = {
                    "menu":  "utilization-search-byregion",
                    "parameter": {
                        "REGION": SeRegion,
                    }
                }
                map_frame = document.getElementById('map_frame');
                map_frame.contentWindow.postMessage(map_info_json_byregion, '*');

            }//function searcch
            function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("txtSearch");
                filter = input.value.toUpperCase();
                table = document.getElementById("utilTbl");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
              //  utbt.scrollTo(0, 0);
            }

            function utilTblOnclick() {
                let map_info = $(this).data("map_info");
                map_info_json = {
                    "menu": "utilization-search",
                    "type": map_info.TYPE,
                    "command": "view",
                    "flag": $('#flag').val() == 1 ? true : false,
                    "flagby": $('#username').val(),
                    "parameter": {
                        "REGION": map_info.REGION,
                        "LICENSE": map_info.LICENSE,
                        "NAME": map_info.NAME,
                        "MONTH": map_info.MONTH,
                        "YEAR": map_info.YEAR,
                    }
                }
                map_frame = document.getElementById('map_frame');
                map_frame.contentWindow.postMessage(map_info_json, '*');
            }
            var x;
            function initMapTable(data) {
                //GetdatafromMap(data);
                //console.log(data);
                x = data;
                $('#type-filter').val('all');
                $('#threshold-filter').val('all');
                $('#utilTbl').find('tbody tr').each(function () {
                    $(this).find('tbody tr').remove();
                  //  utbt.scrollTo(0, 0);
                });
                $('#txtSearch').val("");
                for (let i in data) {
                    if (data[i].THRESHOLD == 'OK' && data[i].FLAG == '0') {
                        THRESHOLD = '<span class="fa fa-circle " style="color:#16a085"></span>'
                        color1 = "OK"
                    } else if (data[i].THRESHOLD == 'Warning' && data[i].FLAG == '0') {
                        THRESHOLD = '<span class="fa fa-circle " style="color:#f1c40f"></span>'
                        color1 = "Warning"
                    } else if (data[i].THRESHOLD == 'Alert' && data[i].FLAG == '0') {
                        THRESHOLD = '<span class="fa fa-circle " style="color:#e74c3c"></span>'
                        color1 = "Alert"
                    } else if (data[i].FLAG == '1' || data[i].THRESHOLD == 'Flag') {
                        THRESHOLD = '<span class="fa fa-flag " style="color:#e67e22"></span>'
                        color1 = "Flag"
                    } else {
                        THRESHOLD = "";
                        color1 = "no"
                    }
                    if (data[i].STATUS == 'INACTIVE' && data[i].TYPE == 'METERING') {
                        status = 'style="color:red"';
                    } else {
                        status = "";
                    }

                    if (data[i].TYPE == 'METERING') {
                        value = "";
                        unit = ' ';
                        if (data[i].NAME == "") {
                            name = "" + data[i].CUST_NAME;

                        } else {
                            name = "" + data[i].CUST_NAME + " (" + data[i].NAME + ")";


                        }

                    } else {
                        name = data[i].NAME;
                        if (data[i].TYPE == 'PIPELINE') {
                            value = data[i].VALUE;
                            unit = "ft/s"
                        } else if (data[i].TYPE == 'GATESTATION') {
                            value = data[i].VALUE;
                            unit = "%"
                        }

                    }

                    $('#utilTbl > tbody:last-child').append('<tr id="' + data[i].NAME + '" class="rowfil pointer" data-color="' + color1 + '" data-type="' + data[i].TYPE + '" ' + status + '><td><h4 class="margin-lr0">' + THRESHOLD + '</h6></td><td><h6 class="margin-lr0">' + name + '</h6></td><td><h6 class="margin-lr0">' + value + '</h6></td><td><h6 class="margin-lr0">' + unit + '</h6></td><td><h6 class="margin-lr0">' + data[i].TYPE + '</h6></td></tr>');
                    $('#utilTbl > tbody >tr:last-child').data('map_info', data[i]);
                    $('#utilTbl > tbody >tr:last-child').click(utilTblOnclick);
                }
            }//int map
            function getDataFromMap(newData) {
                //console.log(x);
                if (x.length > 1) {
                    for (let i in x) {
                        if (newData.NAME == x[i].NAME) {
                            x[i].THRESHOLD = newData.THRESHOLD;
                            break;
                        }
                    }
                    
                    initMapTable(x);
                }
            }
            
            //map_frame.contentWindow.postMessage(map_info_json, '*');
            //////////////////////

            //$("#threshold-filter").change(function () {
            //    console.clear();
            //    var filterValue = $(this).val();
            //    var row = $('.rowfil');

            //    row.each(function (i, el) {
            //        if ($(el).attr('data-color') == filterValue) {
            //            row.hide()
            //            $(el).show();
            //        }
            //    });
            //    // In Addition to Wlin's Answer (For "All" value)
            //    if ("all" == filterValue) {
            //        row.show();
            //    }

            //});

            var
      filters = {
          color: null,
      };

            function updateFilters() {
                $('.rowfil').hide().filter(function () {
                    var
                      self = $(this),
                      result = true; // not guilty until proven guilty

                    Object.keys(filters).forEach(function (filter) {
                        if (filters[filter] && (filters[filter] != 'all') && (filters[filter] != 'Any')) {
                            result = result && filters[filter] === self.data(filter);
                        }
                    });

                    return result;
                }).show();
            }

            function changeFilter(filterName) {
                filters[filterName] = this.value;
                updateFilters();
              //  utbt.scrollTo(0, 0);
            }

            // Threshold Dropdown Filter
            $('#threshold-filter').on('change', function () {
                changeFilter.call(this, 'color');
            });

            // Type Dropdown Filter
            $('#type-filter').on('change', function () {
                changeFilter.call(this, 'type');
            });
            map_frame = document.getElementById('map_frame');
            map_frame.contentWindow.postMessage(map_info_json, '*');

            //////////////////////

        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    }
</div>







