@{
    ViewBag.Title = "Utilization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        border-collapse: collapse;
        background-color: white;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        padding: 8px;
        text-align: left;
        border-bottom: 3px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    #scollbar::-webkit-scrollbar-track {
        border: 1px solid #f5f5f5;
        background-color: white;
    }

    #scollbar::-webkit-scrollbar {
        width: 8px;
        background-color: #808080;
    }

    #scollbar::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }
</style>

<body>

    <!-- <div class=" w-100 mb1 pv2 hidden-sm hidden-md shadow-bottom  ph5 hidden-md hidden-sm">

         <nav>

             <a href="@Url.Action("Index", "Home")" class="no-underline f6 gray8"><i class="fa fa-home f6 gray8 pr1"></i>&nbsp;Home</a> <label class="gray7">&nbsp;/&nbsp;</label>
             <a href="@Url.Action("Menu_Utilization", "Utilization")" class="no-underline f6 gray8">Utilization</a> <label class="gray7">&nbsp;/&nbsp;</label>
             <a class="no-underline f6 b gray8">Utilization</a>

         </nav>
     </div>-->
    <!--Search Bar Web-->
    <div class=" bg-white w-100 mb3 mt2 hidden-xs  hidden-sm hidden-md">
        <div class="form-inline">
            <label class=" ml5 lato f7">
                <input type="radio" name="radio" id="radioAreaW" checked="checked" onclick="javascript:Check();">
                <span class="checkmark">Region</span>
            </label>
            <select class="ba b--black-20 pa2 db w-13 ml2 form-control " id="seAreaW">
                <option value="1" class="f7  drop_role " selected>region 1</option>
                <option value="2" class="f7  drop_role ">region 2</option>
                <option value="3" class="f7  drop_role ">region 3</option>
                <option value="4" class="f7  drop_role ">region 4</option>
                <option value="5" class="f7  drop_role ">region 5</option>
                <option value="6" class="f7  drop_role ">region 6</option>
                <option value="7" class="f7  drop_role ">region 7</option>
                <option value="8" class="f7  drop_role ">region 8</option>
                <option value="9" class="f7  drop_role ">region 9</option>
                <option value="10" class="f7  drop_role ">region 10</option>
                <option value="11" class="f7  drop_role ">region 11</option>
            </select>
        </div> 
        <label class=" lato d-none ">
            <input type="radio" name="radio" id="radioLicenseW" onclick="javascript:Check();">
            <span class="checkmark"> License</span>
        </label>

        <select class="fba b--black-20 pa2 db w-13  ml2 form-control " id="seLicenseW">
            <option value="license" class="f7  drop_role">License</option>
        </select>

        <select class=" ba b--black-20 pa2 db w-13  ml2 form-control" onclick="javascript:dropdownTxt();" id="select">
            <option id=" seallw" value="all" class="f7 f8-m drop_role" selected>All</option>
            <option id="sePipelineW" value="pipeline" class="f7 drop_role">Pipeline</option>
            <option id="seGateW" value="gate" class="f7 drop_role">Gate Station</option>
            <option id="seMeteringW" value="metering" class="f7  drop_role">Metering Station</option>
        </select>

        <input id="txtPipelineW" class="dn input-reset ba b--black-20 pa2 mb2  w-13  ml1 form-control" type="text" aria-describedby="name-desc" placeholder="PipeLine">
        <input id="txtGateW" class="dn input-reset ba b--black-20 pa2 mb2  w-13  ml1 form-control" type="text" aria-describedby="name-desc" placeholder="Gate Station">
        <input id="txtMeteringW" class="dn input-reset ba b--black-20 pa2 mb2  w-13  ml1 form-control" type="text" aria-describedby="name-desc" placeholder="Metering Station">

        <select class=" ba b--black-20 pa2 db w-13 ml2 form-control">
            <option id="seAllW" value="all" class="f7 f8-m drop_role" selected>All Threshold</option>
            <option id="seGreenW" value="green" class="f7 f8-m drop_role">Green</option>
            <option id="seYellowW" value="yellow" class="f7  drop_role">Yellow</option>
            <option id="seRedW" value="red" class="f7 drop_role">Red</option>
        </select>
        <a id="btnSearch" class="f6 f-table-ns b--gray4 link dim tc w-5 pa2 dib gray bg-gray2 br1 mv2 ml1" href="#">
            <i class="fa fa-search dib gray6" aria-hidden="true"></i>
        </a>
        <div class="fr mv3 mr3"> <a class="f6 link dim  w-5  blue5 pr2" href="@Url.Action("importexcel", "Utilization")" id="btnImExcelW">Import&nbsp;Excel</a>|<a class="f6 link dim w-5 pl1 blue5" href="@Url.Action("ThresholdSetting", "Utilization")" id="btn_imExcel">Threshold&nbsp;Setting</a> </div>
        <div class="cr"></div>
    </div>
    <!--End Search Bar Web-->
    <!--    Search Buutton Mobile  -->
    <div class="hidden-lg bg-white w-100 mb3 pv2 mv2 ph2">

        <label class="f6 gray6">Utilization</label>
        <div class="dib fr mr3">
            <a id="btnSearchModalM" class=" f6-m f7-ns  bg-blue-button link = tc w-5  br1 pv1 ph2" href="#">
                search
            </a>
        </div>
        <div class="dib fr mr3">
            <!-- <a id="btnThreModalM" class=" f6-m f7-ns  b--gray4 link dim tc w-5  gray bg-gray2 br1 pv1 ph2" href="#">
                  Threshold
              </a>-->
            <a id="btnThreModalM" class=" f6-m f7-ns bg-blue-button link tc w-5 br1 pv1 ph2" href="#">
                Threshold
            </a>
        </div>
    </div>   <!--  End  Search Buutton Mobile  -->


    <div class="fr-l ph3-m mh3-l pt2-m pt1-ns w-75-l tc">
        <div class="bg-white pv1 br2 hidden-sm hidden-md pv2  w-100-l pl2">
            <div class="dib ph2"><i class="fa fa-circle fa-lg green" aria-hidden="true"></i> <label class="f7 ">Gate Station < 80 % , Pipeline < 55 ft/s </label></div>
            <div class="dib ph2"><i class="fa fa-circle fa-lg yellow" aria-hidden="true"></i> <label class="f7 ">Gate Station > 80 %  , Pipeline > 55 ft/s </label></div>
            <div class="dib ph2"><i class="fa fa-circle fa-lg red" aria-hidden="true"></i> <label class="f7 ">Gate Station > 87.5 % , Pipeline > 60 ft/s </label></div>
        </div>
    </div>



    <div class="mh1-ns mh2-m ">
        <div class="bg-white pv1-ns pv2-l pv2-m br2 fr-l w-75-l w-100-m w-100-ns mh3-l mt3-l">
        </div>
    </div>




    <div class=" dt pl3 ph1-ns  pt3-m pt3-ns pv2-ns w-100-ns w-100-m  fl-ns ph2-m lato ">

        <div class="fl-ns dib bg-white pa2-l pa1-ns pa2-m dib-ns dib-m  h-12-l h3-m  overflow-auto w-100-l w-50-ns w-40-m " id="scollbar">
            <div class="w-80-l w-70-m w-70-ns tc center-l center-m center-ns">
                <table class="">
                    <tr class="hover-bg-inherit">
                        <th class="w3-l w3-m w3-ns f9-ns"></th>
                        <th class="f9-ns w5-l w4-m w3-ns">Gate Station</th>
                    </tr>

                    <tr>
                        <td class="pa1 pl1 tc w3-l w3-m w3-ns"><i class=" fa fa-circle fa-lg green " id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns w4-l w4-m w3-ns"> Gate Station 1</div></td>
                    </tr>

                    <tr>
                        <td class="pa1 pl1 tc w3-l w3-m w3-ns"><i class=" fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns w4-l w4-m w3-ns"> Gate Station 2</div></td>
                    </tr>

                    <tr>
                        <td class="pa1 pl1 tc w3-l w3-m w3-ns"><i class=" fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w4-l w4-m w3-ns"> Gate Station 3</div></td>

                    </tr>
                    <tr>
                        <td class="pa1 pl1 tc w3-l w3-m w3-ns"><i class=" fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns w4-l w4-m w3-ns"> Gate Station 4</div></td>

                    </tr>

                    <tr>
                        <td class="pa1 pl1 tc w3-l w3-m w3-ns"><i class=" fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns w4-l w4-m w3-ns"> Gate Station 5</div></td>
                    </tr>
                    <!--  <tr class="hover_row">
                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w4-m"> Gate Station 6</div></td>

                    </tr>
                    <tr class="hover_row">
                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w4-m"> Gate Station 7</div></td>

                    </tr>
                    <tr class="hover_row">
                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w5-m"> Gate Station 8</div></td>

                    </tr>
                    <tr>
                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w4-m"> Gate Station 9</div></td>

                    </tr>
                    <tr>
                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w4-m"> Gate Station 10</div></td>
                    </tr>

                    <tr>
                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                        <td><div class="f5 f9-ns  w4-m"> Gate Station 11</div></td>
                    </tr> -->

                </table>
            </div>

        </div>
        <div class=" mv3-l w-50-ns w-57-m w-100-l fr-ns fr-m ">

            <div class="bg-white pv2  ml2-ns">   </div>

        </div>

    </div>


    <div class="cl cr"></div>






    <!--  Modal  Search  Mobile-->
    <div id="modal_search" class="modal  pt6-ns pt5-l pt5-m hidden-lg">
        <div class="modal-content_np pa1  w-60-m w-100-ns br1">
            <div class="fl dib ml3 f5 b pt3">Search</div>
            <span class="closeSearch nt2 pt3 mr3" id="closeCross">&times;</span>
            <div class="cl cr"></div>
            <hr class="style ml0 mr0" />
            <div class="mh3 mv3">
                <form class="ma4  black-80 center ph5-m">
                    <div class="measure ">
                        <div class="ml1 mb2 pt2">
                            <label class="container lato f7 mr3">
                                <input type="radio" name="radio" id="radioAreaM" onclick="javascript:CheckM();" checked="checked">
                                <span class="checkmark">region</span>
                            </label>
                            <label class="container lato f7">
                                <input type="radio" name="radio" id="radioLicenseM" onclick="javascript:CheckM();">
                                <span class="checkmark">ใบอนุญาต</span>
                            </label>
                        </div>
                    </div>
                    <div class="measure">
                        <select class="f7 ba b--black-20 pa2 w-100  ml1 mb2" id="seAreaM">
                            <option value="1" class="f7  drop_role " selected>region 1</option>
                            <option value="2" class="f7  drop_role ">region 2</option>
                            <option value="3" class="f7  drop_role ">region 3</option>
                            <option value="4" class="f7  drop_role ">region 4</option>
                            <option value="5" class="f7  drop_role ">region 5</option>
                            <option value="6" class="f7  drop_role ">region 6</option>
                            <option value="7" class="f7  drop_role ">region 7</option>
                            <option value="8" class="f7  drop_role ">region 8</option>
                            <option value="9" class="f7  drop_role ">region 9</option>
                            <option value="10" class="f7  drop_role ">region 10</option>
                            <option value="11" class="f7  drop_role ">region 11</option>
                        </select>
                    </div>
                    <div class="measure">
                        <select class="f7 ba b--black-20 pa2 w-100 dn ml1 mb2" id="seLicenseM">
                            <option value="license" class="f7  drop_role">ใบอนุญาต</option>
                        </select>
                    </div>

                    <div class="measure">
                        <select class=" ba b--black-20 pa2 db w-100 dib ml1 mb2" onclick="javascript:seSearchM();" id="selectM">
                            <option id="seAllM" value="all" class="f7 f8-m drop_role " selected>All</option>
                            <option id="sePipelineM" value="pipeline" class="f7  drop_rol ">Pipeline</option>
                            <option id="seGateM" value="gate" class="f7 drop_role ">Gate Station</option>
                            <option id="seMeteringM" value="metering" class=" f7 drop_role ">Metering Station</option>
                        </select>
                    </div>
                    <div class="measure">
                        <input id="txtPipelineM" class="input-reset ba b--black-20 pa2 mb2  w-100 ml1 dn" type="text" aria-describedby="name-desc" placeholder="PipeLine">
                    </div>
                    <div class="measure "><input id="txtGateM" class="input-reset ba b--black-20 pa2 mb2 w-100 ml1 dn" type="text" aria-describedby="name-desc" placeholder="Gate Station"> </div>
                    <div class="measure"><input id="txtMeteringM" class="input-reset ba b--black-20 pa2 mb2 w-100  ml1 dn" type="text" aria-describedby="name-desc" placeholder="Metering Station"> </div>
                    <div class="measure">
                        <select class=" ba b--black-20 pa2 mb2  w-100 ml1">
                            <option id="seAllM" value="all" class="f7 f8-m drop_role" selected>All Threshold</option>
                            <option id="seGreenM" value="green" class="f7 f8-m drop_role">Green</option>
                            <option id="seYellowM" value="yellow" class="f7  drop_role">Yellow</option>
                            <option id="seRedM" value="red" class="f7 drop_role">Red</option>
                            <option id="seOrangeM" value="red" class="f7 drop_role">Orange</option>
                        </select>
                    </div>
                </form>

            </div>
            <br /><hr class="style" /><br />

            <div class="measure">
                <div class=" w-100 pv3">
                    <div class="dib fr nt3 pr6" id="btnCreate mh2">
                        <a class="f7 link bg-blue-button tc br1 pv2 ph3 ba" href="#0" id="btnSearch">Search</a>
                    </div> <div class="cr"></div>
                    <div class="dib fr nt3 cancleCreate mh3">
                        <a class="f7 link btn-default tc cancle_search br1  pv2 ph3 ba " href="#0" id="btnCancle">Cancle</a>
                    </div>

                </div>
            </div>
        </div>

    </div>   <!-- End Modal  Search  Mobile-->
    <!--  Modal  Threshold  Mobile-->
    <div id="modalThreshold" class="modal  pt6-ns pt5-l pt5-m hidden-lg">
        <div class="modal-content_np pa1  w-60-m w-100-ns br1">

            <div class="fl dib ml3 f5 b pt3">Threshold</div>
            <span class="closeThreshold nt2 pt3 mr3" id="closeCross">&times;</span>

            <div class="cl cr"></div>
            <hr class="style ml0 mr0" />
            <div class="mh3 mv3">
                <form class="  black-80 center">
                    <div class="measure ">

                        <div class=" ph3-m mh3-l pt3-l pt2-m pt1-ns w-60-l">
                            <!--  <div class="dib pv3">
                                <i class="fa fa-circle fa-2x green w3 fl" aria-hidden="true"></i><span class="cl"></span>
                                <label class="f7 dib pt2">Gate Station < 80% , Pipeline < 55 ft/s </label>
                            </div>
                            <div class="dib pv3">
                                <i class="fa fa-circle fa-2x yellow w3 fl" aria-hidden="true"></i> <span class="cl"></span>
                                <label class="f7 dib pt2">Gate Station > 80% , Pipeline > 55 ft/s </label>
                            </div>
                            <div class="dib pv3">
                                <i class="fa fa-circle fa-2x red w3 fl" aria-hidden="true"></i><span class="cl"></span>
                                <label class="f7 dib pt2">Gate Station > 87.5% , Pipeline > 60 ft/s </label>
                            </div>-->
                            <center>
                                <table class="tc pb3 ">
                                    <tr class="hover-bg-inherit">
                                        <th class="f6-m f7-ns  w-30">Threshold</th>
                                        <th class="f6-m f7-ns  w-40">Gate Station</th>
                                        <th class="f6-m f7-ns   w-40">Pipeline</th>

                                    </tr>
                                    <tr>
                                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg green" id="status" aria-hidden="true"></i></td>
                                        <td><div class="f6-m f7-ns"> < 80% </div></td>
                                        <td><div class="f6-m f7-ns"> < 55 ft/s </div></td>

                                    </tr>
                                    <tr>
                                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg yellow" id="status" aria-hidden="true"></i></td>
                                        <td><div class="f6-m f7-ns"> > 80% </div></td>
                                        <td><div class="f6-m f7-ns"> > 55 ft/s </div></td>

                                    </tr>
                                    <tr>
                                        <td class="pa2 pl2 tc"><i class="f5 fa fa-circle fa-lg red" id="status" aria-hidden="true"></i></td>
                                        <td><div class="f6-m f7-ns"> > 87.5% </div></td>
                                        <td><div class="f6-m f7-ns"> > 60 ft/s </div></td>
                                    </tr>
                                    <tr>
                                </table>
                            </center>
                        </div> <div class="cr cl"></div>

                    </div>


                </form>

            </div>
            <br /><hr class="style" /><br />
            <div class="measure">
                <div class=" w-100 pv3">
                    <div class="dib fr nt3 pr6" id="btnCreate mh2">
                        <a class="f7 link bg-blue-button  tc br1   pv2 ph3 ba" href="@Url.Action("ThresholdSetting", "Utilization")">Threshold setting</a>
                    </div> <div class="cr"></div>
                    <div class="dib fr nt3 cancleCreate mh3">
                        <a class="f7 link btn-default tc cancleThreshold br1  pv2 ph3 ba " href="#0" id="btnCancle">Close</a>
                    </div>

                </div>
            </div>
        </div>

    </div>   <!-- End Modal  Search  Mobile-->




    <script>

        // Get the modal
        var modal_search = document.getElementById('modal_search');

        // Get the button that opens the modal
        var btn_searchModal = document.getElementById("btnSearchModalM");

        // Get the element that closes the modal
        var closeSearch = document.getElementsByClassName("closeSearch")[0];
        var cancle_search = document.getElementsByClassName("cancle_search")[0];

        // When the user clicks the button, open the modal
        btn_searchModal.onclick = function () {
            modal_search.style.display = "block";
        }

        // When the user clicks on (x), close the modal
        closeSearch.onclick = function () {
            modal_search.style.display = "none";
        }
        // When the user clicks on cancle button, close the modal
        cancle_search.onclick = function () {
            modal_search.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal_search) {
                modal_search.style.display = "none";
            }
        }


        // Get the modal
        var modalThreshold = document.getElementById('modalThreshold');

        // Get the button that opens the modal
        var btnThreModal = document.getElementById("btnThreModalM");

        // Get the element that closes the modal
        var closeThreshold = document.getElementsByClassName("closeThreshold")[0];
        var cancleThreshold = document.getElementsByClassName("cancleThreshold")[0];

        // When the user clicks the button, open the modal
        btnThreModal.onclick = function () {
            modalThreshold.style.display = "block";
        }

        // When the user clicks on (x), close the modal
        closeThreshold.onclick = function () {
            modalThreshold.style.display = "none";
        }
        // When the user clicks on cancle button, close the modal
        cancleThreshold.onclick = function () {
            modalThreshold.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modalThreshold) {
                modalThreshold.style.display = "none";
            }
        }



    </script>

    <script type="text/javascript">

        function Check() {

            if (document.getElementById('radioAreaW').checked) {
                document.getElementById('seAreaW').style.display = 'inline-block';
                document.getElementById('seLicenseW').style.display = 'none';
            } else if (document.getElementById('radioLicenseW').checked) {
                document.getElementById('seLicenseW').style.display = 'inline-block';
                document.getElementById('seAreaW').style.display = 'none';

            }
        }


        function dropdownTxt() {
            var value = document.getElementById('select').value;
            if (value == "all") {
                document.getElementById('txtPipelineW').style.display = 'none';
                document.getElementById('txtGateW').style.display = 'none';
                document.getElementById('txtMeteringW').style.display = 'none';
            }

            else if (value == "pipeline") {
                document.getElementById('txtPipelineW').style.display = 'inline-block';
                document.getElementById('txtGateW').style.display = 'none';
                document.getElementById('txtMeteringW').style.display = 'none';
            }
            else if (value == "gate") {
                document.getElementById('txtPipelineW').style.display = 'none';
                document.getElementById('txtGateW').style.display = 'inline-block';
                document.getElementById('txtMeteringW').style.display = 'none';
            }

            else if (value == "metering") {
                document.getElementById('txtPipelineW').style.display = 'none';
                document.getElementById('txtGateW').style.display = 'none';
                document.getElementById('txtMeteringW').style.display = 'inline-block';
            }
        }


        /*   Select  In Search Modal Mobile     */
        function seSearchM() {
            var value = document.getElementById('selectM').value;
            if (value == "all") {
                document.getElementById('txtPipelineM').style.display = 'none';
                document.getElementById('txtGateM').style.display = 'none';
                document.getElementById('txtMeteringM').style.display = 'none';
            }

            else if (value == "pipeline") {
                document.getElementById('txtPipelineM').style.display = 'block';
                document.getElementById('txtGateM').style.display = 'none';
                document.getElementById('txtMeteringM').style.display = 'none';
            }
            else if (value == "gate") {
                document.getElementById('txtPipelineM').style.display = 'none';
                document.getElementById('txtGateM').style.display = 'block';
                document.getElementById('txtMeteringM').style.display = 'none';
            }

            else if (value == "metering") {
                document.getElementById('txtPipelineM').style.display = 'none';
                document.getElementById('txtGateM').style.display = 'none';
                document.getElementById('txtMeteringM').style.display = 'block';
            }
        }






        function CheckM() {

            if (document.getElementById('radioAreaM').checked) {
                document.getElementById('seAreaM').style.display = 'inline-block';
                document.getElementById('seLicenseM').style.display = 'none';
            } else if (document.getElementById('radioLicenseM').checked) {
                document.getElementById('seLicenseM').style.display = 'inline-block';
                document.getElementById('seAreaM').style.display = 'none';

            }
        }
    </script>





</body>



