@{
    ViewBag.Title = "MenuUtilization";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}








<body>

    <!--     Web Version      -->
    <div class="cover bg-left bg-center-l bg-img h-100 hidden-sm hidden-md " id="container" style="background-image:url(http://localhost:11445/Content/Images/wall.png);">
        <!--   <div class="cover bg-left bg-center-l bg-img h-100 hidden-sm hidden-md bg-gray3" id="container">-->
        <div id="header">
            <div class="bg-blue5 hidden-sm hidden-md pv1">
                <div class="topnav" id="myTopnav">
                    <div class="black-70">
                        <a href="@Url.Action("Index", "Home")">
                            <!--  <img id="logo" width="80" src="http://localhost:11445/Content/Images/Logo_PTT.png" />-->
                            <img id="logo" width="130" src="http://localhost:11445/Content/logo/OURlogo1w.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="v-mid ph3-l ph3-m ph5-ns pv6  hidden-sm border-box mt3">

            <center>

                <a class=" db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box" href="@Url.Action("Index", "Utilization")">
                    <div class=" aspect-ratio aspect-ratio--4x3  bg-white shadow-3">
                        <div class="dt aspect-ratio--object lazyload">

                            <div class="dtc v-mid">
                                <center><i class="fa fa-map-marker fa-3x blue5" aria-hidden="true"></i></center>
                                <p class=" measure-wide  f6 lh-copy tc">Utilization</p>
                                <!--<img id="logo" class="w-40 nt3" src="~/Content/Images/icon_dashboard.png" />-->
                            </div>

                        </div>
                    </div>
                </a>

                <a class=" db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box" href="@Url.Action("Customer", "Utilization")">
                    <div class=" aspect-ratio aspect-ratio--4x3  bg-white shadow-3">
                        <div class="aspect-ratio--object lazyload" style="background-repeat: no-repeat; background-position: center center; background-size: cover;">
                            <div class="dt aspect-ratio--object lazyload">
                                <div class="dtc v-mid ">
                                    <center><i class="fa fa-user fa-3x blue5" aria-hidden="true"></i></center>
                                    <p class="tc measure-wide tc-ns f6 lh-copy ">Customer</p>
                                    <!-- <img id="logo" class="w-40 nt3" src="~/Content/Images/icon_o.png" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class=" db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box" href="@Url.Action("ImportExcel", "Utilization")">
                    <div class=" aspect-ratio aspect-ratio--4x3  bg-white shadow-3">
                        <div class="aspect-ratio--object lazyload" style="background-repeat: no-repeat; background-position: center center; background-size: cover;">
                            <div class="dt aspect-ratio--object lazyload">
                                <div class="dtc v-mid ">
                                    <center><i class="fa fa-upload fa-3x blue5" aria-hidden="true"></i></center>
                                    <p class="tc measure-wide tc-ns f6 lh-copy ">Import Excel</p>
                                    <!-- <img id="logo" class="w-40 nt3" src="~/Content/Images/icon_o.png" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class=" db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box" href="@Url.Action("ThresholdSetting", "Utilization")">
                    <div class=" aspect-ratio aspect-ratio--4x3 bg-white shadow-3">
                        <div class="aspect-ratio--object lazyload" style="background-repeat: no-repeat; background-position: center center; background-size: cover;">
                            <div class="dt aspect-ratio--object lazyload">
                                <div class="dtc v-mid">
                                    <center><i class="fa fa-cogs fa-3x blue5" aria-hidden="true"></i></center>
                                    <p class="tc measure-wide tc-ns f6 lh-copy">Threshold Setting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class=" db pointer no-underline grow black-70 fl w-50 w-20-m w-20-l pb2 pr3 border-box" href="@Url.Action("Report", "Utilization")">
       
                    <div class=" aspect-ratio aspect-ratio--4x3 bg-white shadow-3">
                        <div class="aspect-ratio--object lazyload" style="background-repeat: no-repeat; background-position: center center; background-size: cover;">
                            <div class="dt aspect-ratio--object lazyload">
                                <div class="dtc v-mid">
                                    <center><i class="fa fa-file-text fa-3x blue5" aria-hidden="true"></i></center>
                                    <p class="tc measure-wide tc-ns f6 lh-copy">Report</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </center>
        </div>


        <center>
            <div class="hidden dib b--black-10 bg-white shadow-2 br3 mt3 pv2 ph3">

                <a class="dib tl pl3  c-gray mv0 pr3  f5  no-underline">
                    Welcome : xxxxxx
                </a>|

                <a class="dib tr pl3   mv0 pr3 f5  no-underline c-gray" href="#">
                    Sign Out
                </a>
            </div>
        </center>

        <div class="f7  white t-shadow1 " id="footer">
            <center>Copyright &copy; @DateTime.Now.Year PTT DIGITAL Solutions Co.ltd. PTT Group, All rights reserved. Terms of Use Privacy Policy . VERSION PRODUCTION 1</center>
        </div>
    </div>



    <!--Mobile Version-->


    <div class="hidden-lg bg-gray2" id="container">

        <center>
            <div id="header ">


                <nav class="dt w-100 bg-blue5 shadow-2 hidden-lg h4">



                    <div class="dtc v-mid pl3 pr3">
                        <!--   <img class=" v-mid o-80" id="logo" width="80" src="~/Content/Images/Logo_PTT.png" />
                        <a class="black-70 dib ml2 pv2-l ph5-l ph5-m ph2-ns f4 roboto">NAV Head </a>-->
                        <!--   <a class="dtc v-mid dib v-mid fl white dib f6">
                            UserName
                        </a>-->

                        <div class="dtc v-mid"> <img id="logo" width="180" src="http://localhost:11445/Content/logo/OURlogo1w.png" /></div>



                        <!--   <a class="dtc v-mid dib fr white f7 no-underline" href="#">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sign Out
                        </a>-->
                    </div>

                </nav>

            </div>
        </center>

        <div class=" hidden-lg bg-gray2" id="body">

            <a class="dt fl hidden dib   w-50 vh-25 no-underline bg-white br bb b-gray1 menu_hover" href="@Url.Action("Index", "Dashboard")">

                <div class="dtc v-mid tc">

                    <i class="fa fa-map-marker fa-2x blue5" aria-hidden="true"></i>
                    <div class="silver f6 pt3"> Utilization</div>
                </div>
            </a>


            <a class="dt fr hidden  dib w-50 vh-25 no-underline  bg-white bb b-gray1 menu_hover" href="#">
                <br />
                <div class="dtc v-mid tc">
                    <i class="fa fa-user fa-2x blue5" aria-hidden="true"></i>
                    <div class="silver f6 pt3">Customer Management</div>
                </div>
            </a>


            <center>
                <div class="cb">
                    <a class="dt fl hidden  dib w-50 vh-25 no-underline  bg-white br bb b-gray1 menu_hover " href="#">
                        <div class="dtc v-mid tc">
                            <i class="fa fa-cogs fa-2x blue5" aria-hidden="true"></i>
                            <div class="silver f6 pt3">Threshold Setting</div>
                        </div>
                    </a>

                    <div class=" hidden  dib w-50 vh-25 no-underline  bg-white bb b-gray1 ">

                    </div>
                </div>
            </center>
            <center>

            </center>
        </div>

        <div class="f7 hidden-lg ">
            <a class="dt fl hidden  dib vh-5 no-underline  bg-white ph0 bt b-gray1 pv2" id="footer">
                <div class="dtc v-mid tc w-50">
                    <i class="fa fa-user-circle-o fa-lg gray7" aria-hidden="true"></i>
                    <div class="gray7 f6 pt2">User Name</div>
                </div>
                <div class="dtc v-mid tc w-50">
                    <div class="dib">
                        <i class="fa fa-sign-out fa-lg gray7" aria-hidden="true"></i>
                        <div class="gray7 f6 pt2">Sing out</div>
                    </div>
                </div>
            </a>


        </div>
    </div>



    <!-- <div class="f7 black mt3 hidden-lg" id="footer">
      <center class="">Copyright &copy; @DateTime.Now.Year PTT DIGITAL Solutions Co.ltd.</center>
    </div>-->





</body>
<script type="text/javascript">


    $(document).ready(function () {
        $("#dashboardpage").click(function () {
            window.location.href = serverpath + '/Home';
        });
        $("#trackingpage").click(function () {
            window.location.href = serverpath + '/Realtime';
        });
        $("#cctvpage").click(function () {
            window.location.href = serverpath + '/CCTVMonitor/Livestream';
        });
        $("#alarmpage").click(function () {
            window.location.href = serverpath + '/Alarm';
        });
        $("#reportpage").click(function () {
            window.location.href = serverpath + '/Report';
        });
        $("#CPage").click(function () {
            window.location.href = serverpath + '/Help';
        });
        $("#UPage").click(function () {
            window.location.href = serverpath + '/Utilization';
        });

        href="@Url.Action("CustManage", "Utilization")"

    });

    $(document).ready(function () {
        $(".btn1").hide();
        $(".btn2").hide();
        $(".btn3").hide();
        $("#btn1").click(function () {
            $(".btn1").toggle();
        });

        $("#btn2").click(function () {
            $(".btn2").toggle();
        });

        $("#btn3").click(function () {
            $(".btn3").toggle();
        });
    });




</script>



