@model PTT_NGROUR.Models.ViewModel.ModelUtilization
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}


@section style{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css" />
 <link href="~/Scripts/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <style>
        .head {
            background-color: #e0e0e0;
        }

        .ui-datepicker-calendar {
            display: none;
        }
    </style>
}
<br />
<div class="container-fluid" style="margin-top:-.8rem">

    <!--Search Bar -->
    <div class="ph2 ph0-xs">
        <div class=" p-3 mb-2 col-container col-container-white text-dark ">
            <div style="padding-bottom:.5rem;padding-top:.5rem">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-2 col-md-2 col-sm-1" ></span>
                        <span class="col-lg-2 col-md-2 col-sm-3 col-xs-7" style="padding-top:7px;padding-right:0rem">
                           
                                <label class=" ml-5 lato" style="padding-right:6px">
                                    <input type="radio" name="radio" id="radioRegion" checked="checked" onclick="javascript:Check();">
                                    <span class="checkmark h6 b">Region</span>
                                </label>
                                <label class="d-none ">
                                    <input type="radio" name="radio" id="radioLicense" onclick="javascript:Check();">
                                    <span class="checkmark h6 b"> License</span>
                                </label>
</span>
                        <div class="col-lg-5 col-md-5  col-sm-5 col-xs-7" id="seRegion" style="padding-bottom: 0rem !important">
                            <div class="form-group" style="margin-bottom:5px;">

                                <select class="selectpicker fz-12px form-control fz-12px" name="MultiRegion" id="MultiRegion" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                                    {
                                        <option value="@ml.REGION_ID" class="text-grey fz-12px" style="word-wrap:break-word;font-size:15px" selected>@ml.REGION_NAME</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-7" id="seLicense" style="padding-bottom: 0rem !important">
                            <div class="form-group" style="margin-bottom:5px;">
                                <select class="selectpicker fz-12px form-control fz-12px" name="MultiLicense" id="MultiLicense" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true">
                                    @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                                    {
                                        <option class="hidden-sm hidden-xs" value="@ml.LICENSE_ID" style="word-wrap: break-word">@ml.LICENSE</option>
                                        <option class="hidden-lg hidden-md" value="@ml.LICENSE_ID" style="word-wrap: break-word;white-space:normal">@ml.LICENSE</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 " id="CurrentSearch" style="padding-top:4px;padding-right:0rem">

                            <button type="button" class="btn btn-primary btn-sm" id="btnCurrentSearch" onclick="Search()" style="border-radius:0">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>

                        </div>
                      <span class="col-sm-1"></span>
                        <span class="col-lg-1 col-md-2 col-sm-11 col-xs-12 " style="padding-top:7px;padding-right:0rem" >
                            <input type="checkbox" name="vehicle" id="checkCompare" onclick="CheckCompare()">Compare<br>
                        </span>
             
</div>
                </div>

            </div>
        </div>

        <!--Search month Year -->
        <div class=" p-3 mb-2 col-container col-container-white text-dark " id="seMY">
            <div style="padding-bottom:.5rem;padding-top:.5rem">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <span class="col-lg-2"></span>
                        <span class="col-lg-2 col-md-3 col-sm-3 col-xs-7" style="padding-right:0rem;width:190px">
                            <label class="h5">Period &nbsp;</label>
                            <label class=" ml-5 lato" style="padding-right:6px">
                                <input type="radio" name="radioMY" id="radioMonth" onclick="javascript:Check();">
                                <span class="checkmark h6 b">Month</span>
                            </label>
                            <label class="d-none ">
                                <input type="radio" name="radioMY" id="radioYear" checked onclick="javascript: Check();">
                                <span class="checkmark h6 b">Year</span>
                            </label>
                        </span>
                        <div class="col-lg-2 col-md-2  col-sm-2 col-xs-2" id="chooseMonth" style="padding-bottom: 0rem !important; width: 160px; padding-right: 0rem; ">
                            <div class="form-group" style="margin-bottom:5px; ">
                                <input type="text" class="form-control form-control-sm fz-12px" id="Month-filter" style="height: 30px !important" />
                            </div>
                        </div>


                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" id="chooseYear" style="padding-bottom: 0rem !important;padding-right:0rem;">
                            <div class="form-group" style="margin-bottom:5px;">
                                <input type="text" class="form-control form-control-sm fz-12px" id="Year-filter" style="height: 30px !important" />
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2  col-sm-2 col-xs-4" id="chooseType" style="padding-bottom: 0rem !important; padding-right: 0rem;">
                            <select class="form-control form-control-sm fz-12px" id="type-filter" style="height: 30px !important;">
                                <option id="seAll" class="fz-12px drop_role" value="All">All</option>
                                <option id="sePipeline" class="fz-12px drop_role" value="PIPELINE">Pipeline</option>
                                <option id="seGate" class="fz-12px drop_role" value="GATESTATION">Gate Station</option>

                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2  col-sm-2 col-xs-4" id="chooseThreshold" style="padding-bottom: 0rem !important; padding-right: 0rem;">
                            <select class="form-control form-control-sm fz-12px" id="threshold-filter" style="height: 30px !important;">
                                <option id="seAllThres" class="fz-12px drop_role" value="All">All Threshold</option>
                                <option id="seGree" class="fz-12px drop_role" value="OK">OK</option>
                                <option id="seYello" class="fz-12px drop_role" value="Warning">Warning</option>
                                <option id="seRed" class="fz-12px drop_role" value="Alert">Alert</option>
                                <option id="seRed" class="fz-12px drop_role" value="Flag">Flag</option>

                            </select>
                        </div>

                        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-3 ">
                            <button type="button" class="btn btn-primary btn-sm" id="btnSearch" onclick="Search()" style="border-radius:0">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>

                        </span>
                        <span class="pull-right">
                            <a onclick="OpenReportPDF()">
                                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1  ">
                                    <i class="fa fa-file-pdf-o fa-lg pointer" aria-hidden="true" style="padding-top:10px"></i>
                                </span>
                            </a>
                        </span>
                        <span class="cr"></span>
                    </div>
                </div>

            </div>
        </div>


        <br />
      
        <div class="col-lg-12 ph0" style="margin-bottom:2rem;" >
            <!--  Graph Left  -->
            <div id="layoutLeft" class="col-lg-12 col-container-white text-dark" style="background-color:inherit ;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 pb2" style="text-align:center;">
                        <h3 id="LeftDate"></h3>
                    </div>
                </div>
             
                
                    <!--  Current Threshod-->
                <div id="thresGY" class="">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12  pb2 changecolThres">
                        <div class=" p-3 mb-2 col-container col-container-green text-dark">
                            <div class="ph2" style="padding-bottom:1rem">

                                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0" id="Current_GatePass" style="font-size: 45px !important;"></div></center></div>
                                <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                                <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="Current_PipePass" style="font-size: 45px !important;"></div></center></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pb2 changecolThres">
                        <div class=" p-3 mb-2 col-container col-container-yellow text-dark">
                            <div class="ph2" style="padding-bottom:1rem">
                                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0 " id="Current_GateWarning" style="font-size: 45px !important;"></div></center></div>
                                <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                                <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="Current_PipeWarning" style="font-size: 45px !important;"></div></center></div>
                            </div>
                        </div>
                    </div>
                </div>
             
                    <div id="thresRO" class="">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pb2 changecolThres">
                            <div class=" p-3 mb-2 col-container col-container-red text-dark">
                                <div class="ph2" style="padding-bottom:1rem">
                                    <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0 " id="Current_GateAlert" style="font-size: 45px !important;"></div></center></div>
                                    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                                    <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="Current_PipeAlert" style="font-size: 45px !important;"></div></center></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pb2 changecolThres">
                            <div class=" p-3 mb-2 col-container col-container-orange text-dark">
                                <div class="ph2" style="padding-bottom:1rem">
                                    <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0 " id="Current_GateFlag" style="font-size: 45px !important;"></div></center></div>
                                    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                                    <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="Current_PipeFlag" style="font-size: 45px !important;"></div></center></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 pb2 ph0">
                        <div class="col-container col-container-white text-dark" style="height: 338.8px">
                            <div style="padding-bottom:.5rem;padding-top:.5rem">
                                <!--  <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 pb2" style="text-align:center;">
                              <h3 id="lblLeftDate"></h3>
                          </div>
                      </div>-->

                                <div class="col-lg-6 col-md-6 col-sm-6">

                                    <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                        <center>
                                            <div class="pt5">Gate Station</div>
                                            <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                                                <canvas id="pieGateAll" style="padding: 0;margin: auto;display: block; "> </canvas>

                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <!--PieLine Donut Graph -->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                        <center>
                                            <div class="pt5 ">Pipeline</div>
                                            <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                                                <canvas id="piePipelineAll" style="padding: 0;margin: auto;display: block; "> </canvas>
                                            </div>
                                        </center>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            <!--  Graph Right -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  col-container-white text-dark" id="pieRight" style="background-color:inherit ;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 pb2" style="text-align:center;">
                        <h3 id="RightDate"></h3>
                    </div>
                </div>
            <div class="row">
               
                <!--Search Threshold-->
                <div class="col-lg-6 col-md-6 col-sm-6 pb2">
                    <div class=" p-3 mb-2 col-container col-container-green text-dark">
                        <div class="ph2" style="padding-bottom:1rem">

                            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0 " id="GatePass" style="font-size: 45px !important;"></div></center></div>
                            <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="PipePass" style="font-size: 45px !important;"></div></center></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pb2">
                    <div class=" p-3 mb-2 col-container col-container-yellow text-dark">
                        <div class="ph2" style="padding-bottom:1rem">
                            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0" id="GateWarning" style="font-size: 45px !important;"></div></center></div>
                            <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="PipeWarning" style="font-size: 45px !important;"></div></center></div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 pb2">
                    <div class=" p-3 mb-2 col-container col-container-red text-dark">
                        <div class="ph2" style="padding-bottom:1rem">
                            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0" id="GateAlert" style="font-size: 45px !important;"></div></center></div>
                            <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="PipeAlert" style="font-size: 45px !important;"></div></center></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pb2">
                    <div class=" p-3 mb-2 col-container col-container-orange text-dark">
                        <div class="ph2" style="padding-bottom:1rem">
                            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Gate Staton</label></center><center><div class="h1 mt0" id="GateFlag" style="font-size: 45px !important;"></div></center></div>
                            <div class="col-lg-2 col-md-1 col-sm-4 col-xs-2"></div>
                            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-5 ph0"><center><label class="h6" style="font-size: 14px;">Pipeline</label></center><center><div class="h1 mt0" id="PipeFlag" style="font-size: 45px !important;"></div></center></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 pb2 ph0">
                <div class="col-container col-container-white text-dark" style="height:338.8px">
                    <div style="padding-bottom:.5rem;padding-top:.5rem">
                       <!-- <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 pb2" style="text-align:center;">
                                <h3 id="lblRightDate"></h3>
                            </div>
                        </div>-->

                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                <center>
                                    <div class="pt5">Gate Station</div>
                                    <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                                        <canvas id="pieGate" style="padding: 0;margin: auto;display: block; "> </canvas>

                                    </div>
                                </center>
                            </div>
                        </div>
                        <!--PieLine Donut Graph -->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                <center>
                                    <div class="pt5 ">Pipeline</div>
                                    <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                                        <canvas id="piePipeline" style="padding: 0;margin: auto;display: block; "> </canvas>

                                    </div>
                                </center>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-lg-12 ph0" style="margin-bottom:2rem;">
            <div class="row">
                <div class=" pb2 ph2">

                    <div class="col-container col-container-white text-dark">
                        <div style="padding-bottom:.5rem;padding-top:.5rem">

                            <div class="table-responsive ph2" id="tblCurrent" style="width: 100%; border:none;">
                                <table class="table h6 table-striped table-bordered table-responsive" id="currentTbl" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Region</th>
                                            <th>License</th>
                                            <th>Velocity</th>
                                            <th>Threshold</th>
                                            <th>Month/Year</th>
                                            <th>Type</th>
                                            <th>Map</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="table-responsive ph2" id="tblSearch" style="width: 100%; border:none;">
                                <table class="table h6 table-striped table-bordered table-responsive" id="utilTbl" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Region</th>
                                            <th>License</th>
                                            <th>Velocity</th>
                                            <th>Threshold</th>
                                            <th>Month/Year</th>
                                            <th>Type</th>
                                            <th>Map</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

<!--Modal View Meter -->

<div id="ModalIfame" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 10px">
            <div class="modal-header" style="border-bottom:0px;padding:0px">
                <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>


           
                <div class=" black-80 center" style="border: 1px solid #808080;">
                    <iframe src="http://ptt-gis5non-p01.ptt.corp/PTT-NGROUR-GIS/page.aspx?m=report" style="min-height: 430px !important; width: 100% !important; border-width: 0px" id="map_iframe_report"></iframe>
                </div>
                <br />

        </div>
    </div>
</div>
<form id="frmReportPDF" method="get" target="_blank" action="@Url.Action("UtilizationReportPdf", "Pdf")" ></form>

@section scripts{
    <script src="~/Content/bootstrap-datepicker.js"></script>


  <script src="~/Scripts/DataTables/datatables.min.js"></script>
<script src="~/Scripts/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
<script src="~/Scripts/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Chart/Chart.PieceLabel.min.js"></script>
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>

    

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.js"></script>

    @Html.Partial("PartialReportScript")

    

}


