@model PTT_NGROUR.Models.ViewModel.ModelThreshold

@{
    ViewBag.Title = "Threshold Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid ph0-xs">
    <br />
    <div class="ph2 ph0-xs">
        <div class=" p-3 mb-2 col-container col-container-white text-dark">
            <div class="ph0-xs" style="padding-bottom:1rem;padding-top:1rem;padding-left:1rem;padding-right:1rem;">
                          @*  <span class="h7-xs">Color</span>*@
                           @*<span class="h7-xs">Type</span>*@ 
                           @* <span class="h7-xs">Min<span class="pull-right">Max</span><span class="cr"></span></span>*@

                        @for (int j = 0; j < Model.ThresholdItems.Length; ++j)
                        {
                            
                           @*  <div class="circleBase" style="background-color: @Model.ThresholdItems[j].COLOR_HEX"></div> *@
                            if (@Model.ThresholdItems[j].ThresholdType.ToString() == "GateStation")
                            {
                                <span class=" col-xs-12 pv1 ph1"><span class="fa fa-circle fa-lg pv1 pv1 ph0" style="color: @Model.ThresholdItems[j].COLOR_HEX"></span> &nbsp;Gate Station (%)</span>
                            }
                            else if (@Model.ThresholdItems[j].ThresholdType.ToString() == "PipeLine")
                            {
                                 <span class=" col-xs-12 pv1 ph1"><span class="fa fa-circle fa-lg pv1 pv1 ph0" style="color: @Model.ThresholdItems[j].COLOR_HEX"></span> &nbsp;Pipeline (ft/s)</span>
                            }
                                <div class="col-xs-12" style="padding-left:5px;padding-right:5px">

                                    <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="padding-left:0rem;padding-right:0rem;">
                                            <input type="number"
                                                   id="@("numMin" + j.ToString())"
                                                   class="form-control input-sm h7-xs"
                                                   value="@Model.ThresholdItems[j].MinValue.ToString("n2")" />
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8" style="padding-left:0rem;padding-right:0rem;">
                                            <div class="input-group-addon input-sm h7-xs @Model.ThresholdItems[j].ThresholdName"
                                                 id="@("divSlider" + j.ToString())"
                                                 data-min="@Model.ThresholdItems[j].MinValue"
                                                 data-max="@Model.ThresholdItems[j].MaxValue"
                                                 style="height: 30px !important;">

                                            </div>
                                        </div>
                                        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-2" style="padding-left:0rem;padding-right:0rem;">
                                            <input id="@("numMax" + j.ToString())"
                                                   type="number"
                                                   class="form-control input-sm h7-xs"
                                                   value="@Model.ThresholdItems[j].MaxValue.ToString("n2")" />

                                        </div>
                                    </div>
                                </div>
                         
                        }

                <span class="cr cl"></span>
                   


              <!--  <div id="flat-slider"></div>-->
                <div class="col-xs-12">
                    <br /><br />
                    <button id="btnSave" class="btn btn-success pull-right" type="button">
                        <i class="glyphicon glyphicon-save"></i>&nbsp;SAVE
                    </button><span class="cr"></span><br /><br />
                </div>
                

            </div>
        </div>
    </div>
</div>
@section style{
    @*<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/simeydotme/jQuery-ui-Slider-Pips/master/dist/jquery-ui-slider-pips.css" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui-slider-pips.css" />
    <style>
        .circleBase {
            width: 1px;
            height: 20px;
            border-radius: 100%;
            margin-top: 1rem !important;
        }

        .ui-slider {
            background: #f9fafb;
            border: none;
            border-radius: 0;
        }

            .ui-slider .ui-slider-handle {
                width: 20px;
                height: 70%;
                border-radius: 50px;
                border-color: #babfc4;
                top: 5px;
            }

                .ui-slider .ui-slider-handle.ui-state-hover,
                .ui-slider .ui-slider-handle.ui-state-focus,
                .ui-slider .ui-slider-handle.ui-state-active {
                    border-color: #172f38;
                }

        /*.ui-slider .ui-slider-pip*/
        .ui-slider-pips .ui-slider-line {
            background: #b3bfca !important;
            height: 100% !important;
            width: 1px;
        }

        .ui-slider-pips .ui-slider-pip {
            height: 100% !important;
        }

        .ui-slider-range {
            background-color: rgba(3, 138, 255, 0.35);
        }

        .OK > .ui-slider-range {
            background-color: rgba(22, 160, 133, 0.35);
        }       

        .Warning > .ui-slider-range {
            background-color: rgba(241, 196, 15, 0.35);
        }

        .Alert > .ui-slider-range {
            background-color: rgba(231, 76, 60, 0.35);
        }

        .ui-slider-pip {
            top: 0 !important;
        }
        
        .ui-slider-label {
            top: 40% !important;
            left: 0 !important;
            width: 0 !important;
            color: #847a7a;
        }
        .ui-state-active {
            border-color: #172f38 ;
        }
        .ui-slider-horizontal .ui-slider-range {
            top: 6px !important;
            height: 60% !important;
        }
        .btn-success {
            background-image: none !important;
            border-radius: 0px;
            text-shadow: 0 0 px 0 rgba(0,0,0,0);
            border-color: transparent;
            
        }
    </style>
}

@section scripts{  @Html.Partial("PartialThresholdSettingScript", Model); }

