@{
    PTT_NGROUR.Models.User user = new PTT_NGROUR.Models.User();
}
<style>
    .navbar-nav > li > a {
        text-shadow: 0 0 0 !important;
    }
</style>

 <ul class="nav navbar-nav">
                            <li ><a href="@Url.Action("Index", "Dashboard")" class="white"><span class="white">Dashboard</span></a></li>
                            <li><a href="@Url.Action("Index", "OAndM")" class="white"><span class="white">O & M</span></a></li>
                            <!--<li><a href="#contact">Contact</a></li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="white ">Utilization</span><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Utilization")" ><span class="text-grey txt-normal ">Utilization</span></a></li>
                                    <li><a href="@Url.Action("Customer", "Utilization")"><span class="text-grey txt-normal">Customer</span></a></li>
                                    <li class="hidden-sm hidden-xs" style="display:@ViewData["UImport_page"]"><a href="@Url.Action("ImportExcel", "Utilization")"><span class="text-grey txt-normal ">Import Excel</span></a></li>
                                    <li style="display:@ViewData["Threshold_page"]"><a href="@Url.Action("ThresholdSetting", "Utilization")"><span class="text-grey txt-normal ">Threshold Setting</span></a></li>
                                    <li><a href="@Url.Action("Report", "Utilization")"><span class="text-grey txt-normal ">Report</span></a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Index", "RiskMang")" class="white"><span class="white ">Risk Management</span></a></li>
     <li class="dropdown" style="display:@ViewData["Admin_page"]">
         <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="white">Admin</span><span class="caret"></span></a>
         <ul class="dropdown-menu">
             <li><a href="@Url.Action("UserManagement", "Admin")"><span class="text-grey txt-normal ">User Management</span></a></li>
         </ul>
     </li>
                        </ul>
