@model PTT_NGROUR.Models.ViewModel.ModelOmIndex
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-3">        
        <select class="selectpicker fz-12px form-control fz-12px" name="MultiRegion" id="MultiRegion" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
            @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
            {
                <option value="@ml.REGION_ID" class="text-grey fz-12px" style="word-wrap:break-word;font-size:15px">@ml.REGION_NAME</option>
            }
        </select>
    </div>
    <div class="col-xs-6">
        <div class="input-group">
           
            @*<div class="form-group form-control form-control-sm fz-12px" style="margin-bottom:5px;">

            </div>*@

            <span class="input-group-addon">
                <input type="radio" name="radioMY" id="radioMonth" checked="checked" onclick="javascript:Check();">
                <label for="radioMonth">Month</label>
            </span>
            <span class="input-group-addon">
                <input type="radio" name="radioMY" id="radioYear" onclick="javascript: Check();">
                <label for="radioYear">Year</label>
            </span>
            <input type="text" placeholder="Month" class="form-control form-control-sm fz-12px" id="Month-filter" />
            <input type="text" placeholder="Year" class="form-control form-control-sm fz-12px col-xs-3" id="Year-filter" style="display:none" />
            <span class="input-group-btn">
                <button class="btn btn-block btn-primary col-xs-3" id="btnSearch">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </span>
        </div>
    </div>
    
</div>

<div id="container" style="width: 75%;">
    <canvas id="canvas"></canvas>
</div>
<h2>Index</h2>

<h3>@string.Join(",", Model.BarGraph.ListLabel) </h3>
<table class="table table-bordered table-hover">
    @*<thead>
            <tr>
                <th></th>
            </tr>
        </thead>*@
    <tbody>


        @foreach (var item in Model.BarGraph.ListML)
        {
            <tr>
                <td>@item.Label</td>
                <td>@item.ListData.Select(x => x.ToString()).Aggregate((x, y) => x + " , " + y)</td>
            </tr>

        }


        @foreach (var item in Model.ListMeterMaintenance)
        {
            <tr>
                <td>@item.ACTUAL</td>
                <td>@item.ML</td>
                <td>@item.PM_INTERVAL</td>
            </tr>
        }
    </tbody>
</table>
@section style{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/Scripts/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <style>
        .head {
            background-color: #e0e0e0;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        .vertical-center {
          min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
          min-height: 100vh; /* These two lines are counted as one :-)       */

          display: flex;
          align-items: center;
        }
    </style>
}

@section scripts{
    @*<script src="http://www.chartjs.org/dist/2.7.2/Chart.bundle.js"></script>*@
    <script src="~/Scripts/Chart/Chart.js"></script>
    <script src="~/Scripts/Chart/Chart.PieceLabel.min.js"></script>
    @*<script src="http://www.chartjs.org/samples/latest/utils.js"></script>*@
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script>
        jQuery.ajaxSettings.traditional = true;

        var barChartData = {
            labels: [@Model.BarGraph.ListLabel.Select(x=> new HtmlString( "'" + x + "'")).Aggregate((x,y)=> new HtmlString(x + "," +y))],
            datasets: [
                @foreach (var item in Model.BarGraph.ListML)
            {
                <text>
                    {
                        label: "@item.Label",
                        backgroundColor: "@item.HexColor",
                        borderColor: "#00",
                        borderWidth: 1,
                        data: [ @item.ListData.Select(x => x.ToString()).Aggregate((x, y) => x + " , " + y)]
                    },
                    {
                        label: "@item.Label",
                        @*backgroundColor: "@item.HexColor",*@
                        borderColor: "@item.HexColor",
                        borderWidth: 1,
                        data: [ @item.ListData.Select(x => x.ToString()).Aggregate((x, y) => x + " , " + y)],
                        type: 'line'
                    },
                    </text>
            }
            ]
        };

        var ctx = document.getElementById('canvas').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart'
                }
            }
        });

        $('#Month-filter').datepicker({
            format: "m/yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true
        }).on('dp.change', function (e) {

            console.log(e);
        });

        $("#Year-filter").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        }).on('dp.change', function (e) {

            console.log(e);
        });


        $("#btnSearch").click(function (e) {
            searchData();
        });

        function Check() {


            if (document.getElementById('radioMonth').checked) {
                document.getElementById('Month-filter').style.display = 'inline-block';
                document.getElementById('Year-filter').style.display = 'none';
            }
            else if (document.getElementById('radioYear').checked) {
                document.getElementById('Month-filter').style.display = 'none';
                document.getElementById('Year-filter').style.display = 'inline-block';
            }
        }

        function removeBarData(chart) {
            var ds2 = {
                labels: [],
                datasets: []
            };
            chart.data = ds2;
            chart.update();
        }

        function searchData() {

            var chart = window.myBar;
            removeBarData(chart);
            var strUrl = "@Url.Action("SearchData")";
            var param = { pStrYear: "", pStrMonth: "", pArrRegion: $("#MultiRegion").val() };
            console.log(param);
            if (document.getElementById('radioMonth').checked) {
                var x = $("#Month-filter").val().split("/");
                param.pStrMonth = x[0];
                param.pStrYear = x[1];

            } else {
                param.pStrYear = $("#Year-filter").val();
            }
            $.post(strUrl, param, function (data) {

                if (!data || !data.Result) {
                    alert("Not Found Data");
                    return;
                }
                if (data.StatusText !== "OK") {
                    var strError = "Error : " + data.ErrorMessage + "\r\n" + data.ErrorStackTrace;
                    alert(strError);
                    return;
                }
                var rs = data.Result;
                var barChartData = {
                    labels: rs.ListLabel,
                    datasets: []
                };
                for (var i in rs.ListML) {
                    var ml = rs.ListML[i];
                    var dsItem = {
                        label: ml.Label,
                        backgroundColor: ml.HexColor,
                        borderColor: "#000000",
                        borderWidth: 1,
                        data : ml.ListData
                    }
                    barChartData.datasets.push(dsItem);
                }

                chart.data = barChartData;
                chart.update();
            });
        }

    </script>
}