@model PTT_NGROUR.Models.ViewModel.ModelJsonResult<PTT_NGROUR.Models.ViewModel.ModelOmIndex>
@{
    ViewBag.Title = "OM";
}

<link href="~/Style/om.css" rel="stylesheet" />
<style>
    .table > tbody > tr > th {
        vertical-align: middle !important;
    }

    .table > thead > tr > th {
        vertical-align: middle !important;
    }

    .chart-container {
        position: relative;
        margin: auto;
        height: 80vh;
        width: 80vw;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 7px;
    }

    .panel-heading {
        cursor: pointer;
    }

    .panel-default > .panel-heading {
        background-image: none;
        background-color: #d9edf7;
        border: .5px solid #d3eefc;
    }

        .panel-default > .panel-heading:hover {
            background-color: #bce8f1;
        }

    .panel-default {
        border-top: none;
    }

    .panel-title > a {
        color: #31708f !important;
    }

    .panel-group .panel {
        border-radius: 0px;
    }

    .bs-example {
        margin: 20px;
    }

    .panel-title .glyphicon {
        font-size: 11px;
    }

    .text-white {
        color: #ffffff;
    }
    /* .tableSum > tbody > tr:nth-child(even) > td,
    .tableSum > thead:nth-last-child(-n+2) > tr:nth-last-child(-n+2) > th {
        background-color: #d9edf7;
    }
    .tableSum > thead:first-child > tr:first-child > th {
        background-color: #52a0db;
    }
    .textheadSumT {color:#fbdb1b} */
</style>

<div class="ph2 ph1-xs pt-15px">
    <div class="row">
        <form method="get">
            <div class="col-md-1"></div>
            <div class="col-md-2 pb1">
                <select class="selectpicker fz-12px form-control fz-12px" name="pArrRegion" id="MultiRegion" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                    @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.Result.ListRegion)
                    {
                        <option value="@ml.REGION_ID" class="text-grey fz-12px" style="word-wrap:break-word;font-size:15px">@ml.REGION_NAME</option>
                    }
                </select>
            </div>
            <div class="col-md-6 pb1">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" name="radioMY" value="month" id="radioMonth" checked="checked" onclick="javascript:Check();">
                        <label for="radioMonth">Month</label>
                    </span>
                    <span class="input-group-addon">
                        <input type="radio" name="radioMY" value="year" id="radioYear" onclick="javascript:Check();">
                        <label for="radioYear">Year</label>
                    </span>
                    <input type="text" placeholder="Month" class="form-control form-control-sm fz-12px" id="Month-filter" />
                    <input type="text" placeholder="Year" class="form-control form-control-sm fz-12px col-xs-3" id="Year-filter" style="display:none" />
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" id="btnSearch">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <button type="button" class="btn btn-default" onclick="ExportTo('pdf')">
                    <span class="glyphicon glyphicon-download"></span> Export
                </button>
            </div>
            <input type="hidden" name="pStrMonth" value="" />
            <input type="hidden" name="pStrYear" value="" />
        </form>
    </div>
    <br />
    <div id="app" class="container-fluid ph0-xs ">

        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#Summary">
                        <h4 class="panel-title">
                            <a class="no-underline" style="color: #31708f;">Summary<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="Summary" class="panel-collapse collapse in">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 col-container-white">
                                <!-- [Summary Pipeline] -->
                                @Html.Partial("Partial/Summary/Pipeline", Model.Result)
                                <br />

                                <!-- [Summary Gate] -->
                                @Html.Partial("Partial/Summary/Gate", Model.Result)
                                <br />

                                <!-- [Summary Meter] -->
                                @Html.Partial("Partial/Summary/Meter", Model.Result)
                            </div>
                        </div>
                    </div>
                </div>


                <!-- [Completion Pipeline] -->
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#panelChartCompletionPipeline">
                        <h4 class="panel-title">
                            <a class="no-underline">Pipeline<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="panelChartCompletionPipeline" class="panel-collapse collapse">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 col-container-white">
                                @Html.Partial("Partial/Completion/Pipeline", Model.Result)
                            </div>
                        </div>
                    </div>
                </div>


                <!-- [Completion Gate] -->
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#panelChartCompletionGate">
                        <h4 class="panel-title">
                            <a class="no-underline">Equipment (Gate & BV & Reducing St.)<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="panelChartCompletionGate" class="panel-collapse collapse">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 col-container-white">
                                @Html.Partial("Partial/Completion/Gate", Model.Result)
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [Completion Meter] -->
                <div class="panel panel-default">
                    <div class="panel-heading " data-toggle="collapse" data-target="#panelChartCompletionMeter">
                        <h4 class="panel-title">
                            <a class="no-underline">Equipment (M/R St.)<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="panelChartCompletionMeter" class="panel-collapse collapse">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 col-container-white">
                                @Html.Partial("Partial/Completion/Meter", Model.Result)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
@section style{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/Scripts/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <style>

        .head {
            background-color: #e0e0e0;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        .vertical-center {
            min-height: 100%; /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
            display: flex;
            align-items: center;
        }

        #tblMeter {
            background-color: white;
        }

        .cellDisable {
            background-color: #ddd;
        }

        .cellDanger {
            color: red;
        }

        td {
            text-align: right;
        }

        th {
            text-align: center;
            vertical-align: middle !important;
            line-height: normal;
            display: table-cell;
            min-height: 10em;
        }

        .axis {
            font-size: 14px;
        }

            .axis path, .axis line {
                fill: none;
                stroke: rgba(0,0,0,.25);
                shape-rendering: crispEdges;
            }

        th.actual, th.region, td.actual {
            background-color: #d9edf7;
        }

        .chart-wrapper {
            text-align: center;
        }

            .chart-wrapper .chart {
                display: inline-block;
                margin: auto 0;
                border: 1px solid #ddd;
                overflow: hidden;
            }
    </style>
}

@section scripts{
    <script src="~/Scripts/lodash.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        var model = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Result))');
        var d = new Date(@Model.Result.Year, @(Model.Result.Month - 1))
        var initMonth = d.getMonth() + 1
        var initYear = d.getFullYear()
    </script>
    @Html.Partial("Partial/Script")
    @Html.Partial("Partial/Completion/ScriptPipeline")
    @Html.Partial("Partial/Completion/ScriptGate")
    @Html.Partial("Partial/Completion/ScriptMeter")
}
