@model PTT_NGROUR.Models.ViewModel.ModelJsonResult<PTT_NGROUR.Models.ViewModel.ModelOmIndex>
@using System.Globalization
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int month = Model.Result.Month.Equals(0) ? 12 : Model.Result.Month;
    string monthName = new DateTime(Model.Result.Year, month, 1).ToString("MMMM", CultureInfo.InvariantCulture);
}

@section style{
    <link href="~/Style/om.css" rel="stylesheet" />
    <style>
        .table .pm-name {
            max-width: 380px;
        }
    </style>
}
    <div>
        <h2 class="text-center">
            PM IA Monitoring Results Summary
            @if (!Model.Result.Month.Equals(0))
            {
                @("@ ") @monthName @Model.Result.Year
            }
        </h2>

        <div id="Summary">
            <div class="panel-body">
                <!-- [Summary Pipeline] -->
                @Html.Partial("Partial/Summary/Pipeline", Model.Result)
                <br />

                <!-- [Summary Gate] -->
                @Html.Partial("Partial/Summary/Gate", Model.Result)
                <br />

                <!-- [Summary Meter] -->
                @Html.Partial("Partial/Summary/Meter", Model.Result)
            </div>
        </div>
        <p class="breakhere"></p>

        <h2 class="text-center">
            Pipeline PM IA Monitoring Results
            @if (!Model.Result.Month.Equals(0))
            {
                @("@ ") @monthName @Model.Result.Year
            }
        </h2>

        <div id="Summary">
            <div class="panel-body">
                <!-- [Completion Pipeline] -->
                @Html.Partial("Partial/Completion/Pipeline", Model.Result)
                <br />

                <!-- [Completion Gate] -->
                @Html.Partial("Partial/Completion/Gate", Model.Result)
                <br />

                <!-- [Completion Meter] -->
                @Html.Partial("Partial/Completion/Meter", Model.Result)
            </div>
        </div>
    </div>
