@model PTT_NGROUR.Models.ViewModel.ModelJsonResult<PTT_NGROUR.Models.ViewModel.ModelOmIndex>
@using System.Globalization
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int month = Model.Result.Month.Equals(0) ? 12 : Model.Result.Month;
    string monthName = new DateTime(Model.Result.Year, month, 1).ToString("MMMM", CultureInfo.InvariantCulture);
}

@section style{
    <link href="~/Style/om.css" rel="stylesheet" />
    <style>
        .table .pm-name {
            max-width: 380px;
        }

        .breakhere {
            page-break-after: always
        }
    </style>
}
<div>
    <h2 class="text-center">
        PM IA Monitoring Results Summary
        @if (!Model.Result.Month.Equals(0))
        {
            @("@ ") @monthName @Model.Result.Year
        }
    </h2>

    <div id="Summary">
        <div class="panel-body">
            <!-- [Summary Pipeline] -->
            @Html.Partial("Partial/Summary/Pipeline", Model.Result)
            <br />

            <!-- [Summary Gate] -->
            @Html.Partial("Partial/Summary/Gate", Model.Result)
            <br />

            <!-- [Summary Meter] -->
            @Html.Partial("Partial/Summary/Meter", Model.Result)
        </div>
    </div>
    <p class="breakhere"></p>

    <h2 class="text-center">
        Pipeline PM IA Monitoring Results
        @if (!Model.Result.Month.Equals(0))
        {
            @("@ ") @monthName @Model.Result.Year
        }
    </h2>

    <div id="CompletionPipeline">
        <div class="panel-body">
            <!-- [Completion Pipeline] -->
            @Html.Partial("Partial/Completion/Pipeline", Model.Result)
            @Html.Partial("Partial/Accumulate/Pipeline", Model.Result)
        </div>
    </div>
    <p class="breakhere"></p>

    <h2 class="text-center">
        Gate & BV & Reducing St. PM IA Monitoring Results
        @if (!Model.Result.Month.Equals(0))
        {
            @("@ ") @monthName @Model.Result.Year
        }
    </h2>

    <div id="CompletionGate">
        <div class="panel-body">
            <!-- [Completion Gate] -->
            @Html.Partial("Partial/Completion/Gate", Model.Result)
            @Html.Partial("Partial/Accumulate/Gate", Model.Result)
        </div>
    </div>
    <p class="breakhere"></p>

    <h2 class="text-center">
        M/R St. PM IA Monitoring Results
        @if (!Model.Result.Month.Equals(0))
        {
            @("@ ") @monthName @Model.Result.Year
        }
    </h2>

    <div id="CompletionMeter">
        <div class="panel-body">
            <!-- [Completion Meter] -->
            @Html.Partial("Partial/Completion/Meter", Model.Result)
            @Html.Partial("Partial/Accumulate/Meter", Model.Result)
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="~/Scripts/d3/d3.v3.js"></script>
    <script src="~/Scripts/d3/d3.v4.js"></script>
    <script>
        var isPrintMode = true
        var model = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Result))');
        var d = new Date(@Model.Result.Year, @(Model.Result.Month - 1))
        var initMonth = d.getMonth() + 1
        var initYear = d.getFullYear()

        var chartWidth = 1365
    </script>
    @Html.Partial("Partial/Script")

    @Html.Partial("Partial/Completion/ScriptPipeline")
    @Html.Partial("Partial/Accumulate/ScriptPipeline")

    @Html.Partial("Partial/Completion/ScriptGate")
    @Html.Partial("Partial/Accumulate/ScriptGate")

    @Html.Partial("Partial/Completion/ScriptMeter")
    @Html.Partial("Partial/Accumulate/ScriptMeter")
}