@model PTT_NGROUR.Models.DataModel.ModelAcceptanceCriteria

@{
    ViewBag.Title = "Acceptance Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}

@section style{
    <style>
        .box-wrapper {
            padding-bottom: .5rem;
            padding-top: .5rem;
            min-height: 70vh;
            position: relative;
        }

        .box-center {
            position: absolute;
            max-width: 500px;
            width: 100%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }

        .mb-5 {
            margin-bottom: 5rem;
        }
    </style>
}

<br />

<div class="container-fluid">
    <div class="ph2 ph0-xs">
        <div class="ph3-l ph2-m pb4">
            <div class=" p-3 mb-2 col-container col-container-white text-dark ">
                <div class="box-wrapper">
                    <div class="box-center">
                        @if (TempData["status"] == "successfully")
                        {
                            <div class="alert alert-success">
                                Acceptance Criteria changed successfully
                            </div>
                        }
                        @using (Html.BeginForm("AcceptanceCriteria", "Risk", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="form-group mb-5">
                                <label for="inputAcceptanceCriteria" class="col-md-5 control-label">Acceptance Criteria</label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.RISK_CRITERIA, null, new { @class = "form-control text-right", min = 0, type = "number" })
                                        <span class="input-group-addon" id="basic-addon1">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <a href="@Url.Action("Index")" class="btn btn-default rounded-0">Cancle</a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button type="submit" class="btn btn-primary rounded-0">Save</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>