@model PTT_NGROUR.Models.ViewModel.ModelRisk

@{
    ViewBag.Title = "Risk Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}

@section style{
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
}


<style>
    .tableFixHead {
        overflow-y: auto;
        height: 425px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background: white;
    }

    .modal {
        z-index: 2;
    }
</style>
<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <div class="ph2 ph0-xs">
        <div class="p-3 mb-2 mv2 col-container-white text-dark">
            <!--Search Bar -->
            <div class="ph2 pv2">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-control-static">
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeRisk" value="risk"> Risk
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeRegion" value="region"> Region
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeLicense" value="license"> License
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="region" id="selectRegion" data-target="region" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;" disabled>
                                @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                                {
                                    <option value="@ml.REGION_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.REGION_NAME</option>
                                }
                            </select>
                            <select class="selectpicker form-control" name="license" id="selectLicense" data-target="license" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                                {
                                    <option value="@ml.LICENSE_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.LICENSE</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="datePicker" data-datepicker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary rounded-0" onclick="onSubmit()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <a href="@Url.Action("AcceptanceCriteria", "Risk")" class="btn btn-default rounded-0">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Search Bar -->

            <div class="ph2 pv2">
                <div class="row">
                    <div class="col-md-6">
                        <iframe src="@System.Web.Configuration.WebConfigurationManager.AppSettings["DashboardMap"]" style="min-height: 500px; height: 100% !important; width: 100% !important; border-width: 0px" id="map_frame"></iframe>
                    </div>
                    <div class="col-md-6 border-left-lg">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-15px pb-15px pr-0 pl-0 border-left-md" style="float:none">
                            <div class="form-inline">
                                <center>
                                    <div class="input-group" style="z-index:0!important">
                                        <div class="input-group-btn col-lg-1 col-md-6 col-sm-6 col-xs-6 fn-xs" style="padding-left:0rem;padding-right:0rem;">
                                            <input id="txtRiskSearch" class="form-control input-sm" type="text" aria-describedby="name-desc" placeholder="Search by RC Name" onkeyup="RiskTableSearch()">
                                        </div>
                                        <div class="input-group-btn col-lg-1 col-md-3 col-sm-3 col-xs-3 fn-xs" style="padding-left:0rem;padding-right:0rem;">

                                            <select class="form-control form-control-sm fz-12px" id="risk-threshold-filter" style="height: 30px !important;">
                                                <option id="seAllThres" class="fz-12px drop_role" value="all">All Threshold</option>
                                                <option id="seRisk" class="fz-12px drop_role" value="risk">Risk</option>
                                                <option id="seNoRisk" class="fz-12px drop_role" value="norisk">No Risk</option>
                                            </select>
                                        </div>
                                        <!--<div class="cr"></div>-->
                                    </div>
                                </center>
                            </div>
                            <br />

                            <div class="table-responsive " id="TableRisk">
                                <div class="tableFixHead" id="dashtbtRisk">
                                    <table class=" table table-striped table-hover table-bordered" id="riskTbl">
                                        <thead style="position: relative; z-index: 1;">
                                            <tr>
                                                <th>Region</th>
                                                <th>RC</th>
                                                <th>Risk Score</th>
                                                <th>Internal Corrosion</th>
                                                <th>External Corrosion</th>
                                                <th>Third Party Interference</th>
                                                <th>Loss of Ground Support</th>
                                                <th>Import</th>
                                                <th>View File</th>
                                            </tr>
                                        </thead>
                                        <tbody class="scrollable-height scrollable-height-lg">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Import -->
<div id="ModalImport" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import <span data-title></span></h4>
            </div>
            <div class="modal-body">
                <form data-inputs>
                    <div data-init-input>
                        <div class="panel panel-default clearfix">
                            <div class="pull-left">
                                <div class="panel-body">
                                    <input type="file" id="inputFile" name="file[]">
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="panel-body sr-only">
                                    <button type="button" class="btn btn-danger btn-xs" data-remove-file>
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-default btn-lg btn-block" onclick="AddInputFile()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add file
                </button>
                <div class="help-block">
                    The total file size must be less than 10 MB.
                </div>
            </div>
            <div data-upload-progress class="progress p0 invisible" style="border-radius: 0; margin: 0">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                    0%
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">Total: <span data-total-file-size>0</span>/10MB</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="onImport()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/lodash.js"></script>

    <script type="text/javascript">
        $('.tableFixHead').on('scroll', function () {
            $('thead', this).css('transform', 'translateY(' + this.scrollTop + 'px)');
        });

        $('[data-datepicker]').datepicker({
            format: "MM yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
            inline: true,
        }).datepicker("setDate", new Date());

        $('#radioModeRisk').prop('checked', true)
        $('select[data-target]').on('loaded.bs.select', function () {
            if ($('[name="radioMode"]:checked').val() !== $(this).data('target')) {
                $(this).prop('disabled', true).parent('.bootstrap-select').hide()
            }
            if ($('[name="radioMode"]:checked').val() === 'risk' && $(this).data('target') === 'region') {
                $(this).parent('.bootstrap-select').show()
            }
        });

        $('[name="radioMode"]').on('change', function (e) {
            var val = $(this).val()

            $('select[data-target]').prop('disabled', true)
            var select = $('select[data-target="' + val + '"]')
            if (select.length > 0) {
                $('select[data-target]').parent('.bootstrap-select').hide()
                select.prop('disabled', false).parent('.bootstrap-select').show()
            }

            $('.selectpicker').selectpicker('refresh');
        })

        function onSubmit() {
            getRiskJson()
        }

        function AddInputFile() {
            $('[data-inputs]').append(function () {
                return $('[data-init-input]').clone(true).find('.sr-only').removeClass('sr-only').parents('[data-init-input]').html();
            });
        }

        function FileSize() {
            var bytes = 0;
            $('[name="file[]"]').each(function () {
                bytes = bytes + (this.files && this.files[0] ? this.files[0].size : 0);
            })
            var totalFileSize = parseFloat((bytes / Math.pow(1024, 2)).toFixed(2))
            $('[data-total-file-size]').text(totalFileSize)
            if (totalFileSize > 10) {
                $('[data-total-file-size]').addClass('text-danger');
            }

            return totalFileSize;
        }

        $('[data-inputs]').on('click', '[data-remove-file]', function () {
            $(this).parents('.panel').remove();
            FileSize();
        });

        $('[data-inputs]').on('change', '[name="file[]"]', function () {
            FileSize();
        });

        function showImport(rc, month, year) {
            var modal = $('#ModalImport');
            modal.find('[data-title]').text(rc)
            modal.modal('show');
            modal.data('object', {
                RC_NAME: rc,
                MONTH: month,
                YEAR: year
            });
        }

        function resetForm() {
            $('[data-inputs] > .panel').remove();
            $('#ModalImport form').get(0).reset();
            $('[data-total-file-size]').text(0);
        }

        $('#ModalImport').on('show.bs.modal', function (e) {
            resetForm();
        })

        function onImport() {
            //if (FileSize() > 10) {
            //    alert('The total file size must be less than 10 MB.')
            //    return
            //}

            var o = $('#ModalImport').data('object');

            var data = new FormData();
            data.append('RC_NAME', o.RC_NAME);
            data.append('MONTH', o.MONTH);
            data.append('YEAR', o.YEAR);

            $('[name="file[]"]').each(function () {
                data.append('FILE[]', this.files[0]);
            })

            $('[data-upload-progress]').removeClass('invisible');

            axios.post('/Risk/Import', data, {
                onUploadProgress: function (progressEvent) {
                    var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    console.log(percentCompleted)
                    $('[data-upload-progress] .progress-bar').width(percentCompleted + '%');
                    $('[data-upload-progress] .progress-bar').text(percentCompleted + '%');
                    $('[data-upload-progress] .progress-bar').attr('aria-valuenow', percentCompleted);
                }
            })
                .then(function (res) {
                    resetForm();
                })
                .catch(function (err) {
                    //output.className = 'container text-danger';
                    //output.innerHTML = err.message;
                })
                .then(function () {
                    $('[data-upload-progress]').addClass('invisible');
                    $('[data-upload-progress] .progress-bar').width('0%');
                    $('[data-upload-progress] .progress-bar').text('0%');
                    $('[data-upload-progress] .progress-bar').attr('aria-valuenow', 0);
                });
        };

        function showRiskTable(data) {
            $('#risk-threshold-filter').val('all');
            $('#riskTbl').find('tbody tr').each(function () {
                $(this).remove();
            });

            $('#txtRiskSearch').val("");

            if (typeof data === 'undefined' || data.length === 0) {
                $('#riskTbl').find('tbody').append('<tr><td colspan="' + $('#riskTbl thead > tr > th').length + '" class="text-center"><h2 class="pv3">No Data</h2></td></tr>')
                return
            }

            _.forEach(data, function (o) {
                var tds = '';
                var isRisk = _.includes(Object.values(o), 'RISK');
                var style = '';

                if (isRisk) style = 'color: #e74c3c;'

                tds = tds + '<td>' + o.REGION + '</td>';
                tds = tds + '<td style="' + style + '">' + o.RC_NAME + '</td>';

                var key = ['RISK_SCORE', 'INTERNAL_CORROSION', 'EXTERNAL_CORROSION', 'THIRD_PARTY_INTERFERENCE', 'LOSS_OF_GROUND_SUPPORT'];
                _.forEach(key, function (v) {
                    let bullet = ''

                    if (o[v + '_RISK'] === 'RISK') {
                        bullet = '<span class="fa fa-circle" style="color:#e74c3c;"></span>'
                    }
                    tds = tds + '<td class="text-center">' + bullet + '</td>';
                });

                tds = tds + '<td><button class="btn btn-success" onclick="showImport(\'' + o.RC_NAME + '\', ' + o.MONTH + ', ' + o.YEAR + ')"><span class="glyphicon glyphicon-paperclip"></span></button></td>';
                tds = tds + '<td><button class="btn btn-info" onclick="showView(\'' + o.RC_NAME + '\', ' + o.MONTH + ', ' + o.YEAR + ')"><span class="glyphicon glyphicon-eye-open"></span></button></td>';

                $('#riskTbl > tbody:last-child').append('<tr id="' + o.RC_NAME + '" data-status="' + (isRisk ? 'risk' : 'norisk') + '" class="rowfilRisk pointer">' + tds + '</tr>');
            });
        }

        var getRiskJson = function () {
            var mode = $('[name="radioMode"]:checked').val();
            var date = $("#datePicker").datepicker("getDate");
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            axios.post('/Risk/Json', {
                type: mode,
                lists: $('[data-target="' + mode + '"]').val(),
                month: month,
                year: year
            })
                .then(function (response) {
                    data = response.data
                    showRiskTable(data)
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        }

        getRiskJson();
    </script>
}