@model PTT_NGROUR.Models.ViewModel.ModelRisk

@{
    ViewBag.Title = "Risk Management Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}

@section style{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css" />
    <link href="~/Scripts/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        .summary-graph .graph {
            width: 100%;
            text-align: center;
            float: left;
            min-height: 1px;
            padding: 0 15px;
            border-right: 1px solid #ddd;
            margin-bottom: 50px;
        }

            .summary-graph .graph:last-child {
                border-right: none;
            }

            .summary-graph .graph.-summary {
                border-right: none;
            }

        @@media (min-width: 768px) {
            .summary-graph .graph {
                width: 50%;
            }

                .summary-graph .graph.-summary {
                    margin-left: 25%;
                }
        }

        @@media (min-width: 992px) {
            .summary-graph .graph {
                width: 33.33333333%;
            }

                .summary-graph .graph.-summary {
                    margin-left: 16.666666665%;
                }
        }

        @@media (min-width: 992px) and (max-width: 1199px) {
            .summary-graph .graph.-summary {
                border-right: 1px solid #ddd;
            }

            .summary-graph .graph:nth-child(2) {
                border-right: none;
            }
        }

        @@media (min-width: 1200px) {
            .summary-graph .graph {
                width: 25%;
            }

                .summary-graph .graph.-summary {
                    margin-left: 37.5%;
                    margin-right: 37.5%;
                }
        }

        @@media (min-width: 1600px) {
            .summary-graph .graph {
                width: 20%;
            }

                .summary-graph .graph.-summary {
                    border-right: 1px solid #ddd;
                    margin: 0;
                }
        }

        .summary-graph .graph .title {
            color: #999;
        }

        .summary-graph .piegraph {
            display: inline-block;
        }
    </style>
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <div class="ph2 ph0-xs">
        <div class="p-3 mb-2 mv2 col-container-white text-dark">
            <!--Search Bar -->
            <div class="ph2 pv2">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-control-static">
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeRegion" value="region"> Region
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeLicense" value="license"> License
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="region" id="selectRegion" data-target="region" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                                {
                                    <option value="@ml.REGION_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.REGION_NAME</option>
                                }
                            </select>
                            <select class="selectpicker form-control" name="license" id="selectLicense" data-target="license" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                                {
                                    <option value="@ml.LICENSE_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.LICENSE</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="datePicker" data-datepicker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary rounded-0" onclick="onSubmit()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <a href="@Url.Action("AcceptanceCriteria", "Risk")" class="btn btn-default rounded-0">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Search Bar -->

            <div class="ph2 pv2">
                <div class="summary-graph clearfix">
                    <div class="graph -summary">
                        <h4 class="title">Summary</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-risk="SUMMARY">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-norisk="SUMMARY">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                            <canvas data-pie-chart="SUMMARY"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Internal Corrosion</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-risk="INTERNAL_CORROSION">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-norisk="INTERNAL_CORROSION">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                            <canvas data-pie-chart="INTERNAL_CORROSION"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">External Corrosion</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-risk="EXTERNAL_CORROSION">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-norisk="EXTERNAL_CORROSION">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                            <canvas data-pie-chart="EXTERNAL_CORROSION"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Third Party Interference</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-risk="THIRD_PARTY_INTERFERENCE">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-norisk="THIRD_PARTY_INTERFERENCE">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                            <canvas data-pie-chart="THIRD_PARTY_INTERFERENCE"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Loss of Ground Support</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-risk="LOSS_OF_GROUND_SUPPORT">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-norisk="LOSS_OF_GROUND_SUPPORT">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs" style="margin-top:-2rem;">
                            <canvas data-pie-chart="LOSS_OF_GROUND_SUPPORT"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ph2 pv2">
                <table id="tableRisk" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>RC</th>
                            <th>Risk</th>
                            <th>Value</th>
                            <th>Map</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>x</td>
                            <td>x</td>
                            <td>x</td>
                            <td class="text-center">
                                <a href="#" class="clickable fa fa-globe fa-2x no-underline pointer"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Chart/Chart.PieceLabel.min.js"></script>
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        var data = []

        var tbRisk = $("#tableRisk").DataTable();

        var getRiskJson = function () {
            var mode = $('[name="radioMode"]:checked').val();
            var date = $("#datePicker").datepicker("getDate");
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            axios.post('/Risk/Json', {
                type: mode,
                lists: $('[data-target="' + mode + '"]').val(),
                month: month,
                year: year
            })
                .then(function (response) {
                    var group = {}
                    var pieChart = []
                    var riskScore = {
                        'SUMMARY': {
                            RISK: 0,
                            NO_RISK: 0
                        }
                    }

                    data = response.data
                    group['INTERNAL_CORROSION'] = _.groupBy(data, 'INTERNAL_CORROSION_RISK')
                    group['EXTERNAL_CORROSION'] = _.groupBy(data, 'EXTERNAL_CORROSION_RISK')
                    group['THIRD_PARTY_INTERFERENCE'] = _.groupBy(data, 'THIRD_PARTY_INTERFERENCE_RISK')
                    group['LOSS_OF_GROUND_SUPPORT'] = _.groupBy(data, 'LOSS_OF_GROUND_SUPPORT_RISK')

                    $.each(group, function (i, o) {
                        var risk = o.RISK ? o.RISK.length : 0
                        var noRisk = o.NO_RISK ? o.NO_RISK.length : 0
                        riskScore['SUMMARY'].RISK += risk
                        riskScore['SUMMARY'].NO_RISK += noRisk
                        riskScore[i] = {
                            RISK: risk,
                            NO_RISK: noRisk
                        }
                    });

                    // Card risk
                    $('[data-socre-risk]') && $.each($('[data-socre-risk]'), function (i, e) {
                        var score = riskScore[$(e).data('socre-risk')];
                        $(e).text(score ? score.RISK : 0);
                    })

                    // Card no risk
                    $('[data-socre-norisk]') && $.each($('[data-socre-norisk]'), function (i, e) {
                        var score = riskScore[$(e).data('socre-norisk')];
                        $(e).text(score ? score.NO_RISK : 0);
                    })

                    // Chart
                    $('[data-pie-chart]') && $.each($('[data-pie-chart]'), function (i, e) {
                        var k = $(e).data('pie-chart')
                        var risk = riskScore[k]
                        var noRisk = riskScore[k]
                        var data = [
                            risk ? risk.RISK : 0,
                            noRisk ? noRisk.NO_RISK : 0
                        ]

                        if (pieChart[i] != null) {
                            pieChart[i].destroy();
                        }

                        console.log(riskScore[k])

                        pieChart[i] = new Chart(e.getContext("2d"), {
                            type: 'doughnut',
                            data: {
                                labels: ['Risk', 'No Risk'],
                                datasets: [{
                                    label: "Test Data",
                                    data: data,
                                    fill: false,
                                    backgroundColor: ["#e74c3c", "#16a085"],
                                    hoverBackgroundColor: ["#e74c3c", "#16a085"],
                                    //borderColor: ["#e74c3c", "#f1c40f", "#16a085", "#e67e22"],
                                    borderWidth: 0
                                }]
                            },
                            options: {
                                responsive: true,
                                pieceLabel: { mode: 'value', fontColor: 'white' },
                                title: { display: true },
                                legend: { position: 'bottom' },
                                scales: {
                                    xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' } }],
                                    yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]
                                },
                            }
                        });
                        pieChart[i].update();
                    })

                    // Table
                    tbRisk.clear()

                    $.each(data, function (i, o) {
                        var html = ''
                        html += '<tr>'
                        html += '<td>' + o.RC_NAME + '</td>'
                        html += '<td>' + o.RISK_SCORE_RISK + '</td>'
                        html += '<td>' + Math.round(o.RISK_SCORE * 100) / 100 + '</td>'
                        html += '<td class="text-center">'
                        html += '<a href="#" class="clickable fa fa-globe fa-2x no-underline pointer"></a>'
                        html += '</td>'
                        html += '</tr>'

                        $(html).data('map_info', o);

                        console.log($(html))
                        tbRisk.row.add($(html));
                    });

                    tbRisk.draw();
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        }

        $('[data-datepicker]').datepicker({
            format: "MM yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
            inline: true,
        }).datepicker("setDate", new Date());

        $('#radioModeRegion').prop('checked', true)
        $('select[data-target]').on('loaded.bs.select', function () {
            if ($('[name="radioMode"]:checked').val() !== $(this).data('target')) {
                $(this).prop('disabled', true).parent('.bootstrap-select').hide()
            }
        });

        $('[name="radioMode"]').on('change', function (e) {
            var val = $(this).val()

            $('select[data-target]').prop('disabled', true)
            var select = $('select[data-target="' + val + '"]')
            if (select.length > 0) {
                $('select[data-target]').parent('.bootstrap-select').hide()
                select.prop('disabled', false).parent('.bootstrap-select').show()
            }

            $('.selectpicker').selectpicker('refresh');
        })

        function showMap(id) {
            alert(id)
        }

        function onSubmit() {
            getRiskJson()
        }

        getRiskJson();
    </script>
}