@model PTT_NGROUR.Models.ViewModel.ModelRisk

@{
    ViewBag.Title = "Risk Management Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}

@section style{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css" />
    <link href="~/Scripts/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        .summary-graph .graph {
            width: 100%;
            text-align: center;
            float: left;
            min-height: 1px;
            padding: 0 15px;
            margin-bottom: 50px;
            border-right: 1px solid #ddd;
        }

            .summary-graph .graph:last-child {
                border-right: none;
            }

        @@media (max-width: 767px) {
            .summary-graph .graph {
                border-right: none;
            }
        }

        @@media (min-width: 768px) {
            .summary-graph .graph {
                width: 50%;
            }
        }

        @@media (min-width: 768px) and (max-width: 1199px) {
            .summary-graph .graph:nth-child(2n+0) {
                border-right: none;
            }
        }

        @@media (min-width: 1200px) {
            .summary-graph .graph {
                width: 33.33333333%;
            }
        }

        @@media (min-width: 1200px) and (max-width: 1599px) {
            .summary-graph .graph:nth-child(3n+0) {
                border-right: none;
            }
        }

        @@media (min-width: 1600px) {
            .summary-graph .graph {
                width: 20%;
            }

                .summary-graph .graph:nth-child(5n+1) {
                    border-right: none;
                }

                .summary-graph .graph.-summary {
                    margin: 0 40%;
                }
        }

        .summary-graph .graph .title {
            color: #999;
        }

        .summary-graph .piegraph {
            display: inline-block;
        }

        .summary-graph canvas {
            padding: 0;
            margin: auto;
            display: block;
        }
    </style>
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <div class="ph2 ph0-xs">
        <div class="p-3 mb-2 mv2 col-container-white text-dark">
            <!--Search Bar -->
            <div class="ph2 pv2">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-control-static">
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeRegion" value="region"> Region
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeLicense" value="license"> License
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="region" id="selectRegion" data-target="region" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                                {
                                    <option value="@ml.REGION_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.REGION_NAME</option>
                                }
                            </select>
                            <select class="selectpicker form-control" name="license" id="selectLicense" data-target="license" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                                {
                                    <option value="@ml.LICENSE_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.LICENSE</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="datePicker" data-datepicker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary rounded-0" onclick="onSubmit()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <a href="@Url.Action("AcceptanceCriteria", "Risk")" class="btn btn-default rounded-0">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Search Bar -->

            <div class="ph2 pv2">
                <div class="summary-graph clearfix">
                    <div class="graph -summary">
                        <h4 class="title">Summary</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-norisk="SUMMARY">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-risk="SUMMARY">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs">
                            <canvas data-pie-chart="SUMMARY"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Risk Score</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-norisk="RISK_SCORE">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-risk="RISK_SCORE">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs">
                            <canvas data-pie-chart="RISK_SCORE"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Internal Corrosion</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-norisk="INTERNAL_CORROSION">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-risk="INTERNAL_CORROSION">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs">
                            <canvas data-pie-chart="INTERNAL_CORROSION"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">External Corrosion</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-norisk="EXTERNAL_CORROSION">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-risk="EXTERNAL_CORROSION">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs">
                            <canvas data-pie-chart="EXTERNAL_CORROSION"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Third Party Interference</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-norisk="THIRD_PARTY_INTERFERENCE">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-risk="THIRD_PARTY_INTERFERENCE">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs">
                            <canvas data-pie-chart="THIRD_PARTY_INTERFERENCE"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <h4 class="title">Loss of Ground Support</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-container-green" data-socre-norisk="LOSS_OF_GROUND_SUPPORT">-</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-container-red" data-socre-risk="LOSS_OF_GROUND_SUPPORT">-</div>
                            </div>
                        </div>
                        <div class="piegraph pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs">
                            <canvas data-pie-chart="LOSS_OF_GROUND_SUPPORT"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ph2 pv2">
                <table id="tableRisk" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>RC</th>
                            <th>Risk Score</th>
                            <th>Internal Corrosion</th>
                            <th>External Corrosion</th>
                            <th>Third Party Interference</th>
                            <th>Loss of Ground Support</th>
                            <th>Map</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Modal View Risk -->
<div id="ModalMapRiskDashboard" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class=" modal-lg w-98p5 h-98p5 center mt-9px">
        <div class="modal-content h-98p5" style="padding: 10px">
            <div class="modal-header" style="border-bottom:0px;padding:0px">

                <button type="button" class="close close_create" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>

            <div class="  black-80 center h-97" style="border: 1px solid #808080;">
                <iframe src="@System.Web.Configuration.WebConfigurationManager.AppSettings["DashboardRiskMap"]" style="min-height: 100% !important; width: 100% !important; border-width: 0px" id="risk_map_frame"></iframe>
            </div>
            <br />
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Chart/Chart.PieceLabel.min.js"></script>
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        var key = ['RISK_SCORE', 'INTERNAL_CORROSION', 'EXTERNAL_CORROSION', 'THIRD_PARTY_INTERFERENCE', 'LOSS_OF_GROUND_SUPPORT'];
        var keyText = {
            RISK_SCORE: 'Risk Score',
            INTERNAL_CORROSION: 'Internal Corrosion',
            EXTERNAL_CORROSION: 'External Corrosion',
            THIRD_PARTY_INTERFERENCE: 'Third Party Interference',
            LOSS_OF_GROUND_SUPPORT: 'Loss of Ground Support'
        }
        var data = []
        var pieChart = []



        var thead = '<tr>'
        thead += '<th>RC</th>'
        key.forEach(function (v) {
            thead += `<th>${keyText[v]}</th>`
        })
        thead += '<th>Map</th>'
        thead += '</tr>'

        $("#tableRisk thead").html(thead)

        var tbRisk = $("#tableRisk").DataTable();

        $('#tableRisk tbody').on('click', '[data-action="showmap"]', function (e) {
            e.preventDefault()

            var info = $(this).data();
            map_dashboard_risk_json = {
                "menu": "risk-report",
                "type": "PIPELINE",
                "command": "view",
                "flag": false,
                "flagby": "",
                "parameter": {
                    "NAME": info.rc_name,
                    "YEAR": info.year
                }
            }

            console.log(map_dashboard_risk_json)

            var risk_map_frame = document.getElementById('risk_map_frame');
            risk_map_frame.contentWindow.postMessage(map_dashboard_risk_json, '*');
            $('#ModalMapRiskDashboard').modal('show');
        });

        Chart.plugins.register({
            afterDraw: function (chart) {
                if (chart.data.datasets.length === 0) {
                    // No data is present
                    var ctx = chart.chart.ctx;
                    var width = chart.chart.width;
                    var height = chart.chart.height
                    chart.clear();

                    ctx.save();
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'middle';
                    ctx.font = "20px Tahoma";
                    ctx.fillText('No Data Available', width / 2, height / 2);
                    ctx.restore();
                }
            }
        });

        var getRiskJson = function () {
            var mode = $('[name="radioMode"]:checked').val();
            var date = $("#datePicker").datepicker("getDate");
            var year = date.getFullYear();
            axios.post('/Risk/Json', {
                type: mode,
                lists: $('[data-target="' + mode + '"]').val(),
                year: year
            })
                .then(function (response) {
                    var group = {}
                    var riskScore = []

                    data = response.data
                    if (data.length > 0) {
                        riskScore['SUMMARY'] = {
                            RISK: 0,
                            NO_RISK: 0
                        }

                        key.forEach(function (v, i) {
                            group[v] = _.groupBy(data, `${v}_RISK`)
                        })

                        $.each(group, function (i, o) {
                            var risk = o.RISK ? o.RISK.length : 0
                            var noRisk = o.NO_RISK ? o.NO_RISK.length : 0
                            riskScore['SUMMARY'].RISK += risk
                            riskScore['SUMMARY'].NO_RISK += noRisk
                            riskScore[i] = {
                                RISK: risk,
                                NO_RISK: noRisk
                            }
                        });

                        // Card risk
                        $('[data-socre-risk]') && $.each($('[data-socre-risk]'), function (i, e) {
                            var score = riskScore[$(e).data('socre-risk')];
                            $(e).text(score ? score.RISK : 0);
                        })

                        // Card no risk
                        $('[data-socre-norisk]') && $.each($('[data-socre-norisk]'), function (i, e) {
                            var score = riskScore[$(e).data('socre-norisk')];
                            $(e).text(score ? score.NO_RISK : 0);
                        })
                    } else {
                        $('[data-socre-risk], [data-socre-norisk]').text('-');
                    }


                    // Chart
                    $('[data-pie-chart]') && $.each($('[data-pie-chart]'), function (i, e) {
                        if (pieChart[i]) {
                            pieChart[i].destroy();
                        }

                        var datasets = []

                        if (data.length > 0) {
                            var _riskScore = riskScore[$(e).data('pie-chart')]

                            datasets = [{
                                label: "Test Data",
                                data: [
                                    _riskScore ? _riskScore.RISK : 0,
                                    _riskScore ? _riskScore.NO_RISK : 0
                                ],
                                fill: false,
                                backgroundColor: ["#e74c3c", "#16a085"],
                                hoverBackgroundColor: ["#e74c3c", "#16a085"],
                                //borderColor: ["#e74c3c", "#f1c40f", "#16a085", "#e67e22"],
                                borderWidth: 0
                            }]
                        }

                        var _data = {
                            labels: ['Risk', 'No Risk'],
                            datasets: datasets
                        }

                        var objGraph = new Chart(e.getContext("2d"), {
                            type: 'doughnut',
                            data: _data,
                            options: {
                                responsive: true,
                                pieceLabel: { mode: 'value', fontColor: 'white' },
                                title: { display: true },
                                legend: { position: 'bottom' },
                                scales: {
                                    xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' } }],
                                    yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]
                                },
                            }
                        });
                        objGraph.update();

                        pieChart[i] = objGraph;
                    })

                    // Table
                    tbRisk.clear()

                    $.each(data, function (i, o) {
                        var hasRisk = _.includes(Object.values(o), 'RISK');
                        var rcNameStyle = '';

                        if (hasRisk) rcNameStyle = 'color:#e74c3c'

                        var tr = ''
                        tr += '<tr>'
                        tr += `<td style="${rcNameStyle}">${o.RC_NAME}</td>`
                        key.forEach(function (v) {
                            var style = ''
                            var value = (Math.round((o[v] || 0) * 100) / 100).toLocaleString('th')

                            if (v !== 'RISK_SCORE') {
                                value = value + '%'
                            }

                            if (o[`${v}_RISK`] === 'RISK') {
                                style = 'background-color: ' + o[v + '_COLOR'] + '; color: #fff;'
                            }
                            tr += `<th style="${style}">${value}</th>`
                        })
                        tr += '<td class="text-center">'

                        var _data = ' data-action="showmap"'
                        $.each(o, function (k, v) {
                            _data += ` data-${k}="${v}"`
                        })
                        tr += `<a href="#"${_data} class="fa fa-globe fa-2x no-underline pointer"></a>`
                        tr += '</td>'
                        tr += '</tr>'

                        tbRisk.row.add($(tr));
                    });

                    tbRisk.draw();
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        }

        $('[data-datepicker]').datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true,
            inline: true,
        }).datepicker("setDate", new Date());

        $('#radioModeRegion').prop('checked', true)
        $('select[data-target]').on('loaded.bs.select', function () {
            if ($('[name="radioMode"]:checked').val() !== $(this).data('target')) {
                $(this).prop('disabled', true).parent('.bootstrap-select').hide()
            }
        });

        $('[name="radioMode"]').on('change', function (e) {
            var val = $(this).val()

            $('select[data-target]').prop('disabled', true)
            var select = $('select[data-target="' + val + '"]')
            if (select.length > 0) {
                $('select[data-target]').parent('.bootstrap-select').hide()
                select.prop('disabled', false).parent('.bootstrap-select').show()
            }

            $('.selectpicker').selectpicker('refresh');
        })

        function showMap(id) {
            alert(id)
        }

        function onSubmit() {
            getRiskJson()
        }

        getRiskJson();
    </script>
}