@model PTT_NGROUR.Models.ViewModel.ModelRisk

@{
    ViewBag.Title = "Risk Management Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PTT_NGROUR.Models.User users = new PTT_NGROUR.Models.User();
    @Html.Hidden("username", users.Username);
    @Html.Hidden("flag", users.Roleid);
}

@section style{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css" />
    <link href="~/Scripts/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        .axis {
            font-size: 14px;
        }

            .axis path, .axis line {
                fill: none;
                stroke: rgba(0,0,0,.25);
                shape-rendering: crispEdges;
            }

        #chart {
            display: inline-block;
            overflow: hidden;
        }

        #tooltip {
            position: absolute;
            color: #fff;
            background-color: #000;
            padding: 5px;
            border-radius: 5px;
            text-align: left;
        }

        .chart-wrapper {
            text-align: center;
        }

            .chart-wrapper .chart {
                display: inline-block;
                margin: auto 0;
                border: 1px solid #666;
            }
    </style>
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <div class="ph2 ph0-xs">
        <div class="p-3 mb-2 mv2 col-container-white text-dark">
            <!--Search Bar -->
            <div class="ph2 pv2">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-control-static">
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeRegion" value="region"> Region
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeLicense" value="license"> License
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioMode" id="radioModeRisk" value="risk"> Risk
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="selectpicker form-control" name="region" id="selectRegion" data-target="region" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                                {
                                    <option value="@ml.REGION_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.REGION_NAME</option>
                                }
                            </select>
                            <select class="selectpicker form-control" name="license" id="selectLicense" data-target="license" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelLicenseMaster ml in Model.ListLicense)
                                {
                                    <option value="@ml.LICENSE_ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.LICENSE</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="datePicker" data-datepicker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary rounded-0" onclick="onSubmit()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <a href="@Url.Action("AcceptanceCriteria", "Risk")" class="btn btn-default rounded-0">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Search Bar -->

            <div class="ph2 pv2">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="form-group">
                            <label>Export to</label>
                            <div>
                                <button class="btn btn-default" onclick="ExportTo('pdf')">&nbsp;&nbsp;&nbsp;&nbsp;PDF&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Display</label>
                            <select class="selectpicker form-control" name="riskType" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                                @foreach (PTT_NGROUR.Models.DataModel.ModelRiskType ml in Model.ListRiskType)
                                {
                                    <option value="@ml.ID" class="text-grey" style="word-wrap:break-word; font-size:15px" selected>@ml.RISK_TYPE</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div class="chart">
                        <h4>Distribution Pipeline risk</h4>
                        <div id="chart"></div>
                        <div id='tooltip' style="opacity: 0"></div>
                    </div>
                </div>
                <hr />
                <br />
                <table id="tableRisk" class="table table-bordered">
                    <thead>
                        <tr>
                            @*<th>No.</th>*@
                            <th>Year</th>
                            <th>Update at</th>
                            <th>Update by</th>
                            <th>Update file</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Html.Partial("Partial/ScriptGraphInclude")
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    @Html.Partial("Partial/ScriptGraph")
    <script>
        var isPrintMode = false
        $('[data-datepicker]').datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true,
            inline: true,
        }).datepicker("setDate", new Date());

        $('#radioModeRegion').prop('checked', true)

        $('select[data-target]').on('loaded.bs.select', function () {
            if ($('[name="radioMode"]:checked').val() !== $(this).data('target')) {
                $(this).prop('disabled', true).parent('.bootstrap-select').hide()
            }
        });

        $('[name="radioMode"]').on('change', function (e) {
            var val = $(this).val()

            $('select[data-target]').prop('disabled', true)
            var select = $('select[data-target="' + val + '"]')
            if (select.length > 0) {
                $('select[data-target]').parent('.bootstrap-select').hide()
                select.prop('disabled', false).parent('.bootstrap-select').show()
            }

            $('.selectpicker').selectpicker('refresh');
        })

        var thead = '<tr>'
        thead += '<th>Region</th>'
        thead += '<th>RC</th>'
        key.forEach(function (v) {
            thead += `<th>${keyText[v]}</th>`
        })
        thead += '</tr>'

        $("#tableRisk thead").html(thead)

        var tableRisk = $("#tableRisk").DataTable()



        function onSubmit() {
            getRiskJson()
        }

        function initMapTable(data) {
            $('#tableRisk_filter .form-control').val('')
            $('#tableRisk_filter .form-control').trigger('keyup')
            tableRisk.clear()
            if (typeof data !== 'undefined' && data.length > 0) {
                _.forEach(data, function (o) {
                    var tr = ''
                    tr += '<tr>'
                    tr += `<td>${o.REGION}</td>`;
                    tr += `<td>${o.RC_NAME}</td>`;
                    key.forEach(function (v) {
                        var style = ''
                        var value = (Math.round((o[v] || 0) * 100) / 100).toLocaleString('th')

                        if (v !== 'RISK_SCORE') {
                            value = value
                        }

                        if (o[`${v}_RISK`] === 'RISK') {
                            style = 'background-color: ' + o[v + '_COLOR'] + '; color: #fff;'
                        }
                        tr += `<th style="${style}">${value}</th>`
                    })
                    tr += '</tr>'

                    tableRisk.row.add($(tr));
                });
            }

            tableRisk.draw();
        }

        var getRiskJson = function () {
            var mode = $('[name="radioMode"]:checked').val();
            var date = $("#datePicker").datepicker("getDate");
            var year = date.getFullYear();
            axios.post('/Risk/Json', {
                type: mode,
                lists: $('[data-target="' + mode + '"]').val(),
                year: year
            })
                .then(function (response) {
                    data = response.data
                    renderChart(data)
                    initMapTable(data)
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        }

        var ExportTo = function (type) {
            var mode = $('[name="radioMode"]:checked').val();
            var date = $("#datePicker").datepicker("getDate");
            var year = date.getFullYear();

            var f = document.createElement("form");
            //f.action = "/Risk/RiskManagementGraphPrint";
            f.action = "/Risk/RiskManagementGraphExport";
            f.method = "post";
            f.target = "blank";


            var i1 = document.createElement("input");
            i1.name = "Type";
            i1.value = mode;
            f.appendChild(i1);

            var i2 = document.createElement("input");
            i2.name = "Year";
            i2.value = year;
            f.appendChild(i2);

            var i3 = document.createElement("input");
            i3.name = "strLists";
            i3.value = $('[data-target="' + mode + '"]').val();
            f.appendChild(i3);

            var i4 = document.createElement("input");
            i4.name = "strRiskType";
            i4.value = $('[name="riskType"]').val().join(',');
            f.appendChild(i4);

            $('body').append(f);

            f.submit();
            f.remove();
        }

        $('[name="riskType"]').on('change', function () {
            renderChart(data)
        })

        getRiskJson();
    </script>
}